/* @override 
	http://localhost:9080/stylesheets/module/array-create.css */

.form-source .section-header {
	margin-top: 100px;
}

.form-source .section-title {
	margin-top: 0;
}

.panel-source {
	border-width: 2px;
}

.panel-source .panel-body {
	padding: 20px;
}

.panel-body-title {
	margin-top: 0;
	margin-bottom: 0;
}

.form-source .radio label {
	padding-left: 0;
	width: 100%;
}

.form-source .panel-source:hover {
	border-color: #9b9b9b;
}

/*.form-source input[type="radio"]:checked + .panel-source {
	border-color: #9b9b9b;
}*/

/*.form-source input[type="radio"]:checked + .panel-source:after {
	position: absolute;
	top: 15px;
	right: 15px;
	display: block;
	padding-top: 4px;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background-color: #9b9b9b;
	color: white;
	content: "\e013";
	text-align: center;
	font-size: 16px;
	font-family: "Glyphicons Halflings";
}*/