/* @override 
	http://localhost:9080/stylesheets/module/chart.css */
	
.array-chart .sort-bar {
	border-bottom-style: none;
}

#chart {
	margin-bottom: 30px;
}

#chart svg {
	height: calc(100vh - 300px);
}

/* @group Chart Styling */

.nvd3.nv-pie path {
	stroke-width: 0;
}

/* @end Chart Styling */