/* @override 
	http://localhost:9080/stylesheets/module/chart.css */

.array-chart .sort-bar {
	border-bottom-style: none;
}

#chart {
	height: calc(100vh - 270px);
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
}

.chart-container,
.legend {
	transition: transform 400ms ease-in-out, width 400ms ease-in-out;
}

.chart-container {
	width: calc(100%);
}

.legend-open .chart-container {
	width: calc(100% - var(--legend-width));
}

/* @group Legend */

.search-form {
	display: inline-block;
	vertical-align: top;
}

.legend-toggle {
	margin-left: 20px;
	color: var(--color-text-ultralight);
}

.legend-toggle > span {
	display: inline-block;
	width: 1em;
	line-height: 40px;
}

.array-chart .array-content {
	position: relative;
}

.legend {
	position: absolute;
	top: 0;
	right: calc(0px - var(--legend-width));
	bottom: 0;
	z-index: 1;
	overflow-y: auto;
	padding-top: 50px;
	width: var(--legend-width);
	background-color: var(--color-background);
	padding-bottom: 50px;
}

.legend-open .legend {
	transform: translate(calc(0px - var(--legend-width)));
}

.legend-close {
	margin-right: 40px;
}

.legend-title {
	margin-bottom: 40px;
	padding-left: 40px;
	margin-top: 0;
}

.legend-list {
	padding-left: 0;
	list-style-type: none;
}

.legend-list-item {
	position: relative;
	font-size: 18px;
}

.legend-list-link {
	display: inline-block;
	padding: 10px 20px 10px 80px;
	width: 100%;
	color: var(--color-text-dark);
	line-height: 20px;
}

.legend-dot {
	position: absolute;
	top: 10px;
	left: 40px;
	display: block;
	margin-right: 20px;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background-color: silver;
	vertical-align: middle;
}

.legend-list-link:hover {
	background-color: #ffffff;
	color: var(--color-text-dark);
	text-decoration: none;
}

/* @end Legend */

/* @group Reponsive chart */

.svg-container {
	position: relative;
	display: inline-block;
	overflow: hidden;
	padding-bottom: 100%; /* aspect ratio */
	width: 100%;
	vertical-align: top;
}

.svg-content-responsive {
	position: absolute;
	top: 10px;
	left: 0;
	display: inline-block;
}

/* @end Responsive chart */

/* @group Chart Styling */

.nvd3.nv-pie path {
	stroke-width: 0;
}

.nvtooltip {
	position: relative;
	padding: 10px 15px;
	border-color: #eeeeee;
	border-radius: 4px;
	background-color: #ffffff;
	box-shadow: var(--box-shadow);
	font-family: var(--font-family-calibre);
}

.nvtooltip:after,
.nvtooltip:before {
	position: absolute;
	top: 50%;
	right: 100%;
	width: 0;
	height: 0;
	border: solid transparent;
	content: " ";
	pointer-events: none;
}

.nvtooltip:after {
	margin-top: -10px;
	border-width: 10px;
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
}

.nvtooltip:before {
	margin-top: -11px;
	border-width: 11px;
	border-color: rgba(238, 238, 238, 0);
	border-right-color: #eeeeee;
}

.nvtooltip table {
	display: block;
	margin: 0;
	padding: 0;
}

.nvtooltip table td {
	display: block;
	margin: 0;
	padding: 0;
}

.nvtooltip table td.legend-color-guide div {
	display: none;
}

.nvtooltip table td.key,
.nvtooltip table td.value {
	text-align: left;
	font-size: 17px;
	line-height: 20px;
}

.nvtooltip table td.key {
	color: var(--color-text-med);
	font-weight: 600;
}

.nvtooltip table td.value {
	color: #a8a8a8;
	font-weight: normal;
}

/* @end Chart Styling */