/* @override 
	http://localhost:9080/stylesheets/module/chart.css */

#chart {
	margin-top: 15px;
}

#chart svg {
	height: calc(100vh - 300px);
}

.array-chart .sort-bar {
	border-bottom-style: none;
}