/* @override 
	http://localhost:9080/stylesheets/module/choropleth.css */
	
.array-choropleth .site-content {
	height: calc(100vh - 60px);
}

@media (min-width: 768px) {
	.array-choropleth  .site-content {
		height: calc(100vh - 70px);
	}
}

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.array-choropleth .sort-bar {
	border-bottom-style: none;
}

.array-choropleth .sort-control .dropdown-toggle {
	margin-bottom: 5px;
	padding: 15px 20px;
	border-radius: 5px;
	background-color: #ffffff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.array-choropleth .sort-control.open > .btn-default.dropdown-toggle,
.array-choropleth .sort-control .dropdown-toggle:hover,
.array-choropleth .sort-control .dropdown-toggle:focus,
.array-choropleth .sort-control .dropdown-toggle:active {
	background-color: #ffffff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}