/* @override 
	http://localhost:9080/stylesheets/module/choropleth.css */

.array-choropleth .site-content {
	height: calc(100vh - 50px);
}

@media (min-width: 768px) {
	.array-choropleth  .site-content {
		height: calc(100vh - 64px);
	}
}

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.array-choropleth .sort-bar {
	border-bottom-style: none;
}

.dropdown-toggle-button-group,
.sort-control .dropdown-toggle-button {
	margin-bottom: 5px;
	border-radius: 5px;
	background-color: #ffffff;
	box-shadow: var(--box-shadow);
}

.dropdown-toggle-button-group {
	padding: 0;
}

.sort-control .dropdown-toggle-button,
.dropdown-toggle-button-group .dropdown-toggle {
	padding: 15px 20px;
}

.sort-control.open > .btn-default.dropdown-toggle-button,
.sort-control .dropdown-toggle-button:hover,
.sort-control .dropdown-toggle-button:focus,
.sort-control .dropdown-toggle-button:active {
	background-color: #ffffff;
	box-shadow: var(--box-shadow);
}

.sort-control-left {
	margin-right: -3px;
}

.sort-control-left .dropdown-toggle-button {
	margin-right: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.sort-control-left .dropdown-toggle,
.sort-control-left.open > .btn-default.dropdown-toggle,
.sort-control-left .dropdown-toggle:hover,
.sort-control-left .dropdown-toggle:focus,
.sort-control-left .dropdown-toggle:active {
	background-color: var(--color-background);
}

.sort-control-right {
}

.sort-control-right .dropdown-toggle-button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}