/* @override 
	http://localhost:9080/stylesheets/module/gallery-grid.css */
	
/* @group Array Header */

.array-header {
	position: relative;
	z-index: 500;
	padding: 25px 15px 20px;
	background-color: var(--color-background);
	text-align: center;
}

@media (min-width: 768px) {
	.array-header {
		padding: 35px 15px 30px;
	}
}

.array-title {
	margin-top: 0;
	margin-bottom: 5px;
	color: black;
	font-weight: bold;
	font-size: 42px;
}

.array-meta {
	color: var(--color-text-light);
	font-size: 18px;
}

.array-meta-divider:before {
	padding-right: 0.25em;
	padding-left: 0.25em;
	content: "|";
}

/* @end Array Header */

.gallery-grid {
	margin-right: -5px;
	margin-left: -5px;
	padding-left: 0;
	list-style-type: none;
}

@media (min-width: 768px) {
	.gallery-grid {
		margin-right: -20px;
		margin-left: -20px;
	}
}

.gallery-item {
	position: relative;
	display: inline-block;
	margin-right: -0.25em;
	margin-bottom: 10px;
	padding-right: 5px;
	padding-left: 5px;
	width: 50%;
}

@media (min-width: 768px) {
	.gallery-item {
		margin-bottom: 30px;
		padding-right: 15px;
		padding-left: 15px;
		width: 16.6667%;
	}
}

.gallery-image {
	width: 100%;
	height: auto;
}

.gallery-tooltip {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1000;
	display: none;
	padding: 35px 40px;
	width: 200%;
	border: 1px solid #eeeeee;
	background-color: white;
}

.gallery-item a:hover .gallery-tooltip {
	display: block;
}

.gallery-title {
	margin: 0;
	color: #777777;
	font-size: 20px;
}