/* @override 
	http://localhost:9080/stylesheets/module/header-bar.css */

.container-fluid.container-full-width {
	padding-right: 15px;
	padding-left: 0;
	max-width: 100%;
}

.navbar-default {
	height: 50px;
	border-bottom-style: none;
	box-shadow: 0 2px 4px;
	color: var(--color-shadow);
	font-size: 18px;
}

@media (min-width: 768px) {
	.navbar-default {
		height: 70px;
		font-size: 24px;
	}
}

#page .navbar-default .navbar-brand-container {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	text-align: center;
}

#page .navbar-default .navbar-brand {
	display: inline-block;
	float: none;
	margin-right: auto;
	margin-left: auto;
	font-weight: bold;
	font-size: 22px;
}

@media (min-width: 768px) {
	.navbar-default .navbar-brand {
		font-size: 28px;
	}
}

.navbar-default .navbar-brand-arrays {
	text-transform: uppercase;
	letter-spacing: 10px;
	font-size: 20px;
}

/* @group Filter active */

#navbar .active .sidebar-filter-toggle {
	background-color: transparent;
	/*color: var(--color-primary);*/
	color: black;
}

/* @end Filter active*/

/* @group Dropdown */

.dropdown-menu {
	border-radius: 0;
}

.navbar-nav > li > a {
	padding-right: 10px;
	padding-left: 10px;
}

@media (min-width: 768px) {
	.navbar-nav > li > a {
		padding-right: 20px;
		padding-left: 20px;
	}
}

.navbar-nav .open .dropdown-menu > li > a {
	padding: 13px 20px;
}

/* @end Dropdown */

/* @group Search Dropdown */

.dropdown-search {
	padding: 20px;
	width: 280px;
}

.dropdown-search .form-control {
	margin-top: 15px;
	padding: 13px 20px;
	height: auto;
	border-color: #979797;
	border-radius: 0;
	background-color: transparent;
	color: white;
	font-size: 16px;
}

.dropdown-search .form-control:focus {
	border-color: white;
	box-shadow: none;
}

.dropdown-search .dropdown-toggle {
	padding-top: 13px;
	padding-bottom: 13px;
	width: 100%;
	border-color: #979797;
	border-radius: 0;
	background-color: #979797;
	color: white;
	text-align: left;
}

.search-criteria {
	font-weight: bold;
}

.search-dropdown-menu {
	width: 100%;
}

/* @end Search Dropdown */