/* @override 
	http://localhost:9080/stylesheets/module/keyword-frequency.css */

.keyword-frequency-list {
	margin-bottom: 0;
	padding-top: 30px;
	padding-bottom: 90px;
	padding-left: 0;
	list-style-type: none;
}

.keyword-frequency-item {
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 15px;
	padding: 10px 20px;
	border-radius: 4px;
	box-shadow: var(--box-shadow);
	vertical-align: bottom;
	font-size: 24px;
}