.linechart .y-axis path {
	visibility: hidden;
}

.linechart svg.viewport .line {
	fill: none;
	stroke-width: 2;
}

.linechart svg.navigation .line {
    fill: none;
    stroke-width: 1;
}

.linechart .brush-background {
    fill-opacity: .125;
    stroke: #c3c3c3;
    stroke-width: 2;
    shape-rendering: crispEdges;
}

.linechart .brush-handle {
    fill: #c3c3c3;
    stroke: #fff;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.linechart .brush .extent {
    fill: #fff;
    fill-opacity: 0;
    shape-rendering: crispEdges;
}