/* @override 
	http://localhost:9080/stylesheets/module/modal.css */

.modal-content {
	border-radius: 4px;
	background-color: var(--color-background);
	box-shadow: var(--box-shadow-dark);
}

.modal-header {
	padding: 20px 30px 0;
	border-bottom-style: none;
}

.modal-title {
	padding-bottom: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: var(--color-text-ultralight);
	color: #000000;
	font-weight: bold;
	font-size: 36px;
}

.modal-body {
	padding: 30px;
}

.modal-body h3 {
	color: var(--color-text-dark);
	font-weight: normal;
	font-size: 24px;
}

.modal-body #facebook {
	display: inline-block;
}

.modal-body pre {
	border-radius: 0;
	background-color: #ffffff;
	font-size: 24px;
}

.btn-social {
	margin-right: 15px;
	border: 1px solid #ffffff;
	box-shadow: var(--box-shadow);
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
	font-size: 20px;
}