#scatterplot circle.bubble {
	fill: orange;
	stroke: #fff;
	stroke-width: 1;
}

#scatterplot .axis path, #scatterplot .axis line {
	fill: none;
	stroke: black;
	stroke-width: 1px;
}

#scatterplot .label {
	text-transform: uppercase;
	font-size: 1.5em;
}