/* @override 
	http://localhost:9080/stylesheets/module/sidebar-filter.css */

.sidebar-filter {
	position: fixed;
	top: 0;
	left: -200px;
	z-index: 1030;
	width: 200px;
	height: 100vh;
	background-color: var(--color-sidebar-bg);
}

.sidebar-filter,
.navbar-fixed-top,
.site-content {
	transition: transform 400ms ease-in-out;
}

.sidebar-filter-in .sidebar-filter,
.sidebar-filter-in .navbar-fixed-top,
.sidebar-filter-in .site-content {
	transform: translate(200px);
}

.sidebar-filter a {
	display: inline-block;
	padding: 13px 20px;
	width: 100%;
	color: #ffffff;
}

.sidebar-filter a:hover,
.sidebar-filter a:focus,
.sidebar-filter a:active {
	text-decoration: none;
}

.sidebar-filter-group,
.sidebar-filter-subgroup {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}

.sidebar-filter-group-item > a {
	border-bottom: 1px solid var(--color-sidebar-bg);
	background-color: var(--color-sidebar-fg);
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
}

.sidebar-filter-subgroup-item > a {
	border-bottom: 1px solid var(--color-sidebar-fg);
	background-color: var(--color-sidebar-bg);
	font-size: 18px;
}

.sidebar-filter-subgroup-item > a:hover {
	background-color: var(--color-primary);
	color: var(--color-sidebar-bg);
}

