/* @override 
	http://localhost:9080/stylesheets/module/sidebar-filter.css */

.sidebar-filter {
	position: fixed;
	top: 0;
	left: calc(0px - var(--sidebar-width));
	z-index: 1030;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	width: var(--sidebar-width);
	height: 100vh;
	background-color: var(--color-sidebar-bg);
}

.sidebar-filter,
.navbar-fixed-top,
.site-content {
	transition: transform 400ms ease-in-out;
}

.sidebar-filter-in .sidebar-filter,
.sidebar-filter-in .navbar-fixed-top,
.sidebar-filter-in .site-content {
	transform: translate(var(--sidebar-width));
}

.sidebar-filter a {
	display: inline-block;
	padding: 17px 15px;
	width: 100%;
	color: #ffffff;
}

.sidebar-filter a:hover,
.sidebar-filter a:focus,
.sidebar-filter a:active {
	text-decoration: none;
}

.sidebar-filter-group,
.sidebar-filter-subgroup {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}

.sidebar-filter-group-item > a {
	border-bottom: 1px solid var(--color-sidebar-bg);
	background-color: var(--color-sidebar-fg);
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 16px;
	line-height: 1em;
}

.sidebar-filter-subgroup-item > a {
	border-bottom: 1px solid var(--color-sidebar-fg);
	font-size: 18px;
	line-height: 1em;
}

.sidebar-filter-subgroup-item > a.sidebar-filter-active,
.sidebar-filter-subgroup-item > a:hover {
	/*color: var(--color-sidebar-bg);*/
}