/* @override 
	http://localhost:9080/stylesheets/module/sort-bar.css */
	
#array-controls {
	z-index: 1;
	background-color: #ffffff;
}

/* @group Sort Bar */

.sort-bar {
	position: relative;
	z-index: 1;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid var(--color-divider);
}

@media (min-width: 768px) {
	.sort-bar {
		padding-top: 30px;
		padding-bottom: 25px;
	}
}

.sort-control {
	display: inline-block;
	margin-right: 20px;
	padding-right: 0;
	padding-left: 0;
	vertical-align: top;
}

.sort-control:last-child {
	margin-right: 0;
}

.sort-direction {
	margin-right: 0;
}

@media (min-width: 768px) {
	.sort-direction {
		margin-right: 0;
		margin-left: 15px;
	}
}

.sort-direction-icon {
	color: black;
}

.sort-control .dropdown-toggle {
	padding-top: 6px;
	padding-bottom: 6px;
}

.sort-control .dropdown-toggle:hover,
.sort-control .dropdown-toggle:focus,
.sort-control .dropdown-toggle:active {
	box-shadow: none;
}

.sort-criteria,
.search-criteria {
	color: var(--color-text-dark);
	font-weight: 600;
}

.sort-control .dropdown-menu {
	overflow-y: auto;
	max-height: calc(100vh - 300px);
}

.sort-control .dropdown-menu > li > a {
	padding: 15px 20px;
	font-size: 18px;
}

.sort-control .dropdown-menu > li > a:hover {
	/*color: var(--color-text-dark);*/
}

/* @end Sort Bar */

/* @group Search form */

.search-input {
	display: inline-block;
	padding: 0;
	width: 140px;
	height: auto;
	border-style: none;
	border-radius: 0;
	background-color: transparent;
	box-shadow: none;
	vertical-align: baseline;
	font-size: 18px;
	line-height: 22px;
}

.search-input:focus {
	box-shadow: none;
}

.search-icon {
	position: relative;
	top: 2px;
	right: -10px;
	display: inline-block;
	margin-top: -15px;
	margin-bottom: -15px;
	color: var(--color-text-ultralight);
}

/* @end Search form */

/* @group Filter Bar */

.filter-bar {
	padding-top: 25px;
	padding-bottom: 5px;
}

.filter-label {
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;
}

.filter-bar-fixed-bottom {
	position: absolute;
	bottom: 0;
	z-index: 1;
	padding-bottom: 30px;
}

.filter-tag {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
	padding: 4px 0 4px 15px;
	border-width: 1px;
	border-style: solid;
	border-radius: 1000px;
	color: #777777;
	font-weight: normal;
	font-size: 16px;
}

.filter-bar-fixed-bottom .filter-tag {
	background-color: #ffffff;
	box-shadow: var(--box-shadow);
}

/* @end Filter Bar */

.filter-count {
	margin-top: 15px;
	margin-bottom: 15px;
	color: var(--color-sort-bar-label);
	text-align: right;
	font-size: 16px;
}