/* @override 
	http://localhost:9080/stylesheets/module/timeline.css */

/* @group Timeline Layout */

.array-timeline .filter-bar-fixed-bottom {
	position: fixed;
}

/* @end Timeline Layout */
	
/* @group Timeline */

.timeline-list {
	margin: 20px -5px 100px;
	padding-left: 0;
	list-style-type: none;
}

.timeline-group {
	position: relative;
	margin-left: 0;
	padding-bottom: 20px;
	padding-left: 60px;
}

.timeline-group:before {
	position: absolute;
	top: 0;
	left: 23px;
	display: block;
	width: 1px;
	height: 100%;
	background-color: var(--color-sort-bar-border);
	content: "";
}

.timeline-group:first-child:before {
	top: 65px;
}

.timeline-group:last-child:before {
	top: 0;
	height: 55px;
}

.timeline-group:only-child:before {
	top: 0;
	height: 0;
}

.timeline-group:after {
	position: absolute;
	top: 55px;
	left: 12px;
	display: block;
	width: 24px;
	height: 24px;
	border-radius: 1000px;
	background-color: white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	content: "";
}

.timeline-group-label {
	margin-right: 5px;
	margin-left: 5px;
	color: var(--color-text-dark);
	font-size: 16px;
}

.timeline-group-list {
	margin-top: 5px;
	padding-left: 0;
}

.timeline-group-item {
	position: relative;
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
	vertical-align: top;
	text-align: left;
}

.timeline-item {
	overflow: hidden;
	width: 80px;
	height: 80px;
	border: 1px solid white;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.timeline-link {
	display: block;
	width: 100%;
	padding-bottom: 100%;
}

.timeline-image {
	width: 100%;
	height: auto;
}

.timeline-view-all-link {
	display: block;
	padding: 15px 10px;
	width: 100%;
	height: 100%;
	color: var(--color-text-med);
	font-size: 17px;
}

.timeline-view-all-link:hover,
.timeline-view-all-link:focus,
.timeline-view-all-link:active {
	text-decoration: none;
}

.timeline-view-all-label {
	display: block;
	font-weight: 600;
	line-height: 0.8em;
}

/* @end Timeline */

/* @group Tooltip */

.global-tooltip {
	display: none;
}

.timeline-group-item:hover .global-tooltip {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}

/* @end Tooltip */