div.arrays-co-tooltip {
	position: absolute;
	border-radius: 3px;
	visibility: hidden;
	box-shadow: 0.1em 0.1em 0.2em lightgrey, -0.05em -0.05em 0.1em lightgrey;
}


div.arrays-co-tooltip .scatterplot-tooltip-container {
	width: 150px;
	overflow: hidden;
}

div.arrays-co-tooltip .scatterplot-tooltip-image {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	width: 150px;
	height: 200px;
	background-position: center;
}

div.arrays-co-tooltip .scatterplot-tooltip-title {
	padding: 0.1em 0.5em;
	min-height: 2.5em;
}