/* @override 
	http://localhost:9080/stylesheets/module/word-cloud.css */

.word-cloud-list {
	margin-bottom: 0;
	padding-top: 30px;
	padding-bottom: 90px;
	padding-left: 0;
	list-style-type: none;
}

.word-cloud-item {
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 15px;
	vertical-align: bottom;
}

.word-cloud-link {
	display: block;
	padding: 10px 20px;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	border-radius: 4px;
	box-shadow: var(--box-shadow);
	font-size: 24px;
}

.word-cloud-link:hover,
.word-cloud-link:focus,
.word-cloud-link:active {
	text-decoration: none;
}