<!DOCTYPE html>
<html lang="en" class="no-js" ng-app="arraysApp">
<head>
    {% include "../partials/base_header.html" %}

    <title>Admin - Arrays</title>

    <base href="/">
</head>

<body ng-controller="adminCtrl" class="site-admin" ng-init="init()">
    <div id="page" class="site" ui-view></div>

    {% include "../partials/survicate.html" %}

    <script src="https://code.jquery.com/jquery-2.2.2.min.js"
            integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>

    <!-- bootstrap -->
    <script type="text/javascript" src="/javascripts/vendors/bootstrap/bootstrap.js"></script>
    <!-- angular -->
    <script type="text/javascript" src="/javascripts/vendors/angular/angular.js"></script>
    <script type="text/javascript" src="/javascripts/vendors/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="/javascripts/vendors/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="/javascripts/vendors/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/javascripts/vendors/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="/javascripts/vendors/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="/javascripts/vendors/angular-material/angular-material.min.js"></script>

    <script type="text/javascript" src="/javascripts/vendors/ngstorage/ngStorage.min.js"></script>
    <script type="text/javascript" src="/javascripts/vendors/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <!-- lazyload -->
    <script type="text/javascript" src="/javascripts/vendors/oclazyload/dist/ocLazyLoad.min.js"></script>

    <script type="text/javascript" src="/javascripts/module/admin/main.js"></script>
    <script type="text/javascript" src="/javascripts/module/admin/directives/ui-butterbar.js"></script>
    <script type="text/javascript" src="/javascripts/module/admin/services/authentication.js"></script>
    <script type="text/javascript" src="/javascripts/module/admin/router.js"></script>
    <script type="text/javascript" src="/javascripts/module/admin/config.lazyload.js"></script>

    <!-- TODO: To get user information in angular js -->
    <!-- Remove once we use our own authentication instead of auth0 -->
    <script type="text/javascript">
        window.user = {{ user | dump | safe if user else '{}'}};
    </script>
</body>

</html>