<!DOCTYPE html>
<html lang="en" class="no-js" ng-app="arraysApp">
<head>
    {% include "../partials/base_header.html" %}

    <title>Admin - Arrays</title>

    <base href="/">
</head>

<body class="site-admin" ng-init="init()">
    <div id="page" class="site" ui-view></div>

    {% include "../partials/survicate.html" %}

    <script type="text/javascript" src="/vendors/jQuery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/vendors/bootstrap/bootstrap.js"></script>
    <script type="text/javascript" src="/vendors/angular/angular.js"></script>
    <script type="text/javascript" src="/vendors/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="/vendors/ngstorage/ngStorage.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="/vendors/tinycolor/dist/tinycolor-min.js"></script>
    <script type="text/javascript" src="/vendors/md-color-picker/dist/mdColorPicker.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-file-upload/dist/angular-file-upload.min.js"></script>

    <script type="text/javascript" src="/javascripts/admin/app.js"></script>
    <script type="text/javascript" src="/javascripts/admin/directives/ui-butterbar.js"></script>
    <script type="text/javascript" src="/javascripts/admin/services/auth.service.js"></script>
    <script type="text/javascript" src="/javascripts/admin/services/dataset.service.js"></script>
    <script type="text/javascript" src="/javascripts/admin/controllers/app.js"></script>
    <script type="text/javascript" src="/javascripts/admin/controllers/account.js"></script>
    <script type="text/javascript" src="/javascripts/admin/controllers/dataset/list.js"></script>
    <script type="text/javascript" src="/javascripts/admin/controllers/dataset/settings.js"></script>
    <script type="text/javascript" src="/javascripts/admin/controllers/dataset/upload.js"></script>
    <script type="text/javascript" src="/javascripts/admin/controllers/dataset/data.js"></script>
    <script type="text/javascript" src="/javascripts/admin/controllers/dataset/views.js"></script>
    <script type="text/javascript" src="/javascripts/admin/controllers/dataset/done.js"></script>
    <script type="text/javascript" src="/javascripts/admin/router.js"></script>
</body>

</html>