<li class="gallery-item gallery-item-image">
	<a href="/{{ doc.srcDocPKey }}/{{ doc._id }}{{ '?embed=true' if embedded }}">
        {% set subdomain = team.subdomain | lower %}

        {% set url = "https://" + aws_bucket_for_url + subdomain + "/datasets/" + uid + folder + doc.rowParams[fieldKey_medThumbImageURL] %}
		<img src="{{ url }}" class="gallery-image" />
		<div class="gallery-tooltip border-top-color-brand">
			<h2 class="gallery-title">{{ doc.rowParams[fieldKey_objectTitle] if doc.rowParams[fieldKey_objectTitle] else "(Title not specified)" }}</h2>
		</div>
	</a>
</li>

