<li class="gallery-item gallery-item-image">
	<a href="/{{ doc.srcDocPKey }}/{{ doc._id }}{{ '?embed=true' if embedded }}">
        {% set subdomain = team.subdomain | lower %}
        <!-- again, this is a hacky solution for moma that we will need to remove down the line -->
        {% set url = returnAbsURLorBuildURL(doc.rowParams[fieldKey_medThumbImageURL]) %}

        {% if scrapedImages %}
			<img src="{{ url }}" class="gallery-image" />
		{% else %}	
			<img src="{{ doc.rowParams[fieldKey_medThumbImageURL] }}" class="gallery-image" />
		{% endif %}
		<div class="gallery-tooltip border-top-color-brand">
			<h2 class="gallery-title">{{ doc.rowParams[fieldKey_objectTitle] if doc.rowParams[fieldKey_objectTitle] else "(Title not specified)" }}</h2>
		</div>
	</a>
</li>

