
<div class="login modal fade" role="dialog" id="login-modal">
   <div class="modal-dialog modal-sm">
      <div class="modal-content">
         <div class="modal-header">
              <div class="splash-logo">
                    <img src="/images/arrays-logo-color-shapes.svg" class="img-responsive" alt="Arrays logo" />
              </div> 
          
         </div>

       
         <div class="tab-content modal-body">

            <!-- for login ajax call !-->
            <div class="flash">
            </div>


            <!-- for server flash message, like redirecting from verify email !-->
          {% if error %}

           {% set error = flash.error | first %}
           <div class="alert alert-danger">
            <strong><i class="fa fa-times"></i> </strong> {% if error.message== "activation pending"%} You have not activated your account yet. You could resend the email <a class="alert-link pointer" href="{{error.link}}">here</a>  {% else %} {{error.message}} {%endif%}
          </div>
          {% endif %}


           {% if flash.success %}
            {% set success = flash.success | first %}
           <div class="alert alert-success">
            <strong><i class="fa fa-check"></i> </strong> {{success.message}} 
          </div>
          {% endif %}



            <form id="loginForm" autocomplete="off" method="POST">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" class="form-control" name="email" placeholder="email address">
                 </div>
                 <span class="help-block"></span>
                 <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="passwordInput" type="password" class="form-control" name="password" placeholder="Password">
                 </div>
                  <span class="help-block"></span>

                  <div class="parent-pull-right">
                    <div class="pull-right">
                       <input type="checkbox" id="revealPassword">
                      <label> <span class="glyphicon glyphicon-eye-open"></span></label>
                    </div>
                   
                 </div>
                  <div>
                    <a href="">  Forget Password?  </a>
                 </div>

                 <div class="input-group col-xs-12">
                    <button id="login-submit" class="form-control btn btn-primary " type="submit">Login</button>
                 </div>

                 <div class="parent-pull-right signup-link">
                    <div class="pull-right">
                      <a href="/signup/email">  New? Sign up here. </a>
                    </div>
                 </div>
            </form>


            <div class="row loginOr">
              <div class="col-xs-12">
                <hr class="hrOr">
                <span class="spanOr">or</span>
             </div>
            </div>

            <div class="row socialButtons">
               <!-- <div class="col-xs-4">
                  <a href="#" class="btn btn-block btn-facebook">
                  <i class="fa fa-facebook"></i>
                  </a>
               </div>
               <div class="col-xs-4">
                  <a href="#" class="btn btn-block btn-twitter">
                  <i class="fa fa-twitter"></i>
                  </a>
               </div> -->
               <div class="col-xs-6 col-xs-offset-3">
                  <a href="/auth/google" class="btn btn-block btn-google">
                  <i class="fa fa-google-plus"></i> Google
                  </a>
               </div>
            </div>

         </div>
      </div>
   </div>
</div>









