{% include "./base_header.html" %}
	

	
    <!-- angular -->
    <script type="text/javascript" src="/vendors/angular/angular.js"></script>
    <script type="text/javascript" src="/vendors/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-messages/angular-messages.min.js"></script>
    
    <script type="text/javascript" src="/javascripts/signup/signup.js"></script>
    <script type="text/javascript" src="/javascripts/signup/signup.ctrl.js"></script>
    <script type="text/javascript" src="/javascripts/signup/signup.dir.js"></script>




	 <nav id="signupheader" class="navbar navbar-light bg-faded">
	      <a class="navbar-brand">

	             <div class="splash-logo">
                    <img src="/images/arrays-logo-color-shapes.svg" class="img-responsive" alt="Arrays logo" />
                </div>

	      </a>
	      <ul class="nav navbar-nav">
	        <li class="nav-item active">
	          <h1 class="nav-link">Welcome To Arrays<span class="sr-only">(current)</span></h1>
	        </li>
	      </ul>
	</nav>

	<base href="/">