{% if user %}
    <!-- start UserEngage widget -->
<script data-cfasync="false" type="text/javascript">
window.civchat = {
  apiKey: "{{ env.USERENGAGE_API_KEY }}",
  name: "{{ user.firstName }} {{ user.lastName }}", // Full name
  email: "{{ user.email }}", // Email address
  created_at: {{ user.createdAt | unixTimestamp }}, // Signup date as a Unix timestamp
  {% if user.defaultLoginTeam %}
   company: {
        name: "{{ user.defaultLoginTeam.title }}",
        created_at: {{ user.defaultLoginTeam.createdAt | unixTimestamp }},
        plan: "{{ user.defaultLoginTeam.subscription.plan.plan_code }}",
   },
   team_title: "{{ user.defaultLoginTeam.title }}",
   subdomain: "{{ user.defaultLoginTeam.subdomain }}", // String
   sample_viz_created: {{ user.sampleImported }}
   {% endif %}
};

</script>
<script data-cfasync="false" type="text/javascript" src="https://widget.userengage.io/widget.js"></script>
    <!-- end UserEngage widget -->
{% else %}
    <!-- start UserEngage widget -->
<script data-cfasync="false" type="text/javascript">
window.civchat = {
  apiKey: 'xzCdbCnOf7Cdgov2le7b8XMwXvMBlz6ooivSJgrCqCKGtaPs1I0NhqSlrMcunjph',
};
</script>
<script data-cfasync="false" type="text/javascript" src="https://widget.userengage.io/widget.js"></script>
    <!-- end UserEngage widget -->
{% endif %}