<li class="timeline-group-item has-tooltip" data-tooltip-key="{{ doc.rowParams[fieldKey_objectTitle] if doc.rowParams[fieldKey_objectTitle] else "(Title not specified)" }}" data-tooltip-value="{{ doc.rowParams[sortBy_realColumnName] if doc.rowParams[sortBy_realColumnName] else "(Date not specified)" }}">
    <div class="timeline-item timeline-item-image">
        <a href="/{{ array_source_key}}/{{ doc._id }}{{ '?embed=true' if embedded }}" class="timeline-link">
            {% if hasMissingImageIcon(doc) %}
                {{ fe_galleryItem_htmlForIconFromRowObjWhenMissingImage(doc) | safe }}
            {% else %}
                <span class="item-initial">{{ doc.rowParams[fieldKey_objectTitle] | initial }}</span>
         {% endif %}
		</a>
	</div>
</li>