/* @override 
	http://localhost:9080/stylesheets/views/admin.css */

.site-admin .site-main {
    padding-top: 40px;
}

.dataset {
    padding: 15px 0;
}

.dataset .upload input[type="text"].url {
    width: 100%;
}

.dataset ul.steps {
    list-style: none;
    padding: 0;
    margin-top: 25px;
    text-align: center;
}

.dataset ul.steps > li {
    display: inline-block;
    min-width: 120px;
    text-align: center;
}
.dataset ul.steps > li span.glyphicon {
    display: block;
    text-align: center;
    font-size: 22px;
}
.dataset .format-data tr.field, a.add, .format-views tr.views {
    cursor: pointer;
}




form.format-field .form-group label {
    padding-left: 0;
    padding-right: 0;
    border: none;
    -webkit-box-shadow: none;
}
form.format-field .form-group {
    margin: 10px 0;
}
form.format-field .form-group:after {
    content: '';
    clear: both;
    display: block;
}

form.format-field .form-group input[type='checkbox'] {
    margin-top: 10px;
}


form#settings textarea#description {
    height: 100px;
}




form.format-field a#add_valuesToExcludeByOriginalKey {
    margin-right:10px;
}

form.format-field a#add_oneToOneOverrideWithValuesByTitle {
    margin-top: 5px;
    display: inline-block;
}

th#view_visibility {
    width:30%;
}

table#views {
    width:80%;
}

