/* @override 
	http://localhost:9080/stylesheets/views/admin.css */

.site-admin .site-main {
    padding-top: 40px;
}

.dataset {
    padding: 15px 0;
}

.dataset_item {
    padding-right: 30px;
}

.dataset .upload input[type="text"].url {
    width: 100%;
}

/* Breadcrumb */
.dataset ul.steps {
    list-style: none;
    padding: 0;
    margin-top: 25px;
    text-align: center;
}

.dataset ul.steps > li {
    display: inline-block;
    min-width: 120px;
    text-align: center;
}
.dataset ul.steps > li span.glyphicon {
    display: block;
    text-align: center;
    font-size: 22px;
}


/* Upload */
form .removeDatasource {
    margin-top: 10px;
    cursor: pointer;
    display: inline-block;
}

/* Format data */
.format-data tr.field,
a.add,
.format-data tr.custom-field,
.format-views tr.views {
    cursor: pointer;
}

.word-break {
    word-break: break-word;
}

th#view_visibility {
    width:30%;
}

.format-data .custom-field-seperator td {
    text-align: center;
    font-weight: bold;
    font-size: 23px;
}


/* Format field */
form.format-field .form-group label {
    padding-left: 0;
    padding-right: 0;
    border: none;
    -webkit-box-shadow: none;
}
form.format-field .form-group {
    margin: 10px 0;
}
form.format-field .form-group:after {
    content: '';
    clear: both;
    display: block;
}

form.format-field .form-group input[type='checkbox'] {
    margin-top: 10px;
}

form .removeRow {
    display: inline-block;
    cursor: pointer;
    margin-top: 5px;
}

form.format-field a#add_oneToOneOverrideWithValuesByTitle,
form.format-field a#add_valueToExcludeByOriginalKey,
form.format-field a#add_filterKeyword,
form.format-field a#add_nested_valueOverride
{
    margin-top: 5px;
    display: inline-block;
}

form.format-field #extra_oneToOneOverrideWithValuesByTitle .form-group {
    text-align: right;
}

form.format-field #extra_oneToOneOverrideWithValuesByTitle label {
    font-weight: normal;
    margin-top: 4px;
    margin-right: 10px;
}

form.format-field #extra_oneToOneOverrideWithValuesByTitle .form-control {
    display: inline-block;
    width: 135px;
}

form.format-field .more-settings {
    display: none;
}

form.format-field #extra_valuesToExcludeByOriginalKey,
form.format-field #extra_keywords,
form.format-field #extra_filterFabricated
{
    padding-left: 10px;
}

label#showDefault_view {
  font-size: 20px;
}


/* -----------   for toggle slider  ----------------  */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*--------------------------------------------------------*/