.array-bar-chart .site-content .container-fluid {
    transition: padding 400ms ease-in-out;
}

@media (min-width: 768px) {
    .array-bar-chart.legend-open .site-content .container-fluid {
        padding-right: 20px;
        padding-left: 20px;
    }
}

.array-bar-chart .sort-bar {
    border-bottom-style: none;
    padding-bottom: 0;
}

.array-bar-chart .sort-direction {
    display: inline-block;
}

.array-bar-chart .array-content {
    position: relative;
}

@media (min-width: 768px) {
    .array-bar-chart .sort-direction {
        margin: 12px 0;
    }
}

#bar-chart {
    min-height: 300px;
}

.toggle-button {
    /*border: 1px solid #9C9C9C;*/
    margin: 8px 10px 0 0px;
    cursor: pointer;
    font-size: 20px;
    padding: 5px 7px;
    color: var(--color-text-dark);
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
}

#normalization {
    padding: 5px 9px;
    font-weight: bold;
}

#orientation .vertical,
#normalization .absolute,
#sort-direction .icon-sort-descending {
    display: none;
}

#sort-direction .sort-direction-icon:before {
    margin-right: 0;
}
#sort-direction.toggle-button {
    padding: 1px 4px 3px;
}