/* @override 
	http://localhost:9080/stylesheets/module/word-cloud.css */

.word-cloud-list {
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 90px;
    padding-left: 0;
    list-style-type: none;
}

.word-cloud-item {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    vertical-align: bottom;
}

.word-cloud-item {
    font-size: 12px;
}

.word-cloud-link {
    display: block;
    padding: 5px 15px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 4px;
    box-shadow: var(--box-shadow);
}

@media (min-width: 768px) {
    .word-cloud-item {
        font-size: 18px;
    }
}

@media (min-width: 1280px) {
    .word-cloud-item {
        font-size: 24px;
    }
}

.word-cloud-link:hover,
.word-cloud-link:focus,
.word-cloud-link:active {
    text-decoration: none;
}