<!DOCTYPE html>
<html lang="en" class="no-js" ng-app="arraysApp">
<head>
    {% include "../partials/base_header.html" %}

    <title>Dashboard - Arrays</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body class="dashboard" ng-init="init()">
    <div id="page" class="site" ui-view></div>

    {% include "../partials/survicate.html" %}

    <script type="text/javascript" src="/vendors/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/vendors/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/vendors/bootstrap/bootstrap.js"></script>
    <script type="text/javascript" src="/vendors/angular/angular.js"></script>
    <script type="text/javascript" src="/vendors/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="/vendors/ngstorage/ngStorage.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="/vendors/tinycolor/dist/tinycolor-min.js"></script>
    <script type="text/javascript" src="/vendors/md-color-picker/dist/mdColorPicker.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-file-upload/dist/angular-file-upload.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-ui-sortable/sortable.min.js"></script>

    <script type="text/javascript" src="/javascripts/dashboard/app.js"></script>
    <script type="text/javascript" src="/javascripts/dashboard/directives/ui-butterbar.js"></script>
    <script type="text/javascript" src="/javascripts/dashboard/services/auth.service.js"></script>
    <script type="text/javascript" src="/javascripts/dashboard/services/dataset.service.js"></script>
    <script type="text/javascript" src="/javascripts/dashboard/services/asset.service.js"></script>
    <script type="text/javascript" src="/javascripts/dashboard/services/view.factory.js"></script>
    <script type="text/javascript" src="/javascripts/dashboard/services/team.factory.js"></script>
     <script type="text/javascript" src="/javascripts/dashboard/services/user.factory.js"></script>
    <script type="text/javascript" src="/javascripts/dashboard/services/interceptor.factory.js"></script>

    <script type="text/javascript" src="/javascripts/dashboard/filters.js"></script>



    <script type="text/javascript" src="/javascripts/dashboard/controllers/app.js"></script>
    <script type="text/javascript" src="/javascripts/dashboard/controllers/account.js"></script>
    <script type="text/javascript" src="/javascripts/dashboard/controllers/website.js"></script>
    <script type="text/javascript" src="/javascripts/dashboard/controllers/user.js"></script>
    <script type="text/javascript" src="/javascripts/dashboard/controllers/team.js"></script>
    <script type="text/javascript" src="/javascripts/dashboard/controllers/dataset.js"></script>

    <script type="text/javascript" src="/javascripts/dashboard/controllers/dataset/list.js"></script>
    <script type="text/javascript" src="/javascripts/dashboard/controllers/dataset/settings.js"></script>
    <script type="text/javascript" src="/javascripts/dashboard/controllers/dataset/upload.js"></script>
    <script type="text/javascript" src="/javascripts/dashboard/controllers/dataset/data.js"></script>
    <script type="text/javascript" src="/javascripts/dashboard/controllers/dataset/views.js"></script>
    <script type="text/javascript" src="/javascripts/dashboard/controllers/dataset/done.js"></script>
    <script type="text/javascript" src="/javascripts/dashboard/controllers/user/list.js"></script>
    <script type="text/javascript" src="/javascripts/dashboard/controllers/user/edit.js"></script>
    <script type="text/javascript" src="/javascripts/dashboard/router.js"></script>

</body>

</html>
