{% extends "../layout/array.html" %}

{% import "../partials/dropdown.html" as dropdown %}
{% import "../partials/search.html" as search %}
{% import "../partials/filter.html" as filter %}

{% block headSuffix %}
    <title>Arrays - {{ arrayTitle }}</title>
{% endblock %}

{% set currentView = "linegraph" %}

{% block content %}
    <section class="array">

        <header class="array-header header-shadow array-header-small clearfix">
            <div class="container-fluid">
                <h1 class="array-title">{{ arrayTitle }}</h1>
                <div class="array-meta">
                    {% if sourceDocURL %}<a href="{{ sourceDocURL }}" target="_blank" class="array-meta-about color-brand">Source</a> <span class="array-meta-divider"></span> {% endif %}<span class="array-meta-count">{{ sourceDoc.numberOfRows | comma }} Record{{ "s" if sourceDoc.numberOfRows != 1 else "" }}</span> <span class="array-meta-divider hidden-xs"></span> <span class="array-meta-updated hidden-xs">Last Updated {{ sourceDoc.dateOfLastImport | dateFormattedAs_monthDayYear }}</span>
                </div>
            </div>
        </header><!-- .array-header -->

        <div class="array-content">

                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-12">

                                        <div class="sort-bar clearfix">

                                            <nav class="sort-bar-left pull-left" role="navigation">
                                                {{
                                                dropdown.default(
                                                    'Chart By',
                                                    groupBy if groupBy else defaultGroupByColumnName_humanReadable,
                                                    colNames_orderedForGroupByDropdown,
                                                    routePath_base | constructedRoutePath({
                                                        searchCol: searchCol,
                                                        searchQ: searchQ,
                                                        filterJSON: filterJSON,
                                                        groupBy: ''})
                                                )
                                                }}

                                                {# {{
                                                dropdown.axis(
                                                    y,
                                                    '',
                                                    'Category',
                                                    renderableFields
                                                )
                                                }} #}
                                            </nav>

                                            <div class="sort-bar-right pull-right">
                                                {{
                                                search.panel(
                                                    routePath_base,
                                                    searchCol if searchCol else "Object Title",
                                                    colNames_orderedForSortByDropdown,
                                                    searchQ if searchQ else "",
                                                    sortBy,
                                                    sortDir,
                                                    filterJSON_nonURIEncodedVals
                                                )
                                                }}

                                                <a class="btn dropdown-toggle-button legend-toggle hidden-xs">
                                                    <span class="icon-legend" aria-hidden="true"></span>
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </div><!-- .row -->
                            </div><!-- .container-fluid -->

                            <script type="text/javascript">
                                var graphData = [];
                                <!--  -->
                                var groupedResultsByKeyword = {{ groupedResultsByKeyword | dump | safe }};
                                var lineColors = {{ lineColors | dump | safe }};

                                if (Array.isArray(groupedResultsByKeyword)) {

                                    graphData[0] = groupedResultsByKeyword.map(function(row) {
                                        row.label = "{{ arrayTitle }}";
                                        row.count = Number(row.count);
                                        row.year = new Date(row.year);
                                        return row;
                                    });

                                } else {

                                    for (var keyword in groupedResultsByKeyword) {
                                        if (groupedResultsByKeyword.hasOwnProperty(keyword)) {
                                            graphData.push(groupedResultsByKeyword[keyword].map(function(row) {
                                                row.label = keyword;
                                                row.count = Number(row.count);
                                                row.year = new Date(row.year);
                                                if (lineColors && lineColors[keyword]) row.color = lineColors[keyword];
                                                return row;
                                            }));
                                        }
                                    }

                                }

                                var filterObj = {{ filterObj | dump | safe }};
                                var routePath_withoutFilter = '{{ routePath_base | constructedRoutePath({
                                        searchCol: searchCol,
                                        searchQ: searchQ,
                                        groupBy: groupBy
                                }) }}';
                                var routePath_base = '{{ routePath_base }}';
                                var groupBy = '{{ groupBy if groupBy else defaultGroupByColumnName_humanReadable }}';
                            </script>

                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-12">

                                        <div id="linechart" class="scatterplot linechart"></div>

                                    </div>
                                </div><!-- .row -->
                            </div><!-- .container-fluid -->

                            {% if isFilterActive %}
                                {{
                                filter.default(
                                    routePath_base | constructedRoutePath({
                                        searchCol: searchCol,
                                        searchQ: searchQ,
                                        groupBy: groupBy
                                    }),
                                    filterObj,
                                    truesByFilterValueByFilterColumnName_forWhichNotToOutputColumnNameInPill,
                                    false
                                )
                                }}
                            {% endif %}

                        </div><!-- .array-content -->

    </section>
{% endblock %}

{% block inlineScript %}
    {{ super() }}

    <script type="text/javascript" src="/javascripts/lib/lodash/lodash.js"></script>
    <script type="text/javascript" src="/javascripts/lib/d3/d3.js"></script>

    <script type="text/javascript" src="/javascripts/tooltip.js"></script>
    <script type="text/javascript" src="/javascripts/module/scatterplot/main.js"></script>
    <script type="text/javascript" src="/javascripts/module/linechart/main.js"></script>
    <script type="text/javascript" src="/javascripts/module/linechart/base.js"></script>
    <script type="text/javascript" src="/javascripts/module/linechart/viewport.js"></script>
    <script type="text/javascript" src="/javascripts/module/linechart/navigation.js"></script>
    <script type="text/javascript" src="/javascripts/module/linechart/chart.js"></script>
    <script>
        var lineChart = new linechart.chart(graphData)
            .render("#linechart");
    </script>
{% endblock %}