{% extends "../layout/array.html" %}

{% block headSuffix %}
    <title>Arrays - {{ metaData.title }}</title>
{% endblock %}

{% set currentView = "scatterplot" %}

{% block content %}
    <section class="array">

        <header class="array-header header-shadow array-header-small clearfix">
            <div class="container-fluid">
                <h1 class="array-title">{{ metaData.title }}</h1>
                <div class="array-meta">
                    {% if sourceDocURL %}<a href="{{ sourceDocURL }}" target="_blank" class="array-meta-about color-brand">Source</a> <span class="array-meta-divider"></span> {% endif %}<span class="array-meta-count">{{ sourceDoc.numberOfRows | comma }} Record{{ "s" if sourceDoc.numberOfRows != 1 else "" }}</span> <span class="array-meta-divider hidden-xs"></span> <span class="array-meta-updated hidden-xs">Last Updated {{ sourceDoc.dateOfLastImport | dateFormattedAs_monthDayYear }}</span>
                </div>
            </div>
        </header><!-- .array-header -->

        <div class="array-content">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="sort-bar clearfix">

                            <nav class="sort-bar-left pull-left" role="navigation">

                                <div class="dropdown sort-control sort-bar-6">
                                    <a class="btn dropdown-toggle dropdown-toggle-button dropdown-toggle-button-has-caret ui-label group-by" type="button" id="type" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <div class="dropdown-toggle-label">
                                            Y-Axis <span class="sort-criteria color-brand-hover y-axis-field">{{ metaData.fe_scatterplot_defaults.yAxisField | replace(r/_/g, ' ') }}</span>
                                        </div>
                                    </a>
                                    {% if renderableFields | length %}
                                    <ul class="dropdown-menu axis-control y-axis-control" aria-labelledby="type">
                                        {% for colName in renderableFields %}
                                        <!-- li class="background-color-brand-hover"><a href="{{ routePath_withoutMapBy }}{{ mapBy_queryParamJoinChar }}mapBy={{ colName }}">{{ colName }}</a></li -->
                                        <li class="background-color-brand-hover"><a href="#" data-axis="y" data-colname="{{ colName }}">{{ colName | replace(r/_/g, ' ') }}</a></li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>
                                <div class="dropdown sort-control sort-bar-6">
                                    <a class="btn dropdown-toggle dropdown-toggle-button dropdown-toggle-button-has-caret ui-label group-by" type="button" id="type" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <div class="dropdown-toggle-label">
                                            X-Axis <span class="sort-criteria color-brand-hover x-axis-field">{{ metaData.fe_scatterplot_defaults.xAxisField | replace(r/_/g, ' ') }}</span>
                                        </div>
                                    </a>
                                    {% if renderableFields | length %}
                                    <ul class="dropdown-menu axis-control x-axis-control" aria-labelledby="type">
                                        {% for colName in renderableFields %}
                                        <!-- li class="background-color-brand-hover"><a href="{{ routePath_withoutMapBy }}{{ mapBy_queryParamJoinChar }}mapBy={{ colName }}">{{ colName }}</a></li -->
                                        <li class="background-color-brand-hover"><a href="#" data-axis="x" data-colname="{{ colName }}">{{ colName | replace(r/_/g, ' ') }}</a></li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>
                            </nav>

                            <div class="sort-bar-right pull-right">
                                <form action="{{ routePath_base }}" method="get" class="form-search">
                                    <div class="sort-control visible-xs">
                                        <div class="btn dropdown-toggle-button search-toggle">
                                            <span class="icon-search search-icon color-brand-hover"></span>
                                        </div>
                                    </div>

                                    <div class="mobile-search-popover">
                                        <div class="dropdown-toggle-button-group" role="group">
                                            <div class="dropdown sort-control sort-control-left search-control">
                                                {% set searchColToOutput = searchCol if searchCol else "Object Title" %}
                                                <a href="#" class="btn dropdown-toggle ui-label" data-toggle="dropdown" id="search-by" role="button" aria-haspopup="true" aria-expanded="false">
                                                    Search <span class="search-criteria color-brand-hover" data-colname="{{ searchColToOutput }}">{{ searchColToOutput }}</span>
                                                </a>
                                                <input type="hidden" name="searchCol" value="{{ searchColToOutput }}" class="search-colname">
                                                {% if colNames_orderedForSortByDropdown | length %}
                                                <ul class="dropdown-menu search-dropdown-menu" aria-labelledby="search-by">
                                                    {% for colName in colNames_orderedForSortByDropdown %}
                                                    <li class="search-dropdown-item background-color-brand-hover"><a href="#" data-colname="{{ colName }}">{{ colName }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                                {% endif %}
                                            </div>
                                            <div class="sort-control sort-control-right">
                                                <div class="dropdown-toggle">
                                                    <input type="text" name="searchQ" class="form-control search-input" placeholder="Type here to search" autocomplete="off" value="{{ searchQ }}">
                                                    <span class="icon-search search-icon hidden-xs"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <a class="btn dropdown-toggle-button legend-toggle hidden-xs">
                                        <span class="icon-legend" aria-hidden="true"></span>
                                    </a>

                                    {% if filterJSON %}
                                        <input type="hidden" name="filterJSON" value="{{ filterJSON_nonURIEncodedVals }}"> {# it will get re-encoded #}
                                    {% endif %}
                                </form>
                            </div>

                        </div>
                    </div>
                </div><!-- .row -->
            </div><!-- .container-fluid -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">

                        <div id="scatterplot" class="scatterplot"></div>

                    </div>
                </div><!-- .row -->
            </div><!-- .container-fluid -->

            {% if isFilterActive %}
            <div class="filter-bar">
                <div class="container-fluid">
                    {% for filterCol, filterVals in filterObj %}
                        {% for filterVal in filterVals %}
                            {% set filterObjForThisFilterColVal = filterObj | constructedFilterObj(filterCol, filterVal, true) %}
                            {% set filterJSONString = filterObjForThisFilterColVal | jsonStringify %}
                            {% set routePath_withoutThisFilter = routePath_base + "?filterJSON=" + filterJSONString %}
                            {% set shouldDisplayKey = false if truesByFilterValueByFilterColumnName_forWhichNotToOutputColumnNameInPill[filterCol][filterVal] else true %}
                    <span class="filter-tag border-color-brand">{{ filterCol | safe if shouldDisplayKey else "" }}{{ ": " if shouldDisplayKey else ""}}{{ filterVal | filterValToDisplay }} <a href="{{ routePath_withoutThisFilter }}" class="close filter-tag-close"><span class="icon-close-filterpill" aria-hidden="true"></span></a></span>
                    <!-- span class="filter-tag border-color-brand">{{ filterCol | safe if shouldDisplayKey else "" }}{{ ": " if shouldDisplayKey else ""}}{{ filterVal | safe }} <a href="#" class="close filter-tag-close"><span class="icon-close-filterpill" aria-hidden="true"></span></a></span -->
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}

        </div><!-- .array-content -->

    </section>
{% endblock %}

{% block inlineScript %}
    {{ super() }}

    <script type="text/javascript" src="/javascripts/lib/uri/uri.js"></script>
    <script type="text/javascript" src="/javascripts/lib/d3/d3.js"></script>

    <script type="text/javascript" src="/javascripts/main.js"></script>
    <script type="text/javascript" src="/javascripts/tooltip.js"></script>
    <script type="text/javascript" src="/javascripts/module/scatterplot/main.js"></script>
    <script type="text/javascript" src="/javascripts/module/scatterplot/view.js"></script>
    <script type="text/javascript" src="/javascripts/module/scatterplot/standardView.js"></script>
    <script type="text/javascript" src="/javascripts/module/scatterplot/groupingAlgorithm.js"></script>
    <script type="text/javascript" src="/javascripts/module/scatterplot/groupedView.js"></script>
    <script type="text/javascript" src="/javascripts/module/scatterplot/factory.js"></script>
    <script type="text/javascript" src="/javascripts/module/scatterplot/chart.js"></script>
    <script>
        var metaData = {{ metaData | dump | safe }};
        // Define input data set.
        var scatterData = {{ documents | dump | safe }};
        // Render scatterplot.
        var scatterPlot = new scatterplot.chart(scatterData.map(function(d) {
            d.rowParams.id = d._id;
            return d.rowParams;
        }), metaData).setXAccessor(function(d) {
                    return d['{{ metaData.fe_scatterplot_defaults.xAxisField }}']
                }, '{{ metaData.fe_scatterplot_defaults.xAxisField }}')
                .setYAccessor(function(d) {
                    return d['{{ metaData.fe_scatterplot_defaults.yAxisField }}'];
                }, '{{ metaData.fe_scatterplot_defaults.yAxisField }}')
                .searchBy({{ searchCol | dump | safe }}, {{ searchQ | dump | safe }})
        .setColor('{{ metaData.brandColor }}')
                .render('#scatterplot');

        // Set up axis fields dropdown click handler.
        jQuery('ul.axis-control a').click(function(e) {
            // Get item text.
            var text = this.innerText;
            // Get item field.
            var field = this.getAttribute('data-colname');
            // Get field's axis.
            var axis = this.getAttribute('data-axis');
            // Update dropdown current text.
            jQuery('span.' + axis + '-axis-field').prop('innerText', text);
            // Update scatterplot.
            scatterPlot['set' + axis.toUpperCase() + 'Accessor'](function(d) {
                return d[field];
            }, field)
                    .update();
            // Hide item in the other axis dropdown.
            hideAxisItem(axis === 'x' ? 'y' : 'x', text)
        });

        // Hide axis control item.
        function hideAxisItem(axis, item) {
            jQuery('ul.' + axis + '-axis-control li').each(function() {
                if (this.innerText === item) {
                    this.style.display = 'none';
                } else {
                    this.style.display = 'block';
                }
            });
        }

        // Hide axis controls initial values.
        hideAxisItem('x', '{{ metaData.fe_scatterplot_defaults.yAxisField | replace(r/_/g, ' ') }}');
        hideAxisItem('y', '{{ metaData.fe_scatterplot_defaults.xAxisField | replace(r/_/g, ' ') }}');

        // Set up search dropdown click handler.
        jQuery('ul.search-dropdown-menu a').click(function(e) {
            // Get item text.
            var text = this.innerText;
            // Get item field.
            var field = this.getAttribute('data-colname');
            // Update search form.
            jQuery('#search-by span')
                    .prop('innerText', text)
                    .attr('data-colname', field);
            // Run search procedure.
            scatterPlot.searchBy(field, jQuery('input.search-input').val())
                    .update();
        });

        // Set search input handler.
        jQuery('input.search-input').on('input', function(event) {
            scatterPlot.searchBy(jQuery('#search-by span').attr('data-colname'), this.value)
                    .update();
        })
    </script>
{% endblock %}