/* @override 
	http://localhost:9080/stylesheets/layout/body.css */

.site {
	overflow-x: hidden;
}

.site-content {
	padding-top: 50px;
	min-height: calc(100vh - 200px);
}

@media (min-width: 768px) {
	.site-content {
		padding-top: 64px;
	}
}

.container-fluid {
	max-width: 1280px;
}

@media (min-width: 768px) {
	.container-fluid {
		padding-right: 60px;
		padding-left: 60px;
		max-width: 1280px;
	}
}

/* @group Footer */

.site-footer {
	padding-top: 70px;
	padding-bottom: 25px;
	color: #ffffff;
}

.site-footer .site-title {
	margin: 0;
}

.site-footer .site-logo {
	margin: 13px 0 20px;
}

.site-info {
	margin-top: 40px;
	text-align: center;
	font-size: 18px;
}

.site-info a {
	color: #ffffff;
}

.input-subscribe,
.btn-submit {
	padding-top: 15px;
	padding-bottom: 15px;
	height: 60px;
}

.input-subscribe {
	margin-bottom: 10px;
	border-color: #ffffff;
	border-radius: 0;
	background-color: transparent;
	box-shadow: none;
	color: #ffffff;
	font-size: 24px;
}

.input-subscribe:focus {
	border-color: #ffffff;
	box-shadow: none;
}

.input-subscribe::-webkit-input-placeholder {
	color: #ffffff;
}

.input-subscribe:-moz-placeholder {
	color: #ffffff;
}

.input-subscribe::-moz-placeholder {
	color: #ffffff;
}

.input-subscribe:-ms-input-placeholder {
	color: #ffffff;
}

.btn-inverse {
	border-color: #ffffff;
	background-color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
	font-size: 20px;
}

/* @end footer */