/* @override 
	http://localhost:9080/stylesheets/layout/body.css */

body {
	
}

.site {
	overflow-x: hidden;
	padding-top: 60px;
}

@media (min-width: 768px) {
	.site {
		padding-top: 70px;
	}
}

.container-fluid {
	max-width: 1280px;
}