<md-dialog md-no-ink aria-label="Annual Billing">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Yearly Billing</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <span class="icon-close-big" aria-label="Close dialog"></span>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content layout-padding>
        <md-content>
            <p>
                Are you sure you want to change your plan to <strong>annual billing</strong>?
                Your account will be charged during the next billing cycle.
            </p>
            <ng-include src="'templates/blocks/account.billing.annualplan.html'"></ng-include>
        </md-content>

        <md-dialog-actions layout="row" layout-align="end center">
            <md-button class="md-dashboard confirm" ng-click="updatePlanCode('arrays-pro-yearly')">
                Update Plan
            </md-button>
            <md-button class="md-dashboard" ng-click="cancel()">
                Cancel
            </md-button>
        </md-dialog-actions>

    </md-dialog-content>
</md-dialog>
