            <md-content layout-padding>
                <fieldset class="standard">
                    <legend>Global filters</legend>
                    <div ng-repeat="fabricated in dataset.fe_filters.fabricated"
                        style="border-top: 1px solid #eeeeee; padding: 16px 0">

                        <div layout="row" layout-align="start start">
                            <md-input-container flex="45">
                                <label>Title</label>
                                <input type="text" name="fabricatedTitle_{{$index}}" ng-model="fabricated.title"
                                       ng-change="verifyUniqueFabricated(fabricated, $index)" required>
                                <div ng-messages="dialog.form['fabricatedTitle_' + $index].$error">
                                    <div ng-message="required">This is required.</div>
                                    <div ng-message="unique">Must be unique.</div>
                                </div>
                            </md-input-container>
                            <span flex="5"></span>

                            <md-input-container flex="40">
                                <label>Value</label>
                                <input type="text" name="fabricatedValue_{{$index}}"
                                       ng-model="fabricated.choices[0].title"
                                       ng-change="verifyUniqueFabricated(fabricated, $index)" required>
                                <div ng-messages="dialog.form['fabricatedValue_' + $index].$error">
                                    <div ng-message="required">This is required.</div>
                                    <div ng-message="unique">Must be unique.</div>
                                </div>
                            </md-input-container>
                            <span flex="5"></span>
                            <div flex="5">
                            <!-- aa-tooltip="Remove filter" -->
                                <span class="fa fa-remove warn" ng-click="removeFabricated(fabricated)"></span>
                            </div>
                        </div>

                        <div layout="row" layout-align="start end">
                            <md-input-container class="md-block" flex="45">
                                <label>Field</label>
                                <md-select required name="field_{{$index}}" ng-model="fabricated.choices[0].match.field">
                                    <md-option ng-repeat="column in colsAvailable" value="{{column}}">
                                        {{column}}
                                    </md-option>
                                    <md-option ng-repeat="customField in customFieldsToProcess" value="{{customField.fieldName}}">
                                        {{customField.fieldName}}
                                    </md-option>
                                </md-select>
                                <div ng-messages="dialog.form.field.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            <span flex="5"></span>

                            <md-input-container class="md-block" flex="40">
                                <label>Exclude Values</label>
                                <!-- <span class="optional">(required)</span> -->
                                <md-chips required ng-model="fabricated.choices[0].match.nin"
                                          name="fabricatedExcludeValues_{{$index}}"
                                          md-enable-chip-edit="true"
                                          placeholder="Add value to exclude">
                                </md-chips>
                                <div ng-messages="dialog.form['fabricatedExcludeValues_'+ $index].$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>

                    <md-button class="md-dashboard" ng-click="addFabricated()">
                        Add filter
                    </md-button>
                </fieldset>
            </md-content>


            <md-content layout-padding>
                <fieldset class="standard">
                    <legend>Default Filter(s)</legend>
                    <div layout="row"
                         ng-repeat="default in data.defaultFilters">
                        <md-input-container flex="45">
                            <label>Name</label>
                            <md-select name="defaultName_{{$index}}"
                                       ng-model="default.name" required>
                                <md-option ng-repeat="fab in dataset.fe_filters.fabricated" ng-value="fab.title">
                                    {{fab.title}}
                                </md-option>
                              <!--   <md-option ng-repeat="filterChoice in fab.choices" value="{{fabricated.title}}" ng-if="dataset.fe_filters.fabricated">
                                    {{filterChoice.title}}
                                </md-option> -->
                            </md-select>
                            <div ng-messages="dialog.form.defaultName.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                        <span flex="5"></span>
                        <md-input-container flex="40">
                            <label>Value</label>
                          <!--   <input type="text" name="defaultValue_{{$index}}" ng-model="default.value"
                                   ng-change="verifyUniqueDefaultFilter(default, $index)" required>
 -->


                            <md-select name="defaultValue_{{$index}}"
                                       ng-model="default.value" ng-change="verifyUniqueDefaultFilter(default,$index)" required>

                                <md-option ng-repeat="filterChoice in dataset.fe_filters.fabricated[indexInFabricatedFilter(default.name)].choices" value="{{filterChoice.title}}" >
                                    {{filterChoice.title}}
                                </md-option>
                            </md-select>


                            <div ng-messages="dialog.form['defaultValue_' + $index].$error">
                                <div ng-message="required">This is required.</div>
                                <div ng-message="unique">Must be unique.</div>
                            </div>
                        </md-input-container>

                        <span flex="5"></span>
                        <div flex="5">
                            <span class="fa fa-remove warn" ng-click="removeDefaultFilter($index)"></span>
                        </div>
                    </div>
                    <md-button class="md-dashboard" ng-click="addDefaultFilter()">
                        Add filter
                    </md-button>
                </fieldset>
            </md-content>

            <md-content layout-padding>
            <fieldset class="standard">
                <legend>Values to Exclude by Original Key</legend>
                <md-input-container class="md-block">
                    <label>All</label>
                    <md-chips ng-model="dataset.fe_filters.valuesToExcludeByOriginalKey._all"
                              name="valuesToExcludeAll"
                              md-enable-chip-edit="true"
                              placeholder="Enter a Value" secondary-placeholder="+Value" ng-trim="false">
                        <md-chip-template>
                            {{$chip}}
                            <em>(All)</em>
                        </md-chip-template>
                    </md-chips>
                </md-input-container>
            </fieldset>
            </md-content>
