<md-dialog aria-label="Join Table" class="field-dialog">
    <aa-toolbar title="Join Table"></aa-toolbar>

    <md-dialog-content md-no-ink>
        <form name="dialog.form">
            <md-content layout-padding>


                <md-input-container layout="row" flex="80" md-no-float>
                    <input ng-model="dataset.connection.join.tableName" ng-model-options="{updateOn:'blur'}" ng-change="loadCols()"
                    aria-label="Dataset Connection Table Name" placeholder="Join Table" autofocus>
                </md-input-container>


        
       
                <md-input-container flex="50">
                    <label>Primary Key</label>
                    <md-select required name="localField_{{$index}}"
                               ng-model="dataset.connection.join.primaryKey">
                        <md-option ng-repeat="column in dataset.columns" value="{{column.name}}">
                            {{column.name}}
                        </md-option>
                    </md-select>
                    <div ng-messages="dialog.form.localField.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>

                <md-input-container flex="50">
                    <label>Foreign Key</label>
                    <md-select required name="localField_{{$index}}"
                               ng-model="dataset.connection.join.foreignKey">
                        <md-option ng-repeat="column in colsByJoinTableName[dataset.connection.join.tableName]" value="{{column.name}}">
                            {{column.name}}
                        </md-option>
                    </md-select>
                    <div ng-messages="dialog.form.localField.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>

            
            </md-content>

            <md-dialog-actions layout="row" layout-align="end center">
                <md-button class="md-dashboard cancel" ng-click="remove()">
                    <span class="btn-label">Delete</span>
                </md-button>

                <md-button class="md-dashboard confirm" ng-click="save()"
                           ng-disabled="!dialog.form.$dirty || dialog.form.$invalid">
                    <span class="btn-label"> Save </span>
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog-content>
</md-dialog>
