<md-dialog aria-label="Format Field: {{ dataset.fe_displayTitleOverrides[fieldName] ? dataset.fe_displayTitleOverrides[fieldName] + ' (' + fieldName + ')' : fieldName }}" class="field-dialog" md-no-ink>
    <aa-toolbar title="Format Field: {{ dataset.fe_displayTitleOverrides[fieldName] ? dataset.fe_displayTitleOverrides[fieldName] + ' (' + fieldName + ')' : fieldName || 'New field' }}"></aa-toolbar>
    <md-dialog-content>
        <form name="dialog.fieldForm">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="General">
                    <ng-include src="'templates/blocks/data.field.general.html'"></ng-include>
                </md-tab>

                <md-tab label="Filter">
                    <ng-include src="'templates/blocks/data.field.filter.html'"></ng-include>
                </md-tab>
                <md-tab></md-tab>
            </md-tabs>

            <md-dialog-actions layout="row" layout-align="end center">
                <md-button class="md-dashboard warn" ng-click="delete()" ng-if="customFieldIndex != undefined">
                    Delete
                </md-button>
                <md-button class="md-dashboard cancel" ng-click="reset()" ng-disabled="!dialog.fieldForm.$dirty">
                    Reset
                </md-button>
                <md-button class="md-dashboard confirm" ng-click="save()" ng-disabled="!dialog.fieldForm.$dirty || dialog.fieldForm.$invalid">
                    Save
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog-content>
</md-dialog>
