<md-content layout-padding>

    <h3>Basic Settings</h3>

    <md-input-container layout="column">
        <md-checkbox name="multipleSelection" ng-model="data.multipleSelection"
                     aria-label="Allow multiple filter selection">
            Allow user to select multiple filters
        </md-checkbox>
        <md-checkbox name="sortableInReverse" ng-model="data.sortableInReverse"
                     aria-label="Allow sort in reverse order">
            Allow sort in reverse order
        </md-checkbox>
        <md-checkbox name="sortableByInt" ng-model="data.sortableByInt"
                     aria-label="Allow sort by integer">
            Allow sort by integer
        </md-checkbox>
        <!-- TODO remove when able to check off list of all filters -->
        <md-checkbox name="filterNotAvailable" ng-model="data.filterNotAvailable" ng-change="setDirty(3)"
                     aria-label="Filter Not Available">
            Not Available
        </md-checkbox>
    </md-input-container>
    <!-- <md-checkbox name="commaSeparatedAsIndividual" ng-model="data.commaSeparatedAsIndividual"
                     aria-label="Filter Comma Separated">
            Comma Separated As Individual
        </md-checkbox>
    </md-input-container> -->

    <h3>Advanced Settings</h3>

    <fieldset class="standard" ng-if="customFieldIndex == undefined">
        <div><label>One To One Override Values By Title</label></div>
        <div layout="row"
             ng-repeat="valueByOverride in dataset.fe_filters.oneToOneOverrideWithValuesByTitleByFieldName[fieldName]">
            <md-input-container flex="45">
                <label>Value</label>
                <input type="text" name="overrideValue_{{$index}}"
                       ng-model="valueByOverride.value"
                       ng-change="verifyUniqueValueOverride(valueByOverride, $index)" required>
                <div ng-messages="dialog.fieldForm.overrideValue.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="unique">Must be unique.</div>
                </div>
            </md-input-container>
            <span flex="5"></span>

            <md-input-container flex="40">
                <label>Override</label>
                <input type="text" name="overrideValueTitle_{{$index}}" ng-model="valueByOverride.override"
                       ng-change="verifyUniqueValueOverride(valueByOverride, $index)" required>
                <div ng-messages="dialog.fieldForm.overrideValueTitle.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="unique">Must be unique.</div>
                </div>
            </md-input-container>
            <span flex="5"></span>

            <div flex="5">
                <span class="fa fa-remove" ng-click="removeOneToOneOverride(valueByOverride)"></span>
            </div>
        </div>
        <md-button class="md-dashboard" ng-click="addOneToOneOverride()">
            Add another
        </md-button>
    </fieldset>

    <fieldset class="standard" ng-if="customFieldIndex == undefined">
        <!-- <legend>Values to Exclude by Original Key</legend>
        <md-input-container class="md-block md-padding">
            <label>All</label>
            <md-chips ng-model="dataset.fe_filters.valuesToExcludeByOriginalKey._all"
                      name="valuesToExcludeAll"
                      md-enable-chip-edit="true"
                      placeholder="Enter a Value" secondary-placeholder="+Value" ng-trim="false">
                <md-chip-template>
                    {{$chip}}
                    <em>(All)</em>
                </md-chip-template>
            </md-chips>
        </md-input-container> -->

        <md-input-container class="md-block md-padding">
            <label>{{fieldName}}</label>
            <md-chips ng-model="dataset.fe_filters.valuesToExcludeByOriginalKey[fieldName]"
                      name="valuesToExcludeSelf"
                      md-enable-chip-edit="true"
                      placeholder="Enter a Value" secondary-placeholder="+Value"
                      ng-trim="false">
                <md-chip-template>
                    {{$chip}}
                    <em>({{fieldName}})</em>
                </md-chip-template>
            </md-chips>
        </md-input-container>
    </fieldset>

    <md-input-container class="md-block" flex-gt-sm ng-if="customFieldIndex == undefined">
        <label>Exclude filters by keyword</label>
        <md-chips ng-model="data.keywords.choices" name="keywords"
                  md-enable-chip-edit="true"
                  placeholder="Enter a keyword" secondary-placeholder="Add keyword">
        </md-chips>
    </md-input-container>
</md-content>
