<md-dialog aria-label="Format Field : ({{ dataset.title }})" class="field-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Format Field : ({{ dataset.title }})</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <span class="icon-close-big" aria-label="Close dialog"></span>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <form name="dialog.fieldForm">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="General">
                    <ng-include src="'templates/blocks/data.field.general.html'"></ng-include>
                </md-tab>

                <md-tab label="Filter">
                    <ng-include src="'templates/blocks/data.field.filter.html'"></ng-include>
                </md-tab>

                <md-tab></md-tab>
            </md-tabs>

            <md-dialog-actions layout="row" layout-align="end center">
                <md-button class="md-raised" ng-click="delete()" ng-if="customFieldIndex != undefined">
                    Delete
                </md-button> 
                <md-button class="md-raised" ng-click="reset()" ng-disabled="!dialog.fieldForm.$dirty">
                    Reset
                </md-button>

                <md-button class="md-raised" ng-click="save()" ng-disabled="!dialog.fieldForm.$dirty || dialog.fieldForm.$invalid">
                    Save
                </md-button>



            </md-dialog-actions>
        </form>
    </md-dialog-content>
</md-dialog>