<ul class="nav">

    <li ui-sref-active="active">
        <a ui-sref="dashboard.account" role="button"> Account</a>
    </li>

    <li ng-if="user.role=='admin' || user.role=='superAdmin'" ui-sref-active="active">
        <a ui-sref="dashboard.website" role="button">Website Settings</a>
    </li>

    <li ng-if="user.role=='admin' || user.role=='superAdmin' || user.role=='editor'" ng-class="{'active': $state.includes('dashboard.dataset')}">
        <a ui-sref="dashboard.dataset.list" role="button"> Dataset Settings</a>
    </li>

    <li ng-if="user.role=='admin' || user.role=='superAdmin'" ng-class="{'active': $state.includes('dashboard.user')}">
        <a ui-sref="dashboard.user.list" role="button"> Manage Users</a>
    </li>

     <li ng-if="user._team.found" ui-sref-active="active">
        <a ui-sref="dashboard.teams" role="button"> Manage Teams </a>
    </li>

</ul>


