<ul class="nav">

    <li class="sidebar-label">
        <a class="sidebar-label">{{user.firstName}} {{user.lastName}}</a>
    </li>

    <li ng-class="{'active': currentMenuItem === 'account'}">
        <a ui-sref="dashboard.account.profile" role="button"> Account Settings</a>
    </li>

    <li ng-if="user.role=='admin' || user.role=='superAdmin' || user._team.length > 1" ng-class="{'active': currentMenuItem === 'teams'}">
        <a ui-sref="dashboard.teams" role="button">Manage Teams</a>
    </li>

    <hr>

    <li class="sidebar-label">
        <a class="sidebar-label">{{team.subdomain}}.arrays.co</a>
    </li>
    <li ng-if="user.role=='admin' || user.role=='superAdmin'" ng-class="{'active': currentMenuItem === 'team'}">
        <a ui-sref="dashboard.team.settings" role="button">Team Settings</a>
    </li>
    <li ng-if="user.role=='admin' || user.role=='superAdmin' || user.role=='editor'" ng-class="{'active': currentMenuItem === 'dataset'}">
        <a ui-sref="dashboard.dataset.list" role="button">Collection Settings</a>
    </li>
    <li ng-if="user.role=='admin' || user.role=='superAdmin'" ng-class="{'active': currentMenuItem === 'user'}">
        <a ui-sref="dashboard.user.list" role="button"> Manage Users</a>
    </li>
    <li class="website">
        <a href="{{subdomain}}" role="button" class="sidebar-link" target="_blank" ng-click="updateSubdomain()">View Website</a>
    </li>

</ul>
