<h3>Your Team Infomation</h3>

<form class="signup col-xs-12 col-sm-8 col-md-7">
	
		<div class="form-group">
			<label>Team Title</label><small class="pull-right">You can change this later</small>
	  	

	  		<div class="input-group">
			  <span class="input-group-addon"><i class="fa fa-group"></i></span>
			  <input type="text" class="form-control">
			</div>


		</div>


		<div class="form-group">
	 		<label>Your subdomain</label>

	  		<div class="input-group">
	  			
				  <span class="input-group-addon"><i class="fa fa-mouse-pointer"></i></span>
				  <input type="text" class="form-control">
				  <span class="input-group-addon">.arrays.co</span>
			</div>
		</div>

		<div>
			<button type="button" class="btn btn-success pull-right" P>Register</button>
		</div>
</form>