<form name="emailForm" class="signup col-xs-12 col-sm-8 col-md-7" ng-submit='createUser()' novalidate>
	
		<div class="form-group" ng-class="{ 'has-error': emailForm.email.$touched && emailForm.email.$invalid}">
			<p class="text-center signuptext">What is your email address?</p>

	  		<div class="input-group">
			  <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
			  <input name="email" type="email" class="form-control" ng-model="user.email" 
			  ng-model-options="{updateOn:'blur'}" unique-email required>


			</div>
			 <div class="help-block" ng-messages="emailForm.email.$error" ng-if="emailForm.email.$touched">
			    <p ng-message="required">Your email is required.</p>
			    <p ng-message="email">Your email is not valid.</p>
			    <p ng-message="emailAvailable">We found this email in our system.<a href='/auth/login'>Login?</a></p>
			</div>
		</div>

		<div class="float-parent">
			<button type="submit" class="btn btn-success pull-right" ng-disabled="emailForm.$invalid" >Continue > </button>
		</div>

	<div ng-if="user._team" class="alert alert-warning reminder-message">

		<strong><i class="fa fa-exclamation"></i></strong> 

		<div ng-if="!user.activated && user._team">
			 It looks like that you have already registered but have not activated your account. You could always <a href="#" class="alert-link pointer"> resend the activation email</a>.
		</div>

		<div ng-if="user.activated && user._team">
			 You already have an account with us. Please <a href="#" class="alert-link pointer"> sign in here</a>.
		</div>

	</div>



</form>



