<md-dialog md-no-ink aria-label="Add Team">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Add Team</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <span class="icon-close-big" aria-label="Close dialog"></span>
            </md-button>
        </div>
    </md-toolbar>

    <!-- ng-if="user.role=='superAdmin'" -->
    <form name="vm.teamForm" ng-submit="createTeam()" autocomplete="off">
    <md-dialog-content layout-padding>
        <md-content layout="column" layout-gt-sm="row">
            <md-input-container flex>
                <label>Title</label>
                <input required name="title" ng-model="newTeam.title">
            </md-input-container>
            <md-input-container flex>
                <label>Subdomain</label>
                <input ng-model-options="{updateOn:'blur'}" ng-change="checkSubdomain()" required name="subdomain" ng-model="newTeam.subdomain">
                <div ng-messages="vm.teamForm.subdomain.$error">
                    <div ng-message="unique">This subdomain is reserved.</div>
                    <p ng-message="pattern">Must be lowercase and contains no whitespace or special character.</p>
                </div>
            </md-input-container>
        </md-content>

        <md-dialog-actions layout="row" layout-align="end center">
            <md-button md-no-ink ng-disabled="vm.teamForm.$invalid || !vm.teamForm.$dirty" class="md-dashboard" type="submit">
                <span class="btn-label">Create Team</span>
            </md-button>
            <md-button class="md-dashboard" ng-click="cancel()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </md-dialog-content>
    </form>
</md-dialog>
