<md-dialog md-no-ink aria-label="Delete User">
    <aa-toolbar title="Delete User" class="warn"></aa-toolbar>

    <md-dialog-content layout-padding>
        <md-content layout="column">
            <p>
                Are you sure you want to remove user
                <span ng-if="(person.firstName || person.lastName)">"{{person.firstName}} {{person.lastName}}"</span>
                <span ng-if="!(person.firstName || person.lastName)">"{{ person.email }}"</span>
                from "{{team.title}}"?
                They will no longer be able to access the team and any associated datasets.
            </p>
        </md-content>
        <md-dialog-actions layout="row" layout-align="end center">
            <md-button class="md-dashboard md-warn" ng-click="hide()">
                <span class="btn-label">Remove User</span>
            </md-button>
            <md-button class="md-dashboard" ng-click="cancel()">
                Cancel
            </md-button>
        </md-dialog-actions>
    </md-dialog-content>

</md-dialog>
