<md-dialog md-no-ink aria-label="Resend Invitation">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Resend Invitation</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <span class="icon-close-big" aria-label="Close dialog"></span>
            </md-button>
        </div>
    </md-toolbar>

    <form name="vm.userForm" autocomplete="off">
        <md-dialog-content layout-padding>
            <md-content layout="column">

                <p>
                    Do you want to resend your invitation to janedoe@gmail.com?
                </p>

            </md-content>
            <md-dialog-actions layout="row" layout-align="end center">

                <md-button ng-click="" class="md-dashboard warn" type="button">
                    <span class="btn-label">Resend Invite</span>
                </md-button>

                <md-button class="md-dashboard" ng-click="cancel()">
                    Cancel
                </md-button>
            </md-dialog-actions>
        </md-dialog-content>
    </form>

</md-dialog>
