<md-dialog md-no-ink aria-label="Invite User">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Invite User</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <span class="icon-close-big" aria-label="Close dialog"></span>
            </md-button>
        </div>
    </md-toolbar>

    <form name="vm.inviteForm" autocomplete="off">
        <md-dialog-content layout-padding>
            <md-content layout="column">
                <p>
                    Invite a new user to "Team 1".
                </p>
                <md-input-container flex>
                    <label>Email</label>
                    <input aria-label="email" required name="email">
                    <div ng-messages="vm.inviteForm.email.$error">
                        <div ng-message="unique">This user is an existing user.</div>
                    </div>
                </md-input-container>
            </md-content>

            <md-dialog-actions layout="row" layout-align="end center">
                <md-button md-no-ink ng-disabled="vm.inviteForm.$invalid || !vm.inviteForm.$dirty" ng-click="inviteUser()" class="md-dashboard">
                    <span class="btn-label">Invite User</span>
                </md-button>
                <md-button class="md-dashboard" ng-click="cancel()">
                    Cancel
                </md-button>
            </md-dialog-actions>
        </md-dialog-content>
    </form>

</md-dialog>
