{% extends "../layout/admin.html" %}

{% block headSuffix %}
	<title>Admin - Arrays</title>
{% endblock %}

{% block content %}

	<div id="primary" class="content-area">
		<main id="main" class="site-main" role="main">

			<div class="container">
				<div class="col-sm-3">

					<nav class="admin-sidebar">
						<ul class="nav nav-pills nav-stacked">
							<li role="presentation"><a href="#">Public Website</a></li>
							<li role="presentation" class="active"><a href="#">Account Settings</a></li>
							<li role="presentation"><a href="#">Website Settings</a></li>
							<li role="presentation"><a href="#">Manage Users</a></li>
						</ul>
					</nav>

				</div>
				<div class="col-sm-9">

					<h1>{{ message }}</h1>

				</div>
			</div><!-- .container -->

		</main><!-- #main -->
	</div><!-- #primary -->
{% endblock %}