<form name="vm.userForm" autocomplete="off">
    <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
            <label>Email</label>
            <input aria-label="email" required name="email" ng-model="selectedUser.email">
            <div ng-messages="vm.userForm.email.$error">
                <div ng-message="unique">This user is an existing user. </div>
            </div>
        </md-input-container>

      

    </div>

     <md-button ng-if="selectedUser.activated==false && selectedUser._team.length > 0" class="md-raised" ng-click="addMoreRole()"><span
            class="fa fa-share"></span> Resend Invitation
    </md-button>

    <form>
       
        <div class="table-container">
            <table ng-hide="selectedUser.activated==false && selectedUser._team.length > 0 || datasets.length == 0" class="table data">
                <thead>
                <tr>
                    <th>Dataset Title</th>
                    <th>User Permission</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="dataset in datasets">
                    <td>
                       {{dataset.title}}
                    </td>
                    <td>
                        <md-select aria-label="userRoles" name="role" required ng-model="userRoles[dataset._id]">
                            <md-option ng-repeat="role in availableUserRoles " value="{{role.value}}">
                                {{role.name}}
                            </md-option>
                        </md-select>


                    </td>
        
                </tr>
                </tbody>
            </table>
        </div>
    </form>





    <div layout="row" layout-align="end center">
        <md-button ng-disabled="vm.userForm.$invalid || !vm.userForm.$dirty" ng-click="inviteUser()" class="md-raised" type="button" ng-if="!userId">
            <span class="fa fa-plus"></span><span class="btn-label">Invite User</span>
        </md-button>

        <md-button ng-if="selectedUser.activated==true" ng-disabled="vm.userForm.$invalid || !vm.userForm.$dirty" ng-click="saveUser()" class="md-raised" type="button" ng-if="userId">
            <span class="fa fa-check"></span><span class="btn-label">Save User</span>
        </md-button>
    </div>
</form>