<form name="vm.userForm" autocomplete="off">
    <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
            <label>Email</label>
            <input name="email" ng-model="selectedUser.email">
        </md-input-container>

        <div ng-messages="vm.userForm.email.$error">
            <div ng-message="unique">This user is an existing user. </div>
        </div>

    </div>

     <md-button ng-if="selectedUser.activated==false && selectedUser._team.length > 0" class="md-raised" ng-click="addMoreRole()"><span
            class="fa fa-share"></span> Resend Invitation
    </md-button>


    <div ng-repeat="role in userRoles track by $index" >
        <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-sm>
                    <label>Role</label>
                   <md-select name="role" required ng-model="role.name">
                        <md-option ng-repeat="role in availableUserRoles | filter: checkDuplicateRole($index)" value="{{role.value}}">
                            {{role.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            
            <md-input-container class="md-block" flex-gt-sm>
                <label>Select Datasets</label>
                <md-select name="datasets" required multiple ng-model="role.datasets">
                    <md-option ng-repeat="dataset in datasets | filter: checkDuplicateDatasets($index)" value="{{dataset._id}}">
                        {{dataset.title}}
                    </md-option>
                </md-select>
            </md-input-container>

           <div flex="10">
                <md-button class="md-raised" ng-click="removeUserRole($index)" aria-label="Remove userRole"><span
                        class="glyphicon glyphicon-remove"></span></md-button>
            </div>

        
        </div>
    </div>



    <md-button ng-if="selectedUser.activated==true" class="md-raised" ng-click="addMoreRole()"><span
            class="glyphicon glyphicon-plus"></span>Add Role
    </md-button>




    

    <div layout="row" layout-align="end center">
        <md-button ng-disabled="vm.userForm.$invalid || !vm.userForm.$dirty" ng-click="inviteUser()" class="md-raised" type="button" ng-if="!userId">
            <span class="fa fa-plus"></span><span class="btn-label">Invite User</span>
        </md-button>

        <md-button ng-if="selectedUser.activated==true" ng-disabled="vm.userForm.$invalid || !vm.userForm.$dirty" ng-click="saveUser()" class="md-raised" type="button" ng-if="userId">
            <span class="fa fa-check"></span><span class="btn-label">Save User</span>
        </md-button>
    </div>
</form>