<a class="md-raised md-button" ui-sref="dashboard.user.edit" role="button"><span class="glyphicon glyphicon-plus"
                                                                                 aria-hidden="true"></span><span
        class="btn-label">Invite New User</span></a>

<md-toolbar layout="row" class="md-hue-3">
    <div class="md-toolbar-tools">Select a user to edit</div>
</md-toolbar>

<md-list ng-cloak>
    <md-list-item ng-repeat="person in users" ng-click="select(person, user)" class="noright">
        <p>
            {{ $index+1 }}. {{person.firstName}} {{person.lastName}} ({{ person.email }})
        </p>
        <md-checkbox class="md-secondary" ng-model="person.active" ng-change="toggleActive(person)"
                     ng-if="user._id != person._id">{{ person.active ? 'Active' : 'Inactive' }}
        </md-checkbox>
        <i class="md-secondary glyphicon glyphicon-trash" ng-click="remove(person)" aria-label="Delete"
           ng-if="user._id != person._id"></i>
        <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
</md-list>