<md-button class="md-dashboard md-dashboard-icon md-dark" ng-click="openUserDialog($event, {})" md-no-ink>
    <md-icon class="btn-icon">add</md-icon>
    <span class="btn-label">Invite User</span>
</md-button>

<p class="instructions">Users</p>

<ul class="dashboard-list user-list" ng-cloak>
    <li ng-repeat="person in users track by $index" layout="row" layout-align="none center">

        <div flex="10">
            <img src="/images/image-not-found-sm.png" />
        </div>

        <span ng-class="{'pending': user.invited[person._id]}" flex>
            <span class="dashboard-list-name">{{person.firstName}} {{person.lastName}}</span>
            <span class="dashboard-list-name" ng-if="!(person.firstName || person.lastName)">{{ person.email }}</span>
            <span ng-if="user.invited[person._id]">(Pending Invitation)</span>
        </span>

        <span class="dashboard-list-icon" ng-click="openUserDialog($event, person, user)" ng-if="user._id != person._id && !user.invited[person._id]" flex="10">
            <i class="fa fa-pencil" aria-hidden="true"></i>
        </span>
        <span class="dashboard-list-icon" ng-click="resendInvite(person, $event)" ng-if="user.invited[person._id]" flex="10">
            <i class="fa fa-refresh" aria-hidden="true"></i>
        </span>

        <span class="dashboard-list-icon warn" ng-click="remove(person, $event)" aria-hidden="true" aria-label="Delete" flex="5">
            <i class="fa fa-remove" aria-hidden="true"></i>
        </span>

    </li>
</ul>
