{% set currentView = "bar-chart" %}

{% extends "../layout/array.html" %}

{% import "../partials/dropdown.html" as dropdown %}
{% import "../partials/search.html" as search %}
{% import "../partials/filter.html" as filter %}

{% block headSuffix %}
    <title>Arrays - {{ arrayTitle }}</title>
{% endblock %}

{% block content %}
    <section class="array">

        <header class="array-header header-shadow array-header-small clearfix">
            <div class="container-fluid">
                <h1 class="array-title">{{ arrayTitle }}</h1>
                <div class="array-meta">
                    {% if sourceDocURL %}<a href="{{ sourceDocURL }}" target="_blank" class="array-meta-about color-brand">Source</a> <span class="array-meta-divider"></span> {% endif %}<span class="array-meta-count">{{ sourceDoc.numberOfRows | comma }} Record{{ "s" if sourceDoc.numberOfRows != 1 else "" }}</span> <span class="array-meta-divider hidden-xs"></span> <span class="array-meta-updated hidden-xs">Last Updated {{ sourceDoc.dateOfLastImport | dateFormattedAs_monthDayYear }}</span>
                </div>
            </div>
        </header><!-- .array-header -->

        {% if view_description %}
            <div class="array-description-wrapper">
                <p class="array-description">{{ view_description | truncate(80) }}</p>
                <a href="#expanded"><p class="array-description-expand">Read more</p></a>
                <p class="array-description-full">{{ view_description }}
                <a href="#"><p class="array-description-collapse">less</p></a>
            </div>
        {% endif %}

        <div class="array-content">

            <div class="chart-container">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="sort-bar clearfix">

                                <nav class="sort-bar-left pull-left" role="navigation">

                                    {% if colNames_orderedForAggregateByDropdown %}
                                    {{
                                    dropdown.sortbar(
                                        'Y Axis',
                                        aggregateBy if aggregateBy else defaultAggregateByColumnName_humanReadable,
                                        colNames_orderedForAggregateByDropdown,
                                        routePath_base | constructedRoutePath(filterObj, {
                                            searchCol: searchCol,
                                            searchQ: searchQ,
                                            stackBy: stackBy,
                                            groupBy: groupBy,
                                            aggregateBy: ''
                                        })
                                    )
                                    }}
                                    {% endif %}

                                    {% if colNames_orderedForGroupByDropdown %}
                                    {{
                                    dropdown.sortbar(
                                        'X Axis',
                                        groupBy if groupBy else defaultGroupByColumnName_humanReadable,
                                        colNames_orderedForGroupByDropdown,
                                        routePath_base | constructedRoutePath(filterObj, {
                                            searchCol: searchCol,
                                            searchQ: searchQ,
                                            stackBy: stackBy,
                                            aggregateBy: aggregateBy,
                                            groupBy: ''
                                        })
                                    )
                                    }}
                                    {% endif %}

                                    {% if colNames_orderedForStackByDropdown %}
                                    {{
                                    dropdown.sortbar
                                    (
                                        "Stack By",
                                        stackBy if stackBy else defaultStackByColumnName_humanReadable,
                                        colNames_orderedForStackByDropdown,
                                        routePath_base | constructedRoutePath(filterObj, {
                                            searchCol: searchCol,
                                            searchQ: searchQ,
                                            aggregateBy: aggregateBy,
                                            groupBy: groupBy,
                                            stackBy: ''
                                        })
                                    )
                                    }}
                                    {% endif %}


                                </nav>

                                <div class="sort-bar-right pull-right">
                                    <div class="sort-control">
                                        <div id="orientation" class="toggle-button" title="Toggle to view in horizontal or vertical mode">
                                            <span class="horizontal glyphicon glyphicon-align-left"></span>
                                            <span class="vertical glyphicon glyphicon-stats"></span>
                                        </div>

                                        <div id="normalization" class="toggle-button" title="Toggle to view in absolute or relative mode">
                                            <span class="absolute">#</span>
                                            <span class="relative">%</span>
                                        </div>

                                        <div id="sort-direction" class="toggle-button" title="Toggle to sort by ascending or descending">
                                            <span class="icon-sort-ascending sort-direction-icon" aria-hidden="true"></span>
                                            <span class="icon-sort-descending sort-direction-icon" aria-hidden="true"></span>
                                        </div>
                                    </div>

                                    {{
                                    search.panel(
                                        routePath_base,
                                        searchCol if searchCol else "Object Title",
                                        colNames_orderedForSortByDropdown,
                                        searchQ if searchQ else "",
                                        null,
                                        null,
                                        filterObj
                                    )
                                    }}

                                    <a class="btn dropdown-toggle-button legend-toggle hidden-xs">
                                        <span class="icon-legend" aria-hidden="true"></span>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div><!-- .row -->
                </div><!-- .container-fluid -->

                {% if isFilterActive %}
                    {{
                    filter.default(displayTitleOverrides,
                        routePath_base | constructedRoutePath(null, {
                            searchCol: searchCol,
                            searchQ: searchQ,
                            aggregateBy: aggregateBy,
                            groupBy: groupBy,
                            stackBy: stackBy,
                            sortBy: sortBy
                        }),
                        filterObj,
                        truesByFilterValueByFilterColumnName_forWhichNotToOutputColumnNameInPill,
                        false,
                        'filter-bar-fixed-bottom'
                    )
                    }}
                {% endif %}

                <script type="text/javascript">
                    // var barColors = {{ barColors | dump | safe }};
                    var filterObj = {{ filterObj | dump | safe }};
                    var routePath_withoutFilter = '{{ routePath_base | constructedRoutePath(null, {
                            searchCol: searchCol,
                            searchQ: searchQ,
                            aggregateBy: aggregateBy,
                            groupBy: groupBy,
                            stackBy: stackBy,
                            sortDir: sortDir
                    }) | safe }}';
                    var stackBy = '{{ stackBy if stackBy else defaultStackByColumnName_humanReadable }}';

                    var options = {
                        padding: {{ padding if padding else false }}
                    };
                </script>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">

                            <div id="bar-chart"></div>

                        </div>
                    </div><!-- .row -->
                </div><!-- .container-fluid -->

            </div><!-- .chart-container -->

            <nav class="legend" role="navigation">
                <button type="button" class="close legend-close" aria-label="Close"><span class="icon-close-big" aria-hidden="true"></span></button>
                <h3 class="legend-title">Legend</h3>
                <ul class="legend-list"></ul>
            </nav>

        </div><!-- .array-content -->

    </section>
{% endblock %}

{% block inlineScript %}
    {{ super() }}

    <script type="text/javascript" src="/javascripts/vendors/d3/d3.js"></script>
    <script type="text/javascript" src="/javascripts/tooltip.js"></script>
    <script type="text/javascript" src="/javascripts/module/barchart/barChart.js"></script>
    <script type="text/javascript" src="/javascripts/module/barchart/verticalBarChart.js"></script>
    <script type="text/javascript" src="/javascripts/module/barchart/horizontalBarChart.js"></script>
    <script>
        var graphData = {{graphData | dump | safe}};
    </script>
    <script type="text/javascript" src="/javascripts/module/barchart/main.js"></script>

{% endblock %}