{% set currentView = "create" %}

{% extends "../layout/create.html" %}

{% block headSuffix %}
    <title>Arrays - Create</title>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">

                <section class="section section-array-create">
                    <form id="form-source" class="form-source">

                        <header class="section-header">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h2 class="section-title">Explore Arrays</h2>
                                </div>
                            </div><!-- .row -->
                        </header>

                        {% for source in sources %}
                            <div class="radio">
                                <label>
                                    <input type="radio" name="team_key" value="{{ source.subdomain }}" class="hidden">
                                    <div class="panel panel-default panel-source team-{{ source.subdomain }} js-panel-team">
                                        {% if source.brandColor %}
                                            <style scoped>
                                                .source-{{ source.key }} .color-brand,
                                                .source-{{ source.key }} a.color-brand:hover,
                                                .source-{{ source.key }} a.color-brand:focus,
                                                .source-{{ source.key }} a.color-brand:active {
                                                    color: {{ source.brandColor }};
                                                }
                                            </style>
                                        {% endif %}
                                        <div class="panel-body border-top-color-brand">
                                            <h2 class="panel-body-title">{{ source.title }}</h2>
                                            <div class="panel-body-meta">
                                                <div>
                                                    <a class="panel-view-array color-brand">View Team</a>
                                                </div>
                                                <span class="source-count hidden-xs">{{ source.datasourceDescriptions.length | comma }} Dataset{{ "s" if source.datasourceDescriptions.length != 1 else "" }}</span>
                                            </div>
                                            <p class="panel-body-description">{{ source.description }}</p>
                                        </div>
                                    </div><!-- .panel -->
                                </label>
                            </div><!-- .radio -->

                        {% endfor %}
                    </form>
                </section>

            </div>
        </div><!-- .row -->
    </div>
{% endblock %}