{% set currentView = "create" %}

{% extends "../layout/create.html" %}

{% block headSuffix %}
    <title>Arrays - Explore</title>
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">

                <section class="section section-array-create">
                    <form id="form-source" class="form-source">

                        <header class="section-header explore-header">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h2 class="section-title">Explore</h2>
                                </div>
                            </div><!-- .row -->
                        </header>

                        {% for key,value in sources %}

                        {% if value.dataSourceDescriptions.length > 0 %}

                        <!---   Hiding team for now -->

                     <!--        <div class="radio">
                                <label>
                                    <input type="radio" name="subdomain" value="{{ addSubdomain(key) }}" class="hidden">
                                    <div class="panel panel-default panel-source team-{{ key }} js-panel-team">
    
                                        <div class="panel-body border-top-color-brand">
                                            <h2 class="panel-body-title">{{ value.team.title }}</h2>
                                            <div class="panel-body-meta">
                                                <div>
                                                    <a class="panel-view-array color-brand">View Team</a>
                                                </div>
                                                <span class="source-count hidden-xs"> {% if not value.dataSourceDescriptions %}0 Dataset
                                                {% else %}{{ value.dataSourceDescriptions.length | comma }} Dataset{{ "s" if value.dataSourceDescriptions.length != 1 else "" }} {% endif %}</span>
                                            </div>
                                            <p class="panel-body-description">{{ value.team.description }}</p>
                                        </div>
                                    </div>
                                </label>
                            </div> -->

                            <div class="row">

                                {% for teamDesc in value.dataSourceDescriptions %}
                                
                                 {{teamDesc.uid}}

                                <div class="explore-tile col-md-4 col-sm-6 col-xs-12">
                                    <input type="radio" name="source_key" value="{{ teamDesc.key | splitSubdomain }}" class="hidden">
                                    <input type="hidden" name="default_filterJSON" value="{{ teamDesc.default_filterJSON }}" class="hidden">
                                    <input type="hidden" name="default_view" value="{{ teamDesc.default_view }}" class="hidden">
                                    <input type="hidden" name="subdomainUrl" value="{{teamDesc.datasetBaseLink}}" class="hidden">
                                    <div class="panel panel-default panel-source source-{{ teamDesc.key }} js-panel-array mobile-max-width">
                                        {% if teamDesc.brandColor %}
                                            <style scoped>
                                                .source-{{ teamDesc.key }} .explore-tile-header {
                                                    background-color: {{ teamDesc.brandColor }};
                                                }

                                                {% if teamDesc.description %}
                                                .source-{{ teamDesc.key }}:hover .explore-tile-description-container {
                                                    max-height: 100%;
                                                    transition: max-height 300ms linear;
                                                }
                                            {% endif %}
                                            </style>
                                        {% endif %}


                                        <div class="explore-tile-body">
                                            <div class="explore-tile-header">
                                                <h2>{{ teamDesc.title }}</h2>
                                                <div class="explore-tile-meta-wrapper">
                                                    <div class="explore-tile-meta">
                                                        By {{value.team.title}}
                                                    </div>
                                                    <div class="explore-tile-meta">
                                                        {% set comma = joiner() %}
                                                  
                                                        <span class="source-divider"></span>
                                                        <span class="source-updated">Updated: {{ teamDesc.sourceDoc.dateOfLastImport | dateFormattedAs_monthDayYear }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% if teamDesc.banner %}

                    

                                        <div class="explore-tile-banner-image" style="background-image:url('{{ makeURLfrom_relativePath(teamDesc.banner,key,teamDesc._id,'banner')  }}')">
                                        {% else %}
                                        <div class="explore-tile-banner-image" style="background-image:url('/images/explore/default_pattern.png'); background-color:{{ teamDesc.brandColor }}">
                                        {% endif %}
                                            {% if teamDesc.description %}
                                            <div class="explore-tile-description-container">
                                                <div class="explore-tile-description">
                                                {% if teamDesc.description.length > 200 %}
                                                {% set space = teamDesc.description.indexOf(' ', 190) %}
                                                    {% if space %}
                                                        {{ teamDesc.description.slice(0,space) + '...' }}
                                                    {% elif teamDesc.description.length > 215 %}
                                                        {{ teamDesc.description.slice(0,200) + '...' }}
                                                    {% else %}
                                                        {{ teamDesc.description }}
                                                    {% endif %}
                                                {% else %}
                                                    {{ teamDesc.description }}
                                                {% endif %}
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>

                                    </div><!-- .panel -->
                                </div><!-- .radio -->



                                {% endfor %}
                            </div>
                            {% endif %}

                        {% endfor %}
                    </form>
                </section>

            </div>
        </div><!-- .row -->
    </div>
{% endblock %}