.{% set currentView = "line-graph" %}

{% extends "../layout/array.html" %}

{% import "../partials/dropdown.html" as dropdown %}
{% import "../partials/search.html" as search %}
{% import "../partials/filter.html" as filter %}

{% block headSuffix %}
    <title>Arrays - {{ arrayTitle }}</title>
{% endblock %}

{% block content %}
    <section class="array">

        <header class="array-header header-shadow array-header-small clearfix">
            <div class="container-fluid">
                <h1 class="array-title">{{ arrayTitle }}{% if isPreview %}<span class="preview-indicator"> (preview)</span>{% endif %}</h1>
                <div class="array-meta">
                    {% if team.subdomain | length %}<a class="array-meta-about color-brand" href="{{ addSubdomain(team.subdomain) }}">{{ team.title }}</a>{% endif %}
                    <span class="array-meta-divider toggle-info-header"><a data-toggle="modal" data-target="#headerModal" class="array-meta-about color-brand">Info</a>
                </div>
            </div>
        </header><!-- .array-header -->

        <!-- Array Header Modal -->
        <div class="modal header-modal fade" id="headerModal" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">

              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h1 class="array-title">{{ arrayTitle }}{% if isPreview %}<span class="preview-indicator"> (preview)</span>{% endif %}</h1>
              </div>

              <div class="modal-body">
                {% if team.subdomain | length %}<h3><a class="color-brand" href="{{ addSubdomain(team.subdomain) }}">{{ team.title }}</a></h3>{% endif %}
                  {% if sourceDocURL %} <h4><a href="{{ sourceDocURL }}" target="_blank" class="array-meta-about color-brand">{{ sourceDocURL }}</a></h4>{% endif %}
                  <p class="array-meta-updated">Updated {{ sourceDoc.dateOfLastImport | dateFormattedAs_monthDayYear_array }}</p>
                  <p>{{ sourceDoc.numberOfRows | comma }} Item{{ "s" if sourceDoc.numberOfRows != 1 else "" }}</p>
                  <p>{{description}}</p>
              </div>
            </div>
          </div>
        </div>

        {% if view_description %}
           <div class="array-description-wrapper">
               <p class="array-description">{{ view_description }}</p>
           </div>
        {% endif %}

        <div class="array-content">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">

                        <div id="array-controls" class="sort-bar clearfix {{ 'has-description' if view_description }}">

                            <nav class="sort-bar-left pull-left" role="navigation">
                                {{
                                dropdown.default(
                                    'Chart By',
                                    groupBy if groupBy else defaultGroupByColumnName_humanReadable,
                                    colNames_orderedForGroupByDropdown,
                                    routePath_base | constructedRoutePath(filterObj, {
                                        searchCol: searchCol,
                                        searchQ: searchQ,
                                        aggregateBy: aggregateBy,
                                        groupBy: ''
                                    })
                                )
                                }}

                                {{
                                dropdown.default(
                                    'Aggregate By',
                                    aggregateBy if aggregateBy else defaultAggregateByColumnName_humanReadable,
                                    colNames_orderedForAggregateByDropdown,
                                    routePath_base | constructedRoutePath(filterObj, {
                                        searchCol: searchCol,
                                        searchQ: searchQ,
                                        groupBy: groupBy,
                                        aggregateBy: ''
                                    })
                                )
                                }}
                            </nav>

                            <div class="sort-bar-right pull-right">
                                {{
                                search.default(
                                    routePath_base,
                                    searchCol if searchCol else "Object Title",
                                    colNames_orderedForSortByDropdown,
                                    searchQ if searchQ else "",
                                    sortBy,
                                    sortDir,
                                    filterObj
                                )
                                }}
                                {% include "../partials/legend-toggle.html" %}
                            </div>

                        </div>
                    </div>
                </div><!-- .row -->
            </div><!-- .container-fluid -->

            <script type="text/javascript">
                var filterObj = {{ filterObj | dump | safe }};
                var routePath_withoutFilter = '{{ routePath_base | constructedRoutePath(null, {
                        searchCol: searchCol,
                        searchQ: searchQ,
                        groupBy: groupBy,
                        aggregateBy: aggregateBy
                }) | safe }}';
                var groupBy = '{{ groupBy if groupBy else defaultGroupByColumnName_humanReadable }}';
                var groupBy_outputInFormat = '{{ groupBy_outputInFormat }}';

                var redirectBaseUrl = undefined;
                {% if mapping_source_pKey %}
                    var default_view  = '{{ mapping_default_view if mapping_default_view else "gallery"}}';
                    var words = default_view.split(/(?=[A-Z])/);
                    var default_view_url = words.map(function(word){ return word.toLowerCase(); }).join('-');
                    redirectBaseUrl = '/{{ mapping_source_pKey }}/' + default_view_url;
                    {% if embedded %}
                        redirectBaseUrl += '{{ "?embed=true" | constructedRoutePath(mapping_default_filterObj, mapping_groupByObj) | safe }}';
                    {% else %}
                        redirectBaseUrl += '{{ "" | constructedRoutePath(mapping_default_filterObj, mapping_groupByObj) | safe }}';
                    {% endif %}
                {% endif %}
                var options = {
                    redirectBaseUrl: redirectBaseUrl,
                    outputInFormat: groupBy_outputInFormat,
                    groupBy_isDate: '{{groupBy_isDate}}'
                };
            </script>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">

                        <div id="linechart" class="scatterplot linechart"></div>

                    </div>
                </div><!-- .row -->
            </div><!-- .container-fluid -->

            {% if isFilterActive %}
                {{
                filter.default(displayTitleOverrides,
                    routePath_base | constructedRoutePath(null, {
                        searchCol: searchCol,
                        searchQ: searchQ,
                        groupBy: groupBy,
                        aggregateBy: aggregateBy
                    }),
                    filterObj,
                    truesByFilterValueByFilterColumnName_forWhichNotToOutputColumnNameInPill,
                    false,
                    'filter-bar-fixed-bottom'
                )
                }}
            {% endif %}

        </div><!-- .array-content -->

    </section>
{% endblock %}

{% block inlineScript %}
    {{ super() }}

    <script type="text/javascript" src="/vendors/scrollmagic/scrollmagic/minified/ScrollMagic.min.js"></script>
    <script type="text/javascript" src="/vendors/lodash/dist/lodash.js"></script>
    <script type="text/javascript" src="/vendors/d3/d3.js"></script>
    <script type="text/javascript" src="/vendors/moment/moment.js"></script>

    <script type="text/javascript" src="/javascripts/tooltip.js"></script>
    <script type="text/javascript" src="/javascripts/scatterplot/main.js"></script>
    <script type="text/javascript" src="/javascripts/linechart/main.js"></script>
    <script type="text/javascript" src="/javascripts/linechart/base.js"></script>
    <script type="text/javascript" src="/javascripts/linechart/viewport.js"></script>
    <script type="text/javascript" src="/javascripts/linechart/navigation.js"></script>
    <script type="text/javascript" src="/javascripts/linechart/chart.js"></script>
    <script>
        var graphData = {{graphData | dump | safe}};
        var lineChart = new linechart.chart(graphData , options).render("#linechart");

    </script>
    <script type="text/javascript" src="/javascripts/banner.js"></script>
{% endblock %}