
{% set currentView = "pie-set" %}

{% extends "../layout/array.html" %}

{% import "../partials/dropdown.html" as dropdown %}
{% import "../partials/search.html" as search %}
{% import "../partials/filter.html" as filter %}

{% block headSuffix %}
    <title>Arrays - {{ arrayTitle }}</title>
{% endblock %}

{% block content %}
    <section class="array">

        <header class="array-header header-shadow array-header-small clearfix">
            <div class="container-fluid">
                <h1 class="array-title">{{ arrayTitle }}</h1>
                <div class="array-meta">
                    {% if team.subdomain | length %}<a class="array-meta-about color-brand" href="{{ addSubdomain(team.subdomain) }}">{{ team.title }}</a>{% endif %}{% if sourceDocURL %} <span class="array-meta-divider"> <a href="{{ sourceDocURL }}" target="_blank" class="array-meta-about color-brand">Source</a>{% endif %} <span class="array-meta-divider hidden-xs"></span> <span class="array-meta-count hidden-xs">{{ sourceDoc.numberOfRows | comma }} Item{{ "s" if sourceDoc.numberOfRows != 1 else "" }}</span> <span class="array-meta-divider hidden-xs"></span> <span class="array-meta-updated hidden-xs">Updated {{ sourceDoc.dateOfLastImport | dateFormattedAs_monthDayYear_array }}</span>
                </div>
            </div>
        </header><!-- .array-header -->

        {% if view_description %}
           <div class="array-description-wrapper">
               <p class="array-description">{{ view_description }}</p>
           </div>
        {% endif %}

        <div class="array-content">

            <div class="chart-container">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">

                            <div id="array-controls" class="sort-bar clearfix {{ 'has-description' if view_description }}">

                                <nav class="sort-bar-left pull-left" role="navigation">
                                    {{
                                    dropdown.sortbar
                                        (
                                            "Chart By",

                                            chartBy if chartBy else defaultChartByColumnName_humanReadable,
                                            colNames_orderedForChartByDropdown,
                                            routePath_base | constructedRoutePath(filterObj, {
                                                searchCol: searchCol,
                                                searchQ: searchQ,
                                                aggregateBy: aggregateBy,
                                                groupBy: groupBy,
                                                chartBy: ''
                                            })
                                        )
                                    }}

                                    {{
                                    dropdown.sortbar
                                    (
                                        "Group By",
                                        groupBy if groupBy else defaultGroupByColumnName_humanReadable,
                                        colNames_orderedForGroupByDropdown,
                                        routePath_base | constructedRoutePath(filterObj, {
                                            searchCol: searchCol,
                                            searchQ: searchQ,
                                            aggregateBy: aggregateBy,
                                            chartBy: chartBy,
                                            groupBy: ''
                                        })
                                    )
                                    }}

                                    {% if aggregateBy_humanReadable_available %}
                                        {{
                                        dropdown.sortbar(
                                            'Aggregate By',
                                            aggregateBy if aggregateBy else defaultAggregateByColumnName_humanReadable,
                                            aggregateBy_humanReadable_available,
                                            routePath_base | constructedRoutePath(filterObj, {
                                                searchCol: searchCol,
                                                searchQ: searchQ,
                                                chartBy: chartBy,
                                                groupBy: groupBy,
                                                aggregateBy: ''
                                            })
                                        )
                                        }}
                                    {% endif %}
                                </nav>

                                <div class="sort-bar-right pull-right">
                                    {{
                                    search.default(
                                        routePath_base,
                                        searchCol if searchCol else "Object Title",
                                        colNames_orderedForSortByDropdown,
                                        searchQ if searchQ else "",
                                        null,
                                        null,
                                        filterObj
                                    )
                                    }}

                                    {% include "../partials/legend-toggle.html" %}
                                </div>

                            </div>
                        </div>
                    </div><!-- .row -->
                </div><!-- .container-fluid -->



                {% if isFilterActive %}
                    {{
                    filter.default(displayTitleOverrides,
                        routePath_base | constructedRoutePath(null, {
                            searchCol: searchCol,
                            searchQ: searchQ,
                            chartBy: chartBy,
                            groupBy: groupBy,
                            aggregateBy: aggregateBy
                        }),
                        filterObj,
                        truesByFilterValueByFilterColumnName_forWhichNotToOutputColumnNameInPill,
                        false,
                        'filter-bar-fixed-bottom'
                    )
                    }}
                {% endif %}

                <script type="text/javascript">
                    var pieData = {{ groupedResults | dump | safe }};

                    var legendData = {{ flatResults | dump | safe }};
                    var filterObj = {{ filterObj | dump | safe }};
                    var routePath_withoutFilter = "{{ routePath_base | constructedRoutePath(null, {
                            searchCol: searchCol,
                            searchQ: searchQ,
                            chartBy: chartBy,
                            groupBy: groupBy,
                            aggregateBy: aggregateBy
                    }) | safe }}";
                    var chartBy = '{{ chartBy if chartBy else
                        defaultChartByColumnName_humanReadable }}';
                    var groupBy = '{{ groupBy if groupBy else defaultGroupByColumnName_humanReadable }}';
                </script>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="gallery">
                                <ul id="pie-set" class="gallery-grid"></ul>
                            </div>
                        </div>
                    </div><!-- .row -->
                </div><!-- .container-fluid -->

            </div><!-- .chart-container -->

            <nav class="legend" role="navigation">
                <button type="button" class="close legend-close" aria-label="Close"><span class="icon-close-big" aria-hidden="true"></span></button>
                <h3 class="legend-title">Legend</h3>

                {% if flatResults | length %}
                <ul class="legend-list"></ul>
                {% endif %}
            </nav>

        </div><!-- .array-content -->

    </section>
{% endblock %}

{% block inlineScript %}
    {{ super() }}

    <script type="text/javascript" src="/vendors/d3/d3.js"></script>
    <script type="text/javascript" src="/javascripts/pieset/pieChart.js"></script>
    <script type="text/javascript" src="/javascripts/pieset/pieSetController.js"></script>
    <script type="text/javascript" src="/vendors/scrollmagic/scrollmagic/minified/ScrollMagic.min.js"></script>
    <script type="text/javascript" src="/javascripts/banner.js"></script>
{% endblock %}
