{% set currentView = "timeline" %}

{% extends "../layout/array.html" %}

{% import "../partials/dropdown.html" as dropdown %}
{% import "../partials/search.html" as search %}
{% import "../partials/filter.html" as filter %}
{% import "../partials/pagination.html" as pagination %}

{% block headSuffix %}
    <title>Arrays - {{ arrayTitle }}</title>
{% endblock %}

{% block content %}
    <section class="array">

        <header class="array-header header-shadow array-header-small clearfix">
            <div class="container-fluid">
                <h1 class="array-title">{{ arrayTitle }}</h1>
                <div class="array-meta">
                    {% if team.subdomain | length %}<a class="array-meta-about color-brand" href="{{ addSubdomain(team.subdomain) }}">{{ team.title }}</a>{% endif %}{% if sourceDocURL %} <span class="array-meta-divider"> <a href="{{ sourceDocURL }}" target="_blank" class="array-meta-about color-brand">Source</a>{% endif %} <span class="array-meta-divider hidden-xs"></span> <span class="array-meta-count hidden-xs">{{ sourceDoc.numberOfRows | comma }} Item{{ "s" if sourceDoc.numberOfRows != 1 else "" }}</span> <span class="array-meta-divider hidden-xs"></span> <span class="array-meta-updated hidden-xs">Updated {{ sourceDoc.dateOfLastImport | dateFormattedAs_monthDayYear_array }}</span>
                </div>
            </div>
        </header><!-- .array-header -->

        {% if view_description %}
           <div class="array-description-wrapper">
               <p class="array-description">{{ view_description }}</p>
           </div>
        {% endif %}

        <div id="array-controls" class="array-controls">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="sort-bar clearfix">

                            <nav class="sort-bar-left pull-left" role="navigation">

                                {{
                                dropdown.sortbar(
                                    'Group By',
                                    groupBy if groupBy else defaultGroupByColumnName_humanReadable,
                                    colNames_orderedForGroupByDropdown,
                                    routePath_base | constructedRoutePath(filterObj, {
                                        searchCol: searchCol,
                                        searchQ: searchQ,
                                        sortBy: sortBy,
                                        sortDir: sortDir,
                                        page: onPageNum if onPageNum != 1 else null,
                                        groupBy: ''
                                    })
                                )
                                }}

                                {{
                                dropdown.sortbar(
                                    'Sort By',
                                    sortBy if sortBy else defaultSortByColumnName_humanReadable,
                                    colNames_orderedForTimelineSortByDropdown,
                                    routePath_base | constructedRoutePath(filterObj, {
                                        searchCol: searchCol,
                                        searchQ: searchQ,
                                        groupBy: groupBy,
                                        sortDir: sortDir,
                                        page: onPageNum if onPageNum != 1 else null,
                                        sortBy: ''
                                    })
                                )
                                }}
                            </nav>

                            <div class="sort-bar-right pull-right">
                                {{
                                search.default(
                                    routePath_base,
                                    searchCol if searchCol else "Object Title",
                                    colNames_orderedForSortByDropdown,
                                    searchQ if searchQ else "",
                                    sortBy,
                                    sortDir,
                                    filterObj
                                )
                                }}
                            </div>

                        </div>

                    </div>
                </div><!-- .row -->
            </div>
        </div>

        <div class="array-content">

            <div class="timeline-container">

                {% if isFilterActive %}
                    {{
                    filter.default(displayTitleOverrides,
                        routePath_base | constructedRoutePath(null, {
                            searchCol: searchCol,
                            searchQ: searchQ,
                            sortBy: sortBy,
                            sortDir: sortDir,
                            page: onPageNum if onPageNum != 1 else null,
                            groupBy: groupBy
                        }),
                        filterObj,
                        truesByFilterValueByFilterColumnName_forWhichNotToOutputColumnNameInPill,
                        false,
                        'filter-bar-fixed-bottom'
                    )
                    }}
                {% endif %}

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">



                        <div class="timeline">

                        {# <pre>{{ groupedResults | dump | safe }}</pre> #}

                        {# {{ sortBy_realColumnName }} #}
                        {# {{ groupBy_realColumnName }} #}

                            {% if groupedResults | length %}
                                <ul class="timeline-list">
                                    {% for group in groupedResults %}
                                        {% if group.results | length %}
                                            <li class="timeline-group">

                                                <span class="timeline-group-label">{{ group.startDate | dateFormat(groupByDateFormat) }}{% if group.startDate | dateFormat(groupByDateFormat) != group.endDate | dateFormat(groupByDateFormat) %}&ndash;{{ group.endDate | dateFormat(groupByDateFormat) }}{% endif %}</span>
                                                <ul class="timeline-group-list">

                                                    {% for doc in group.results %}
                                                        {% if hasThumbs and doc.rowParams[fieldKey_medThumbImageURL] %}
                                                            {% include "../partials/timeline_item_image.html" %}
                                                        {% else %}
                                                            {% include "../partials/timeline_item_text.html" %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% if groupSize < group.total and groupSize >= 0 %}
                                                        <li class="timeline-group-item">
                                                            <div class="timeline-item timeline-view-all">
                                                                {% if group.startDate | dateFormat(groupByDateFormat) != group.endDate | dateFormat(groupByDateFormat) %}
                                                                    {% set filterDateRange = {"min": group.startDate | dateFormat(filterDateFormat), "max": group.endDate | addDate(1, 'y') | dateFormat(filterDateFormat) } %}
                                                                {% else %}
                                                                    {% set filterDateRange = group.startDate | dateFormat(filterDateFormat) | int %}
                                                                {% endif %}
                                                                {% set sortByDateRange = sortBy if sortBy else defaultSortByColumnName_humanReadable %}
                                                                {% set filterObjForThisFilterColVal = filterObj | constructedFilterObj(sortByDateRange, filterDateRange | dump, false) %}
                                                                <a href="{{ ('/' + array_source_key + '/' + viewAllLinkTo) | constructedRoutePath(filterObjForThisFilterColVal, {embed: embedded}) }}{% if viewAllLinkTo === 'timeline' %}&groupSize=-1{% if groupBy_realColumnName %}&groupBy={{ groupBy_realColumnName }}{% endif %}{% endif %}" class="timeline-view-all-link color-brand-hover">
                                                                    <span class="timeline-view-all-label">View all</span>
                                                                    <span class="timeline-view-all-count">{{ group.total }}</span>
                                                                </a>
                                                            </div>
                                                        </li>
                                                    {% endif %}
                                                </ul>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}

                        </div><!-- .timeline -->

                        {% set lastPage = numPages | int %}
                        {% set currentPage = onPageNum | int %}
                        {% if lastPage > 1 %}

                            <nav class="gallery-pagination">
                                {{
                                pagination.default(
                                    routePath_base | constructedRoutePath(filterObj, {
                                        searchCol: searchCol,
                                        searchQ: searchQ,
                                        sortBy: sortBy,
                                        sortDir: sortDir,
                                        groupBy: groupBy,
                                        groupSize: groupSize
                                    }),
                                    lastPage,
                                    currentPage
                                )
                                }}
                            </nav>
                        {% endif %}

                        </div>
                    </div><!-- .row -->
                </div><!-- .container-fluid -->

            </div><!-- .chart-container -->

        </div><!-- .array-content -->

    </section>
{% endblock %}


{% block inlineScript %}
    {{ super() }}

    <script type="text/javascript" src="/vendors/scrollmagic/scrollmagic/minified/ScrollMagic.min.js"></script>
    <script type="text/javascript" src="/javascripts/gallery.js"></script>
    <script type="text/javascript" src="/javascripts/timeline.js"></script>
    <script type="text/javascript" src="/javascripts/banner.js"></script>


    <script>
        //console.log(groupedResults);
</script>




{% endblock %}
