{% set currentView = "word-cloud" %}

{% extends "../layout/array.html" %}

{% import "../partials/dropdown.html" as dropdown %}
{% import "../partials/search.html" as search %}
{% import "../partials/filter.html" as filter %}

{% block headSuffix %}
    <title>Arrays - {{ arrayTitle }}</title>
{% endblock %}

{% block content %}
    <section class="array">

        <header class="array-header header-shadow array-header-small clearfix">
            <div class="container-fluid">
                <h1 class="array-title">{{ arrayTitle }}</h1>
                <div class="array-meta">
                    {% if sourceDocURL %}<a href="{{ sourceDocURL }}" target="_blank" class="array-meta-about color-brand">Source</a> <span class="array-meta-divider"></span> {% endif %}<span class="array-meta-count">{{ sourceDoc.numberOfRows | comma }} Item{{ "s" if sourceDoc.numberOfRows != 1 else "" }}</span> <span class="array-meta-divider hidden-xs"></span> <span class="array-meta-updated hidden-xs">Last Updated {{ sourceDoc.dateOfLastImport | dateFormattedAs_monthDayYear }}</span>
                </div>
            </div>
        </header><!-- .array-header -->

        {% if view_description %}
           <div class="array-description-wrapper">
               <p class="array-description">{{ view_description }}</p>
           </div>
        {% endif %}

        <div class="array-content">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="sort-bar clearfix">

                            <nav class="sort-bar-left pull-left" role="navigation">
                                {{
                                dropdown.default(
                                    'Group By',
                                    groupBy if groupBy else defaultGroupByColumnName_humanReadable,
                                    colNames_orderedForGroupByDropdown,
                                    routePath_base | constructedRoutePath(filterObj, {
                                        searchCol: searchCol,
                                        searchQ: searchQ,
                                        groupBy: ''}),
                                    true,
                                    false
                                )
                                }}
                            </nav>

                            <div class="sort-bar-right pull-right">
                                {{
                                search.panel(
                                    routePath_base,
                                    searchCol if searchCol else "Object Title",
                                    colNames_orderedForSortByDropdown,
                                    searchQ if searchQ else "",
                                    null,
                                    null,
                                    filterObj
                                )
                                }}

                                <a class="btn dropdown-toggle-button legend-toggle hidden-xs">
                                    <span class="icon-legend" aria-hidden="true"></span>
                                </a>
                            </div>

                        </div>
                    </div>
                </div><!-- .row -->
            </div><!-- .container-fluid -->

            {% if isFilterActive %}
                {{
                filter.default(displayTitleOverrides,
                    routePath_base | constructedRoutePath(null, {
                        searchQ: searchQ,
                        searchCol: searchCol,
                        sortDir: sortDir,
                        sortBy: sortBy}),
                    filterObj,
                    truesByFilterValueByFilterColumnName_forWhichNotToOutputColumnNameInPill,
                    false,
                    'filter-bar-fixed-bottom'
                )
                }}
            {% endif %}

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">

                        {# {{ groupedResults | dump }} #}

                        {# max: {{ maxGroupedResultsValue }} #}

                        {% if groupedResults | length %}
                            <ul class="word-cloud-list">
                            {% for result in groupedResults %}
                                {% set filterObjForThisFilterColVal = filterObj | constructedFilterObj(defaultGroupByColumnName_humanReadable, result._id, false) %}
                                {% set urlForFilterValue = routePath_base | constructedRoutePath(filterObjForThisFilterColVal, {
                                    searchQ: searchQ,
                                    searchCol: searchCol,
                                    sortBy: sortBy,
                                    sortCol: sortCol
                                }) %}
                                {% if result.value > 0 %}
                                <li class="word-cloud-item">
                                    <a href="{{ urlForFilterValue }}" class="word-cloud-link border-color-brand-hover has-tooltip" data-tooltip-key="{{ result._id }}" data-tooltip-value="{{ result.valueToString }}">
                                        <span class="word-cloud-label color-brand" style="font-size: {{ (result.value - minGroupedResultsValue) / (maxGroupedResultsValue - minGroupedResultsValue) * 350 + 100 | round() }}%">{{ result._id }}</span>
                                    </a>
                                </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        {% endif %}

                    </div>
                </div><!-- .row -->
            </div><!-- .container-fluid -->

        </div><!-- .array-content -->

    </section>
{% endblock %}

{% block inlineScript %}
    {{ super() }}

    <script type="text/javascript" src="/javascripts/word-cloud.js"></script>
    <script type="text/javascript" src="/javascripts/banner.js"></script>
{% endblock %}
