<md-content md-no-ink>

    <div ng-if="loaded">

        <ng-include src="'templates/blocks/account.billing.plan.html'"></ng-include>

        <p ng-if="subscription.trial_days_left > 0 && subscription.state === 'active'">Your free trial expires in <strong>{{ subscription.trial_days_left }} {{ subscription.trial_days_left | pluralize: "day" : "days" }}</strong>.</p>

        <div ng-if="billing.exists">
        <h3>Payment Info</h3>
        <p>{{ paymentMethod }}&emsp;<a ui-sref="dashboard.account.payment">Edit Payment Info</a></p>
        </div>

        <div ng-if="subscription.state === 'active'">

            <form name="quantity_form" novalidate ng-if="plan.display_quantity._ === 'true'">

                <hr>

                <md-input-container>
                    <label>Users</label>
                    <input name="quantity" required type="number" min="{{ users.length + 1 }}" ng-min="{{ users.length + 1 }}" step="1" ng-model="subscription.quantity._" />
                    <div ng-messages="quantity_form.quantity.$error" ng-if="users.length < 1">
                        <div ng-message="min">Must be greater than 0.</div>
                    </div>
                    <div ng-messages="quantity_form.quantity.$error" ng-if="users.length > 0">
                        <div ng-message="min">Cannot be less than the number of users on your team.</div>
                    </div>
                </md-input-container>

                <div layout="row" layout-align="space-between center">
                    <md-button class="md-dashboard" ng-click="openBillingDialog($event)" ng-disabled="!quantity_form.$dirty || quantity_form.$invalid">
                        <span class="btn-label">Save and Update Plan</span>
                </div>
            </form>

        </div>

        <hr ng-if="billing.exists">

        <div ng-if="subscription.state === 'canceled'">
            <h3>Reactivate Subscription</h3>

            <md-button class="md-dashboard" ng-click="reactivateSubscription()">
                <span class="btn-label">Reactivate Subscription</span>
            </md-button>
        </div>
        
        <a ui-sref="dashboard.account.cancel" class="warn" ng-if="subscription.state === 'active'">Cancel Subscription</a>

        <div ng-if="!billing.exists">
            <ng-include src="'templates/blocks/account.billing.plans.html'"></ng-include>
        </div>

    </div>

</md-content>
