<md-content md-no-ink>
    <h2>Plan Summary</h2>

    <ng-include src="'templates/blocks/account.billing.plan.html'"></ng-include>
    <p ng-if="subscription.trial_days_left > 0 && subscription.state === 'active'">Your free trial expires in <strong>{{ subscription.trial_days_left | pluralize: "day" : "days" }}</strong>.</p>

    <p ng-if="billing.exists">{{ paymentMethod }}&emsp;<a ui-sref="dashboard.account.payment">Edit Payment Info</a></p>
    <p ng-if="!billing.exists"><a ui-sref="dashboard.account.payment">Add Payment Info</a></p>

    <div ng-if="subscription.state === 'active'">
    <hr>

        <form name="billingForm">
            <md-input-container>
                <label>Datasets</label>
                <input name="datasets" required type="number" min="1" step="1" ng-model="subscription.quantity._" ng-pattern="/^[0-9]{1,7}$/"/>
                <div ng-messages="billingForm.datasets.$error">
                    <div ng-message="pattern">Please enter an integer greater than 0.</div>
                </div>
            </md-input-container>

            <div layout="row" layout-align="space-between center">
                <md-button class="md-dashboard" ng-click="openBillingDialog($event, 'monthly')" ng-disabled="!billingForm.$dirty">
                    <span class="btn-label">Save and Update Monthly Billing Amount</span>
                </md-button>

                <md-button class="md-dashboard" ng-click="openBillingDialog($event, 'annual')" ng-if="subscription.plan.plan_code != 'arrays-pro-yearly'">
                    <span class="btn-label">Pay Yearly (${{ subscription.quantity._ * 99 }} / mo)</span>
                </md-button>
            </div>
        </form>

    </div>

    <div ng-if="subscription.state != 'active' && subscription.state != 'canceled' && subscription.state != 'expired' && billing.exists">
        <hr>
        <h3>Start Free Trial of Arrays Pro</h3>

        <md-button ui-sref="dashboard.account.startProTrial" class="md-dashboard">
            <span class="btn-label">Learn More</span>
        </md-button>
    </div>

    <div ng-if="subscription.state === 'expired'">
        <h3>Upgrade to Arrays Pro</h3>

        <md-button ui-sref="dashboard.account.upgradePro" class="md-dashboard">
            <span class="btn-label">Learn More</span>
        </md-button>
    </div>

    <div>
        <h3>Upgrade to Arrays Enterprise</h3>

        <md-button ui-sref="dashboard.account.upgradeEnterprise" class="md-dashboard">
            <span class="btn-label">Learn More</span>
        </md-button>
    </div>

    <div ng-if="subscription.state === 'canceled'">
        <h3>Reactivate Subscription</h3>

        <md-button class="md-dashboard" ng-click="reactivateSubscription()">
            <span class="btn-label">Reactivate Subscription</span>
        </md-button>
    </div>

    <hr>

    <a ui-sref="dashboard.account.cancel" class="warn" ng-if="subscription.state === 'active'">Cancel Subscription</a>

</md-content>
