<md-content md-no-ink>
    <h2>Close your Arrays account</h2>

    <p>
        If at any time you are not satisfied with the service, please let us know and we will do our best to resolve the situation.
        You may email us any time at <a href="mailto:support@arrays.co">support@arrays.co</a>.
    </p>

    <p class="warn">
        Important: Closing your account will delete the team you administer and all associated visualizations and users.
        Please only close your account if you are sure that you no longer wish to use Arrays.
    </p>

    <p>Are you sure you want to close your account?</p>

    <md-button class="md-dashboard md-warn" ng-click="cancelSubscription()">
        <span class="btn-label">Close Your Account</span>
    </md-button>

    <md-button class="md-dashboard" ui-sref="dashboard.account.billing">
        <span class="btn-label">Cancel</span>
    </md-button>

</md-content>
