<md-content md-no-ink ng-cloak>
    <h2>Billing Information</h2>

    <form name="billing_info" novalidate>

        <div ng-cloak>
            <md-content>
                <md-tabs md-dynamic-height md-no-padding md-selected="selectedTab">
                    <md-tab label="Credit Card" md-on-select="onTabChanges('credit_card')">
                        <md-content>
                            <ng-include src="'templates/account/payment.card.html'"></ng-include>
                        </md-content>
                    </md-tab>
                    <md-tab label="Bank Account" md-on-select="onTabChanges('bank_account')">
                        <md-content>
                            <ng-include src="'templates/account/payment.bank.html'"></ng-include>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>

        <h3>Billing Address</h3><br />

        <ng-form name="billing_address">

            <md-input-container class="md-block">
                <label>Country</label>
                <md-select name="country" ng-model="billing.country" required aa-reset-validity-on-change="invalid">
                    <md-option ng-repeat="country in countries" value="{{country.code}}">{{country.name}}</md-option>
                </md-select>
                <div ng-messages="billing_address.address1.$error">
                    <div ng-message="required">Country is required.</div>
                    <div ng-message="invalid">Country is invalid.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Address</label>
                <input name="address1" ng-model="billing.address1" required aa-reset-validity-on-change="invalid" />
                <div ng-messages="billing_address.address1.$error">
                    <div ng-message="required">Address is required.</div>
                    <div ng-message="invalid">Address is invalid.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Address 2</label>
                <!-- tooltip: Suite, Apt no -->
                <input name="address2" ng-model="billing.address2" />
            </md-input-container>

            <md-input-container class="md-block">
                <label>City</label>
                <input name="city" ng-model="billing.city" required aa-reset-validity-on-change="invalid" />
                <div ng-messages="billing_address.city.$error">
                    <div ng-message="required">City is required.</div>
                    <div ng-message="invalid">City is invalid.</div>
                </div>
            </md-input-container>

            <div layout="row">
                <md-input-container>
                    <label>State</label>
                    <md-select name="state" ng-model="billing.state" required aa-reset-validity-on-change="invalid">
                        <md-option ng-repeat="aState in availableStates" value="{{aState.abbreviation}}">{{aState.name}}</md-option>
                    </md-select>
                    <div ng-messages="billing_address.state.$error">
                        <div ng-message="required">State is required.</div>
                        <div ng-message="invalid">State is invalid.</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>ZIP Code</label>
                    <input name="zip" ng-model="billing.zip" required ng-minlength="5" ng-maxlength="16" maxlength="16" aa-reset-validity-on-change="invalid" />
                    <div ng-messages="billing_address.zip.$error">
                    <div ng-message="required">ZIP Code is required.</div>
                    <div ng-message="minlength">ZIP Code must be at least 5 digits.</div>
                    <div ng-message="maxlangth">ZIP Code must be less than 17 digits.</div>
                    <div ng-message="invalid">ZIP Code is invalid.</div>
                </div>
                </md-input-container>
            </div>
        </ng-form>
    </form>

    <!-- <div layout="row">
        <ul>
            <li ng-repeat="error in errors">
                {{ error.$.field }}: {{ error._ }}
            </li>
        </ul>
    </div> -->

    <div layout="row" layout-align="space-between center">

        <md-button ng-if="billing.payment_type === 'credit_card'" class="md-dashboard" ng-click="updateBillingInfo($event)" ng-disabled="billing_info.billing_address.$invalid || billing_info.payment_card.$invalid">
            <span class="btn-label">Update Billing Information</span>
        </md-button>

        <md-button ng-if="billing.payment_type === 'bank_account'" class="md-dashboard" ng-click="updateBillingInfo($event)" ng-disabled="billing_info.payment_bank.$invalid">
            <span class="btn-label">Update Billing Information</span>
        </md-button>

        <md-button class="md-dashboard" ui-sref="dashboard.account.billing">
            <span class="btn-label">Cancel</span>
        </md-button>
    </div>

</md-content>
