<div class="array-content users">
    <h4>Payments</h4>

    <ul class="dashboard-list user-list" ng-cloak>

        <li ng-if="invoices.length > 0" layout="row" layout-align="none center">
            
            <span flex>Number</span>
            <span flex>Billed On</span>
            <span flex>Due On</span>
            <span flex>Status</span>
            <span flex>Total</span>

        </li>

        <li ng-repeat="invoice in invoices" layout="row" layout-align="none center">
            
            <span flex>#{{ invoice.invoice_number._ }}</span>
            <span flex>{{ invoice.created_at._ | date }}</span>
            <span flex>{{ invoice.closed_at._ | date }}</span>
            <span flex>{{ invoice.state }}</span>
            <span flex>{{ invoice.total_in_cents._ / 100 | currency : '$' : 2 }} USD</span>

        </li>
    </ul>
</div>