<ng-form name="payment_card" class="payment-card">

    <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
            <label>First Name</label>
            <input name="first_name" ng-model="billing.first_name" required aa-reset-validity-on-change="invalid" />
            <div ng-messages="payment_card.first_name.$error">
                <div ng-message="required">First Name is required.</div>
                <div ng-message="invalid">First Name is invalid.</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Last Name</label>
            <input name="last_name" ng-model="billing.last_name" required aa-reset-validity-on-change="invalid" />
            <div ng-messages="payment_card.last_name.$error">
                <div ng-message="required">Last Name is required.</div>
                <div ng-message="invalid">Last name is invalid.</div>
            </div>
        </md-input-container>
    </div>

    <label>Cards Accepted</label>
    <div class="payment-cards-accepted">
        <i class="payment-card-icon fa fa-2x fa-large fa-cc-visa" ng-class="{ 'payment-card-icon-active': payment_card.number.$ccEagerType === 'Visa' }" aria-hidden="true" title="Visa"></i>
        <i class="payment-card-icon fa fa-2x fa-cc-mastercard" ng-class="{ 'payment-card-icon-active': payment_card.number.$ccEagerType === 'MasterCard' }" aria-hidden="true" title="MasterCard"></i>
        <i class="payment-card-icon fa fa-2x fa-cc-amex" ng-class="{ 'payment-card-icon-active': payment_card.number.$ccEagerType === 'American Express' }" aria-hidden="true" title="American Express"></i>
        <i class="payment-card-icon fa fa-2x fa-cc-discover" ng-class="{ 'payment-card-icon-active': payment_card.number.$ccEagerType === 'Discover' }" aria-hidden="true" title="Discover"></i>
        <i class="payment-card-icon fa fa-2x fa-cc-diners-club" ng-class="{ 'payment-card-icon-active': payment_card.number.$ccEagerType === 'Diners Club' }" aria-hidden="true" title="Diners Club"></i>
        <i class="payment-card-icon fa fa-2x fa-cc-jcb" ng-class="{ 'payment-card-icon-active': payment_card.number.$ccEagerType === 'JCB' }" aria-hidden="true" title="JCB"></i>
    </div>

    <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Card Number</label>
            <input ng-if="!billing.numberPlaceholder" type="text" name="number" ng-model="billing.number" cc-number cc-type="cardsAccepted" cc-eager-type cc-format novalidate ng-required="true" />
            <input ng-if="billing.numberPlaceholder" type="text" name="number" ng-model="billing.number" cc-number cc-type="cardsAccepted" cc-eager-type cc-format novalidate ng-required="true" placeholder="{{ billing.numberPlaceholder }}" />
            <div ng-messages="payment_card.number.$error">
                <div ng-message="required">Card Number is required.</div>
                <div ng-message="invalid">Card Number is invalid.</div>
                <div ng-message="ccNumber">Card Number is invalid.</div>
                <div ng-message="ccNumberType">That type of card is not accepted.</div>
            </div>
            
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>CVV</label>
            <input type="text" name="verification_value" ng-model="billing.verification_value" cc-cvc cc-type="payment_card.number.$ccType" ng-required="true" />
            <div ng-messages="payment_card.verification_value.$error">
                <div ng-message="required">CVV is required.</div>
                <div ng-message="minlength">CVV must be at least 3 digits.</div>
                <div ng-message="maxlength">CVV must be less than 5 digits.</div>
                <div ng-message="pattern">CVV must be numeric.</div>
                <div ng-message="ccCvc">CVV is invalid.</div>
            </div>
            
        </md-input-container>
    </div>

    <div layout="row">
        <md-input-container>
            <label>Expires</label>
            <md-select name="month" ng-model="billing.month" required aria-label="Card Expiration Month" aa-reset-validity-on-change="invalid">
                <md-option ng-repeat="month in ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']" ng-value="{{month}}">{{month}}</md-option>
            </md-select>
            <div ng-messages="payment_card.month.$error">
                <div ng-message="required">Month is required.</div>
                <div ng-message="invalid">Month is invalid.</div>
            </div>
        </md-input-container>

        <md-input-container>
            <md-select name="year" ng-model="billing.year" required aria-label="Card Expiration Year" aa-reset-validity-on-change="invalid">
                <md-option ng-repeat="year in [2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025]" ng-value="{{year}}">{{year}}</md-option>
            </md-select>
            <div ng-messages="payment_card.year.$error">
                <div ng-message="required">Year is required.</div>
                <div ng-message="invalid">Year is invalid.</div>
            </div>
        </md-input-container>
    </div>

    <div layout="row">
        <p ng-repeat="error in errors" ng-if="error.$.field === 'billing_info.base' || error.$.field === 'billing_info.billing_info.credit_card_verification_value' || error.$.field === 'billing_info.billing_info.credit_card_number'" class="warn">
            {{ error._ }}
        </p>
    </div>

</ng-form>
