<h3>Bank Account Information</h3>

<md-input-container class="md-block">
    <label>Name on Account</label>
    <input required />
</md-input-container>

<md-input-container class="md-block">
    <label>Routing Number</label>
    <input required />
</md-input-container>

<md-input-container class="md-block">
    <label>Account Number</label>
    <input required />
</md-input-container>

<md-input-container class="md-block">
    <label>Confirm Account Number</label>
    <input required />
</md-input-container>

<h4>Account Type</h4>

<md-radio-group ng-model="dummyData.type" class="payment-bank-type">
    <md-radio-button value="checking">Checking</md-radio-button>
    <md-radio-button value="savings">Savings</md-radio-button>
</md-radio-group>
