<h3>Credit Card Information</h3>

<form name="payment_card" novalidate>

    <md-input-container>
        <label>First Name</label>
        <input ng-model="billing.first_name" required />
    </md-input-container>

    <md-input-container>
        <label>Last Name</label>
        <input ng-model="billing.last_name" required />
    </md-input-container>

    <div layout="row">
        <md-input-container>
            <label>Card Number</label>
            <input ng-model="billing.number" required />
        </md-input-container>

        <md-input-container>
            <label>CVV</label>
            <input ng-model="billing.verification_value" required />
        </md-input-container>
    </div>

    <h3>Cards Accepted</h3>
    <i class="fa fa-credit-card" aria-hidden="true" ng-repeat="i in [1, 2, 3, 4]">&emsp;</i>

    <h3>Expires</h3>

    <div layout="row">
        <md-select ng-model="billing.month" required aria-label="Card Expiration Month">
            <md-option ng-repeat="month in ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']" ng-value="{{month}}">{{month}}</md-option>
        </md-select>
        <md-select ng-model="billing.year" required aria-label="Card Expiration Year">
            <md-option ng-repeat="year in [2016, 2017, 2018, 2019, 2020]" ng-value="{{year}}">{{year}}</md-option>
        </md-select>
    </div>

</form>