<md-content>
    <h2>Upgrade Now to Arrays Pro</h2>

    <p>
        Add more collections and invite users by upgrading to Arrays Pro.
    </p>

    <ul>
        <li>Create an publish an Arrays website</li>
        <li>Unlimited collections</li>
        <li>Unlimited users and support for user roles (admin, editor, viewer)</li>
        <li>Analytics on how people are using your collections</li>
        <li>Support for custom visualizations</li>
        <li>Support for custom domains</li>
    </ul>

    <md-button class="md-dashboard confirm" ng-click="startSubscription('arrays-pro')">
        <span class="btn-label">Upgrade Now</span>
    </md-button>

    <md-button class="md-dashboard" ui-sref="dashboard.account.billing">
        <span class="btn-label">Cancel</span>
    </md-button>

</md-content>
