<md-content>
    <h2>Upgrade to Arrays Enterprise</h2>

    <p>
        Use Arrays at your organization and publish beautiful, interactive data visualizations on your own servers.
    </p>

    <ul>
        <li>Create an publish an Arrays website, deployed on your own web server</li>
        <li>Unlimited collections</li>
        <li>Unlimited users and support for user roles (admin, editor, viewer)</li>
        <li>Analytics on how people are using your collecitons</li>
        <li>Support for custom visualizations</li>
        <li>Support for custom domains</li>
        <li>Customer support</li>
        <li>Free updates</li>
        <li>Non-profit rates available on request</li>
    </ul>

    <p>
        Contact us today to learn more at <a href="mailto:info@arrays.co">info@arrays.co</a>, or call +1 (206) 414-8250 to speak with a sales representative.
    </p>

    <md-button class="md-dashboard" ui-sref="dashboard.account.billing">
        <span class="btn-label">Back</span>
    </md-button>

</md-content>
