/* @override
	http://localhost:9080/stylesheets/views/chart.css */

.array-chart .site-content .container-fluid {
    transition: padding 400ms ease-in-out;
}

@media (min-width: 768px) {
    .array-chart.legend-open .site-content .container-fluid {
        padding-right: 20px;
        padding-left: 20px;
    }
}

.array-chart .sort-bar {
    border-bottom-style: none;
    padding-bottom: 0;
}

#chart {
    padding-bottom: 40px;
}

@media (min-width: 768px) {
    #chart {
        overflow: hidden;
        margin-right: auto;
        margin-left: auto;
    /*    padding: 10px;*/
        max-width: 100%;
        width: calc(100vh - 260px);
        height: calc(100vh - 260px);
    }
}

.chart-container,
.legend {
    transition: transform 400ms ease-in-out, width 400ms ease-in-out;
}

.chart-container {
    position: relative;
    width: calc(100%);
}

@media (min-width: 768px) {
    .legend-open .chart-container {
        width: calc(100% - var(--legend-width));
    }
}

/* @group Legend */

.form-search {
    display: inline-block;
    vertical-align: top;
}

.legend-toggle {
    display: inline-block;
    margin-left: 20px;
    color: var(--color-text-dark);
    padding-top: 4px;
}

.legend-open .legend-toggle {
    display: none;
}

.legend-toggle > span {
    display: inline-block;
    width: 1em;
    /*line-height: 40px;*/
}

.sort-bar .dropdown-toggle span,
.legend-toggle {
    transition: color 0.15s;
}

.array-chart .array-content {
    position: relative;
}

.legend {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    background-color: var(--color-background);
}

.legend-close {
    display: none;
}

@media (min-width: 768px) {
    .legend {
        position: absolute;
        top: 0;
        right: calc(0px - var(--legend-width));
        bottom: 0;
        z-index: 1;
        overflow-y: auto;
        width: var(--legend-width);
        background-color: var(--color-background);
    }

    .legend-open .legend {
        transform: translate(calc(0px - var(--legend-width)));
    }

    .legend-close {
        display: block;
        margin-right: 40px;
    }
}

.legend-title {
    margin-bottom: 40px;
    padding-left: 40px;
    margin-top: 0;
}

.legend-list {
    padding-left: 0;
    list-style-type: none;
}

.legend-list-item {
    position: relative;
    font-size: 18px;
}

.legend-list-link {
    display: inline-block;
    padding: 10px 20px 10px 80px;
    width: 100%;
    color: var(--color-text-dark);
    line-height: 20px;
}

.legend-dot {
    position: absolute;
    top: 10px;
    left: 40px;
    display: block;
    margin-right: 20px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: silver;
    vertical-align: middle;
}

.legend-list-item:hover .legend-list-link,
.legend-list-link:active,
.legend-list-link:focus {
    background-color: #ffffff;
    color: var(--color-text-dark);
    text-decoration: none;
}

.legend-list-link:active,
.legend-list-link:focus {
    background-color: transparent;
}

/* @end Legend */

/* @group Reponsive chart */

.svg-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding-bottom: 100%; /* aspect ratio */
    width: 100%;
    vertical-align: top;
}

.svg-content-responsive {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
}

/* @end Responsive chart */

/* @group Chart Styling */

.pie-background {
    fill: #ffffff;
    stroke-width: 2px;
    stroke: #ffffff;
}

#chart path:hover {
    cursor: pointer;
}

/* @end Chart Styling */
