/* @override
	http://localhost:9080/stylesheets/views/dashboard.css */

html, body {
	background-color: #ffffff;
}

body.dashboard {
	font-size: 18px;
}

/*to add to variables and global styles*/
:root {
	--color-warn: #fb4400;
}
.warn {
    color: var(--color-warn);
}
.confirm {
    color: var(--color-primary);
}

/* md-input and container styles */

md-input-container,
md-input-container input,
md-input-container textarea,
md-input-container label {
	font-family: var(--font-family-calibre);
}

label,
md-input-container label {
	color: var(--color-text-dark);
	line-height: normal;
}

md-input-container label.md-required:after {
	font-size: inherit !important;
	color: var(--color-warn) !important;
}

.md-input-has-value label,
.md-input-has-value label.md-required:after {
	color: var(--color-text-med) !important;
}

.md-input-focused label,
.md-input-focused label.md-required:after {
	color: var(--color-text-dark) !important;
}
.md-input-focused .md-input {
	/*border-color: var(--color-text-med) !important;*/
	border-color: var(--color-primary) !important;
}

.md-input-invalid label {
	color: var(--color-warn) !important;
}
.md-input-invalid .md-input {
	border-color: var(--color-warn) !important;
}
.input-prepend {
	padding-top: 2px;
}
label .optional {
	font-weight: normal;
}
.md-input-focused label .optional,
.md-input-has-value label .optional {
	display: none;
}

md-checkbox.md-checked .md-icon {
	background-color: var(--color-primary);
}
md-checkbox .md-container:before {
	/*remove the persistent ink on focus*/
	content: none;
}
/*for default view, disabled*/
md-checkbox.md-checked[disabled].view-visible .md-icon {
	background-color: var(--color-primary);
}
md-checkbox.md-checked[disabled].view-visible .md-icon:after {
	border-color: white;
}

md-option  {
	color: var(--color-text-med) !important;
}
md-option[selected] {
	color: var(--color-text-dark) !important;
}
md-select:not([disabled]):focus .md-select-value {
	border-color: var(--color-primary) !important;
}

md-radio-button.md-checked .md-off {
	border-color: var(--color-primary);
}
md-radio-button .md-on {
	background-color: var(--color-primary);
}
.md-focused .md-checked .md-container:before {
	background: transparent !important;
}

/*slider*/
md-slider.md-default-theme .md-track.md-track-fill, md-slider .md-track.md-track-fill {
	background-color: var(--color-primary);
}
md-slider.md-default-theme .md-thumb:after, md-slider .md-thumb:after {
	border-color: var(--color-primary);
	background-color: var(--color-primary);
}
md-slider.md-default-theme .md-focus-ring, md-slider .md-focus-ring {
	background-color: transparent;
}
/*Arrays app*/
aa-dialog-actions,
.layout-padding aa-dialog-actions {
	padding: 0;
}

md-dialog-actions .md-button:last-child,
aa-dialog-actions .md-button:last-child {
	margin-left: 8px;
}

.hidden-submit {
	/*keep for form validity but let primaryAction do the work*/
	display: none;
}

.new-dataset-form {
	margin-top: -15px;
}
.new-dataset-form md-input-container {
	margin-top: 22px;
	margin-bottom: 11px;
	font-size: 41px;
	line-height: 1.1em;
	padding: 0;
}
.new-dataset-form input,
.new-dataset-form input.ng-empty {
	font-size: 41px;
	line-height: 1.1em;
	height: 45px;
}
.new-dataset-form .md-errors-spacer {
	display: none;
}
.new-dataset-form .error-messages {
	position: absolute;
	top: 100%;
}

/*
~1.225 scale from 18px
to work with existing 41px h1
*/
h1 {
	font-size: 41px;
}
h2 {
    font-size: 33px;
}
h3 {
    font-size: 27px;
}
h4 {
    font-size: 22px;
}

.dashboard-container {
    padding: 2em 1em;
}

.dashboard-container a[href^="mailto"] {
	/*md-default-theme*/
	color: rgba(0,0,0,0.87);
	/*var(--color-text-dark);*/
	text-decoration: underline;
}

md-content.md-default-theme, md-content {
    background-color: #ffffff !important;
}

@media (min-width: 768px) {
    .dashboard-container {
        padding: 4em 3em;
    }
}

@media (min-width: 1200px) {
    .dashboard-container {
        padding: 4em 10em;
    }
}

.dashboard-content {
	padding-top: var(--navbar-height-mobile);
}
@media (min-width: 960px)  {
    .dashboard-content {
		padding-top: var(--navbar-height-tablet);
		max-width: 40em !important;
    }
}

.dashboard-content .array-header {
    background-color: #fff;
}

.formInput{
    padding-top:20px;
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    vertical-align: inherit;
}


.dashboard-content .array-content {
    padding: 15px 0;
}

.md-button.md-dashboard.md-dashboard-header {
    margin-top: 11px;
    margin-left: 0;
}
@media (min-width: 600px) {
    .md-button.md-dashboard.md-dashboard-header {
        margin-top: 20px;
        margin-left: 16px;
    }
}

.md-button.md-dashboard.primary-action {
    margin-bottom: 30px;
}
.instructions {
    margin-bottom: 15px;
	line-height: 16px;
}
.teams .instructions {
	padding-left: 12px;
}


.dataset .md-content {
    overflow: hidden;
}

md-toolbar:not(.md-menu-toolbar) {
    background-color: var(--color-primary);
}
.warn md-toolbar:not(.md-menu-toolbar) {
    background-color: var(--color-warn);
}

md-tabs .md-tab.md-active {
    color: var(--color-text-dark);
}

img.iconMap {
    height:40px;
}


.dashboard md-toast {
    position: fixed;
    top: 64px;
    z-index: 1000;
}
.dashboard md-toast .md-toast-content {
	background-color: var(--color-text-dark);
}
/*prevent scrollbar pop-in*/
body.md-toast-animating {
    overflow: auto !important;
}


.dashboard .glyphicon {
    color: grey;
}
/*.dashboard .glyphicon.ready,*/
.material-icons.ready,
.material-icons.md-dark {
    color: black;
}

.dashboard section.md-container {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
    border-radius: 4px;
}

.dataset .layout-padding, .dataset .layout-padding > * {
    padding: 8px 0;
}

/* Lists */

.dashboard-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.dashboard-list a:visited,
.dashboard-list a:focus,
.dashboard-list a:hover {
	color: var(--color-primary);
}
.dashboard-list > li, div, span {
	outline: 0;
}
.dashboard-list-order {
    display: inline-block;
    width: 20px;
    vertical-align: text-bottom;
    /*font-size: 14px;*/
    /*font-weight: 600;*/
    color: var(--color-primary);
}
.dashboard-list-name {
    /*font-size: 16px;*/
    line-height: 30px;
    /*font-weight: 600;*/
}
.dashboard-list .custom {
	/*font-weight: bold;*/
}
.user-list .pending {
	color: var(--color-text-light);
}
.dashboard-list-revision {
    /*font-size: 16px;*/
}
.dashboard-list-icon {
    /*text-align: center;*/
}
.dashboard-list-icon:hover,
.dashboard-list-icon:focus {
    color: var(--color-primary);
}
.dashboard-list-icon.disabled,
.dashboard-list-icon.disabled:hover,
.dashboard-list-icon.disabled:focus {
	color: var(--color-text-light);
}
.dashboard-list-icon.view {
	/*color: var(--color-text-light);*/
	color: #eee;
}
.dashboard-list-icon.view.default-view {
	color: var(--color-text-dark);
}
.dashboard-list md-checkbox {
	margin-bottom: 0;
}

.team-list .md-button .dashboard-list-name,
.team-list .md-button .dashboard-list-revision  {
    /*font-size: 16px;*/
    line-height: 1em;
}
/* mimic .sidebar-menu .nav > li > a */
.team-list .md-button {
    /*font-size: 16px;*/
    line-height: 1em;
    margin: 0;
    margin-bottom: 1px;
    padding: 12px;
    /*width: 100%;*/
    color: var(--color-text-dark);
    border-radius: 4px;
    text-transform: none;
}
.team-list .md-button:not([disabled]):hover,
.team-list .md-button:not([disabled]):focus {
    background-color: #eeeeee;
    color: var(--color-text-dark);
}
/* current team */
.team-list .md-button:disabled {
    background-color: var(--color-primary);
    color: #fff;
}

.subdomain-append,
md-input-invalid.subdomain-append {
	display: inline;
	/*font-size: 20px;*/
	font-weight: normal;
}

.user-list li {
	padding: 1em 0;
	border-top: 1px solid #eeeeee; /*match <hr>*/
}
.user-list li:last-child {
	border-bottom: 1px solid #eeeeee;
}
/*.list-thumb*/
.user-list li img,
.user-list li canvas {
	width: 100%;
	padding-right: 15px;
}
.user-dialog .profile-thumb {
	width: 100%;
	padding-right: 15px;
}

.dashboard-list li.li-disabled {
	color: var(--color-text-light);
}

/* Angular Material tabs and nav bars */

.md-nav-bar .md-button,
.md-tab {
    color: var(--color-text-dark);
    font-size: 18px;
    text-transform: none;
}
.md-nav-bar .md-button.md-focused {
	background-color: transparent;
}
md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused {
	background-color: transparent;
}
/*match sidebar button height*/
.md-nav-bar {
	height: 41px;
}
/*.md-tab,*/
.md-nav-item a {
	line-height: 16px !important;
}

.dashboard .tab-content {
    padding-top: 2em;
}
.tab-content img.profile {
    padding: 0 2em 2em 0;
    width: 100%;
}

md-nav-ink-bar,
md-ink-bar {
    color: var(--color-primary) !important;
    background-color: var(--color-primary) !important;
}

/*tool tips*/
md-tooltip.md-default-theme .md-content,
md-tooltip .md-content {
	font-size: 13px !important;
	color: white !important;
	background: var(--color-text-dark) !important;
}

/* Account */
/* Payment */

.payment-card-icon {
    color: var(--color-text-light);
}

.payment-card-icon-active {
    color: var(--color-text-dark);
}

.payment-bank-type md-radio-button {
    display: inline-block;
    margin-right: 30px;
}

/*Dataset process data banner*/
.process-data {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #005CFF;
    color: white;
    padding: 0.5em;

    top: 0;
    opacity: 0;
    transition: top 0.3s, opacity 0.3s;
}
.process-data.show {
    top: 18px;
    opacity: 1;
}
.process-data a {
    color: white;
    text-decoration: underline;
}
.process-data a:hover {
    text-decoration: none;
}

/* Dataset Breadcrumb */

._md-nav-button-text.placeholder {
	color: var(--color-text-light);
}

/*.dataset-breadcrumb span {
    font-family: var(--font-family-calibre);
    display: block;
    text-align: center;
}*/
/*.dataset-breadcrumb .active span {
    font-weight: bold;
}*/

/*.dataset-breadcrumb .nav-item-icon {
    font-size: 24px;
}*/
/*.dataset-breadcrumb .nav-item-label {
    font-size: 14px;
}*/

/* Dataset List */
.dataset .row {
    margin-left: 0;
    margin-right: 0;
}


/* Dataset Settings */
.dataset .publish-settings md-switch[disabled] .md-label,
.dataset .publish-settings md-switch:disabled .md-label {
	color: var(--color-text-light);
}
md-switch.md-default-theme.md-checked .md-thumb,
md-switch.md-checked .md-thumb {
	background-color: var(--color-primary);
}
md-switch.md-focused:not([disabled]):not(.md-checked) .md-thumb:before,
md-switch.md-checked.md-focused .md-thumb:before {
	background-color: transparent;
}
md-switch.md-checked .md-bar {
	/*disabled color*/
	background-color: rgba(0,0,0,0.12);
	/*background-color: var(--color-text-light);*/
}

.md-chips {
    padding-left: 0;
}
md-chips-wrap.md-chips.md-focused {
	box-shadow: 0 2px var(--color-primary);
}

/*chip selected*/
.md-chips md-chip.md-focused {
	background-color: var(--color-text-med);
}
.md-chips md-chip md-icon,
.md-chips.md-focused md-chip md-icon {
    color: var(--color-text-med);
}
.md-chips md-chip.md-focused md-icon {
	color: white;
}
.md-chips .md-errors-spacer {
	/*known issue, md-errors-spacer may be deprecated soon*/
	display: none;
}

.dataset md-input-container.md-color-picker {
    margin-top: 0;
}

.dataset [md-color-picker] .md-color-picker-input-container .md-color-picker-clear {
    right: -8px;
}

ul.aa-color-picker {
	margin: 0;
	margin-bottom: 30px;
	padding: 0;
	list-style: none;
}
.aa-color-picker li {
	width: 30px;
	height: 30px;
	position: relative;
	border: 3px solid white;
	border-radius: 15px;
}
.aa-color-picker li.selected {
	border: 3px solid black;
}

.aa-color-picker li.selected,
.aa-color-picker li:hover,
.aa-color-picker li:focus {
	outline: 0;
}
/*multi color picker*/
/*show drag/remove controls*/
.aa-color-picker.list li {
	transition: width 0.3s;
}
.aa-color-picker.list li .move-color {
	margin-top: 4px;
	margin-left: 7px;
}
.aa-color-picker.list li .remove-color {
	margin-top: 3px;
	margin-left: 10px;
}
.aa-color-picker.list li .move-color,
.aa-color-picker.list li .remove-color {
	color: white;
	opacity: 0;
	transition: opacity 0.3s, padding 0.3s;
}
.aa-color-picker.list li:not(.add-color):hover {
	width: 60px;
}
.aa-color-picker.list li:hover .move-color,
.aa-color-picker.list li:hover .remove-color {
	opacity: 1;
}
.aa-color-picker.list li.add-color i {
	padding-top: 4px;
	padding-left: 6px;
}

/* Dataset Upload */
.dataset table.upload td {
    padding-top: 14px;
    padding-bottom: 14px;
}

.dataset table.upload td.no-padding-vertical {
    padding-top: 0;
    padding-bottom: 0;
}

.dataset table.upload td.progress-container {
    padding-top: 23px;
}

/* Dataset Format Data */
.fields-container {
    overflow-x: auto;
}
.fields-container,
.fields-container thead,
.fields-container tbody,
.fields-container tr {
	 width: 100%;
 }

.dataset .field-row-header {
}

.dataset ul.fields {
    list-style: none;
    -webkit-padding-start: 0;
}

.dataset .field {
    display: flex;
    border-bottom: 1px solid #e5e5e5;
}
.dataset .field,
.dataset .sample {
	color: var(--color-text-light);
	text-overflow: ellipsis;
	white-space: nowrap;
    overflow: hidden;
}
.dataset .field:after {
    content: "";
    display: block;
    clear: both;
}

.dataset .field > * {
    padding: 6px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.dataset .field.custom {
    font-weight: bold;
}

.dataset .field .exclude > md-checkbox {
    margin-bottom: 6px;
}
.dataset .field:not(.custom) .type {
    padding-top: 4px;
}
.dataset .field > .type > md-select {
    margin-top: 0;
    margin-bottom: 0;
}

.dataset .field:not(.field-row-header) {
    /*cursor: pointer;*/
    /*To protect flash issue while object is being updated*/
    /*-webkit-transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);*/
    /*transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);*/
}

.dataset .field:not(.field-row-header):hover {
    /*background-color: var(--color-item-hover);*/
}
.dataset .field:not(.field-row-header) .glyphicon {
	display: none;
}
.dataset .field:not(.field-row-header):hover .glyphicon {
	display: initial;
}
.dataset .field:not(.field-row-header) .field-order {
	display: initial;
}
.dataset .field:not(.field-row-header):hover .field-order {
	display: none;
}

.dataset .field:not(.field-row-header):focus {
    /*background-color: var(--color-item-active);*/
}


.md-select-menu-container {
    z-index: 1102;
}
md-backdrop.md-select-backdrop {
    z-index: 1101;
}


md-dialog .md-button {
    min-width: 25px;
}

/* Dataset Format Field */
md-dialog.field-dialog .md-dialog-content {
    padding-bottom: 10px;
}
md-dialog {
    width: 45em;
}

md-dialog fieldset legend,
.dataset fieldset legend {
    /*font-size: 16px;*/
	font-weight: bold;
	color: var(--color-text-dark);
	border: none;
    padding-top: 20px;
}

.no-padding {
    padding: 0 !important;
}

/* Panel Footer and Buttons */

.panel-footer {
    padding: 0;
    background: initial;
}

.md-button.md-dashboard {
    height: 40px;
    margin: 0;
    border: 1px solid white;
    border-radius: 4px;
}

.md-button.md-dashboard-icon {
    padding-right: 12px;
}

.md-button.md-dashboard[disabled],
.md-button.md-dashboard:disabled,
.md-button.md-dashboard.disabled {
    background: var(--color-text-light);
}
.md-button.md-dashboard:not([disabled]) {
    background: var(--color-text-dark);
}
.md-button.md-dashboard:not([disabled]):hover {
    background: var(--color-primary);
}

md-icon.btn-icon {
    color: white !important;
    line-height: 18px;
}

.md-button.md-dashboard,
.md-button.md-dashboard .btn-label {
    font-family: var(--font-family-calibre);
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.5px;
    padding: 0 1em;
}

/*warn*/
.md-button.md-dashboard.md-warn {
    background-color: var(--color-warn);
}
.md-button.md-dashboard.md-warn:not([disabled]):hover {
	border-color: var(--color-warn);
    background-color: transparent;
}
.md-button.md-dashboard.md-warn:not([disabled]):hover .btn-label {
	color: var(--color-warn);
}

/*cancel, netural color*/
.md-button.md-dashboard.cancel:not([disabled]):hover {
	background: var(--color-text-light);
}

/*confirm*/
.md-button.md-dashboard.confirm:not([disabled]) {
    background-color: var(--color-primary);
}
.md-button.md-dashboard.confirm:not([disabled]):focus,
.md-button.md-dashboard.confirm:not([disabled]):hover {
	border-color: var(--color-primary);
    background-color: transparent;
}
.md-button.md-dashboard.confirm:not([disabled]):focus .btn-label,
.md-button.md-dashboard.confirm:not([disabled]):hover .btn-label {
	color: var(--color-primary);
}

/* Team Settings */
.team-images {
	margin-top: 30px;
	padding-top: 30px;
	border-top: 1px solid #eeeeee; /*match <hr>*/
}

.aa-file-select input,
.team-uploader {
	display: none !important;
}
.aa-file-select-source {
	border: none;
}
.aa-file-select-source li {
	padding: 0;
	margin: 0;
	border: none;
}
.aa-file-select-source li:last-child {
	border: none;
}
.aa-file-select-file {
	font-weight: bold;
	padding-left: 0.5em;
}
.aa-file-select-file.no-file {
	font-weight: normal;
}
.aa-file-select-close {
	margin-top: 11px;
}
.team-logo, .team-header {
	margin-bottom: 15px;
}
.team-image-actions {
	/*stack on mobile view*/
	margin-bottom: 30px;
}
.team-image-actions span {
	padding-left: 15px;
}
/*icon upload*/
md-progress-linear .md-container {
	background-color: #eeeeee;
}
md-progress-linear .md-bar {
	background-color: var(--color-text-light);
}

/* ----------- Manager Users -------------- */

/* -----------   for toggle slider  ----------------  */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*--------------------------------------------------------*/

/* Butter Bar */

.butterbar {
    position: relative;
    height: 3px;
    margin-bottom: -3px;
    z-index: 999;
}

.butterbar .bar {
    position: absolute;
    width: 100%;
    height: 0;
    text-indent: -9999px;
    background-color: #23b7e5;
}

.butterbar .bar:before {
    position: absolute;
    right: 50%;
    left: 50%;
    height: 3px;
    background-color: inherit;
    content: "";
}

.butterbar.active {
    -webkit-animation: changebar 2.25s infinite 0.75s;
    -moz-animation: changebar 2.25s infinite 0.75s;
    animation: changebar 2.25s infinite 0.75s;
}

.butterbar.active .bar {
    -webkit-animation: changebar 2.25s infinite;
    -moz-animation: changebar 2.25s infinite;
    animation: changebar 2.25s infinite;
}

.butterbar.active .bar:before {
    -webkit-animation: movingbar 0.75s infinite;
    -moz-animation: movingbar 0.75s infinite;
    animation: movingbar 0.75s infinite;
}

@-webkit-keyframes changebar {
    0%, 33.3% {
        background-color: #23b7e5
    }
    33.33%, 66.6% {
        background-color: #fad733
    }
    66.66%, 99.9% {
        background-color: #7266ba
    }
}

@-moz-keyframes changebar {
    0%, 33.3% {
        background-color: #23b7e5
    }
    33.33%, 66.6% {
        background-color: #fad733
    }
    66.66%, 99.9% {
        background-color: #7266ba
    }
}

@keyframes changebar {
    0%, 33.3% {
        background-color: #23b7e5
    }
    33.33%, 66.6% {
        background-color: #fad733
    }
    66.66%, 99.9% {
        background-color: #7266ba
    }
}

@-webkit-keyframes movingbar {
    0% {
        right: 50%;
        left: 50%
    }
    99.9% {
        right: 0;
        left: 0
    }
    100% {
        right: 50%;
        left: 50%
    }
}

@-moz-keyframes movingbar {
    0% {
        right: 50%;
        left: 50%
    }
    99.9% {
        right: 0;
        left: 0
    }
    100% {
        right: 50%;
        left: 50%
    }
}

@keyframes movingbar {
    0% {
        right: 50%;
        left: 50%
    }
    99.9% {
        right: 0;
        left: 0
    }
    100% {
        right: 50%;
        left: 50%
    }
}
/* -/ Butter Bar */
