/* @override 
	http://localhost:9080/stylesheets/module/gallery-grid.css */

/* @group Array Header */

.array-header {
    position: relative;
    z-index: 500;
    padding: 25px 15px 20px;
    background-color: var(--color-background);
    text-align: center;
}

@media (min-width: 768px) {
    .array-header {
        padding: 35px 15px 30px;
    }
}

.array-title {
    margin-top: 0;
    margin-bottom: 5px;
    color: black;
    font-weight: bold;
    font-size: 36px;
}

@media (min-width: 768px) {
    .array-title {
        font-size: 42px;
    }
}

.array-meta {
    color: var(--color-text-light);
    font-size: 18px;
}

.array-meta-divider:before {
    padding-right: 0.25em;
    padding-left: 0.25em;
    content: "|";
}

/* @end Array Header */

/* @group Small Array Header */

@media (min-width: 768px) {
    .array-header-small {
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: left;
    }

    .array-header-small .array-title {
        float: left;
        margin-bottom: -17px;
    }

    .array-header-small .array-meta {
        float: right;
        margin-top: 17px;
    }
}

/* @end Small Array Header */

/* @group Gallery Grid */

.gallery-grid {
    margin-right: -5px;
    margin-left: -5px;
    padding-left: 0;
    list-style-type: none;
    text-align: center;
}

@media (min-width: 768px) {
    .gallery-grid {
        margin-right: -20px;
        margin-left: -20px;
    }
}

.gallery-item {
    position: relative;
    display: inline-block;
    margin-right: -0.25em;
    margin-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    width: 50%;
    vertical-align: bottom;
    text-align: left;
}

@media (min-width: 768px) {
    .gallery-item {
        margin-bottom: 30px;
        padding-right: 15px;
        padding-left: 15px;
        width: 240px;
    }
}

@media (min-width: 1024px) {
    .gallery-item {

    }
}

.gallery-item > a {
    position: relative;
    display: block;
    overflow: hidden;
}

/* @end Gallery Grid */

/* @group Text Tile */

.gallery-item-text-link {
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-divider);
}

.gallery-item-text-inner {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    height: 80%;
}

.gallery-secondary-column-item {
    margin-top: 5px;
    max-height: 136px;
    overflow: hidden;
}

.gallery-secondary-column-item h2 {
    font-size: 34px;
    line-height: 1;
    margin-top: 0px;
}

.text-fade-overlay {
    position: absolute;
    top: 5px;
    left: 0;
    height: 136px;
    width: 100%;
    display: none;
}

img.icon-tile {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

.gallery-secondary-column-item {
    margin-top: 5px;
    max-height: 136px;
    overflow: hidden;
}

.gallery-secondary-column-item h2 {
    font-size: 34px;
    line-height: 1;
    margin-top: 0px;
}

.text-fade-overlay {
    position: absolute;
    top: 5px;
    left: 0;
    height: 136px;
    width: 100%;
    display: none;
}

.gallery-item-text-inner [class^="icon-tile-"] {
    display: inline-block;
    width: 1em;
    font-size: 38px;
    line-height: 1em;
}


.gallery-item-text-link::before {
    position: relative;
    display: block;
    box-sizing: border-box;
    padding-top: 100%;
    content: "";
}

.gallery-tooltip {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    display: block;
    margin: 0;
    padding: 10px;
    width: 100%;
    max-height: 86px;
}

.gallery-tooltip > div {
    max-height: 66px;
    overflow: hidden;
}

.gallery-tooltip .with-secondary-column {
    max-height: 44px;
}

.gallery-title {
    position: relative;
    display: block;
    margin: 0 -1em 0 0;
    padding-right: 1em;
    width: 100%;
    color: black;
    font-size: 18px;
    line-height: 22px;
}

.gallery-object-title-ellipses {
    position: absolute;
    height: 22px;
    bottom: 10px;
    right: 10px;
    display: none;
}

.gallery-object-title-ellipses h2 {
    font-size: 18px;
    line-height: 22px;
    width: 1em;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Fade truncate */
/*.gallery-title:after {
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 22px;
	left: 0;
	background-image: linear-gradient(to top, #ffffff 10%, rgba(255, 255, 255, 0) 100%);
}*/

/*
.gallery-title:before {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #aaaaaa;
    content: "…";
}

.gallery-title:after {
    position: absolute;
    right: 0;
    margin-top: 0.2em;
    width: 1em;
    height: 1em;
    background: #ffffff;
    content: "";
}
*/

/* @end Text Tile */

/* @group Image Tile */

.gallery-image {
    width: 100%;
    height: auto;
}

.gallery-item-image .gallery-tooltip {
    width: 100%;
    border-top-width: 4px;
    border-top-style: solid;
    background-color: #ffffff;
    transition: transform 0.4s ease-in-out;
    transform: translate(0, 100%);
}

.gallery-item-image > a:hover .gallery-tooltip {
    transform: translate(0, 0);
}

.category-icon-1, .category-icon-2, .category-icon-3 {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-size: cover;
}

.gallery-item-text-inner .category-icon-1 {
    display: inline-block;
    width: 49%;
    height: 49%;
    background-size: contain;
}

@media (min-width: 768px) {
    .gallery-item-text-inner .category-icon-1 {
        width: 120px;
        height: 120px;
    }
}

.gallery-item-text-inner .category-icon-2 {
    display: inline-block;
    margin-right: 2%;
    width: 49%;
    height: 49%;
    background-size: contain;
}

@media (min-width: 768px) {
    .gallery-item-text-inner .category-icon-2 {
        margin-right: 8px;
        width: 90px;
        height: 90px;
    }
}

.gallery-item-text-inner .category-icon-3 {
    display: inline-block;
    margin-right: 2%;
    width: 32%;
    height: 32%;
    background-size: contain;
}

@media (min-width: 768px) {
    .gallery-item-text-inner .category-icon-3 {
        margin-right: 4px;
        width: 60px;
        height: 60px;
    }
}

/* @end Image Tile */