
#login-modal .modal-body {
    padding-top:10px;

}

#login-modal .splash-logo {
    margin-top:0px;
    margin-bottom: 20px;
}

#login-modal .modal-body .row {
    padding:5px;
}

.login .authTitle {
    text-align: center;
    line-height: 300%;
    padding: 0px;
}
.login .socialButtons {
    text-align: center;
    padding:5px;
}

.socialButtons a {
    color: white;
    opacity:0.9;

}
.socialButtons a:hover {
    color: white;
    opacity:1;
    cursor: pointer;
}
.socialButtons .btn-facebook {background: #3b5998;}
.socialButtons .btn-twitter {background: #00aced;}
.socialButtons .btn-google {background: #c32f10;}

.socialButtons .btn-facebook:focus {color:white;}
.socialButtons .btn-twitter:focus {color:white;}
.socialButtons .btn-google:focus {color:white;}

#login-modal .input-group {
    margin-top:10px;
    margin-bottom: 10px;

}

#login-modal .modal-dialog {
    margin:0px auto;
}
@media (min-width: 480px) {
    #login-modal .modal-dialog {
        margin-top:5%;
    }
    .modal-sm {
        width: 300px;
    }
}

.parent-pull-right {
	overflow: hidden;
}

div.signup-link {
	margin-bottom: 10px;
}

#login-modal .input-group button {
    border-radius: 5px;
    height:5%;
    margin-bottom: 10px;
}
.loginOr {
    position: relative;
    font-size: 1.5em;
    color: #aaa;
/*    margin-top: 1em;*/
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top:10px;
}
.loginOr .hrOr {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.loginOr .spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: -0.6em;
    margin-left: -1.5em;
    background-color: #ffffff;
    width: 3em;
    text-align: center;
}
.login .loginForm .input-group.i {
    width: 2em;
}
.login .loginForm .help-block {
    color: red;
}

.block-pull-right {
    text-align: right; 
    display: block;
}

#login-submit + span {
    padding-left: 4px;
}

/* Dedicated Login Page */
.login-page #login-modal {
    display: block !important;
}
