
form.signup[name='emailForm'] {
	margin:0px auto;
	margin-top:100px;

}

form.signup label {
	font-size:20px;
}


.red {
	color:red;
}

nav#signupheader div {
	margin-top: 0px;
	margin-bottom: 0px;

}
a.pointer {
	cursor: pointer;
}
div.float-parent {
	overflow: hidden;
}
#signupheader img {
	width:100%;
}

#signupheader h1 {
	margin-left:20px;
}

div.reminder-message {
	margin-top:80px;
}

.signupOr {
	margin:50px;
}

.row .socialButtons .socialButtonsText {
	padding-left:10px;
	cursor: pointer;
}
p.signuptext {
	font-size:30px;
}


.background_white {
	background-color : #fff !important;
}

div.signup_btn_group {
	overflow: hidden;
}

button.signupstep {
	min-width:100px;
}


