
.axis path, .axis line {
    fill: none;
    stroke: #c9c9c9;
    stroke-width: 1px;
}

.axis .tick text {
    fill: var(--color-text-light);
}

.axis text.label {
    font-size: 18px;
    fill: var(--color-text-light);
}
