<header class="admin-header">
    <h1 class="admin-title">Account Settings</h1>
</header>

<nav class="admin-tabs">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a ui-sref="#">Profile</a></li>
        <li role="presentation"><a ui-sref="#">Billing</a></li>
    </ul>
</nav>

<br />

<div ng-controller="accountCtrl" ng-init="init()">
    <div ng-if="user.provider=='auth0'">
        <div class="form-group">
            <img src="{{ user.picture }}" width="100" height="100" ng-if="user.picture">
        </div>
        <div class="form-group">
            <label for="displayName">Display Name</label>
            <input type="text" class="form-control" id="displayName" name="displayName" value="{{ user.displayName }}" readonly>
        </div>
        <div class="form-group">
            <label for="givenName">First Name</label>
            <input type="text" class="form-control" id="givenName" name="givenName" value="{{ user._json.user_metadata.name.givenName }}" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="familyName">Last Name</label>
            <input type="text" class="form-control" id="familyName" name="familyName" value="{{ user._json.user_metadata.name.familyName }}" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="password">Change Password</label>
            <input type="password" class="form-control" id="password" name="password" value="" placeholder="Type new password" autocomplete="off">
        </div>
        <div class="panel-footer">
            <button type="button" class="btn btn-default pull-right" ng-click="save()">Save</button>
            <div class="clearfix"></div>
        </div>
    </div>

    <div ng-if="user.provider!='auth0'">
        <div class="form-group">
            <label for="provider">Authentication Provider</label>
            <p class="form-control-static">{{ user.provider }}</p>
        </div>
        <div class="form-group">
            <label for="displayName">Display Name</label>
            <p class="form-control-static">{{ user.displayName }}</p>
        </div>
        <div class="form-group">
            <label for="givenName">First Name</label>
            <p class="form-control-static">{{ user.name.givenName }}</p>
        </div>
        <div class="form-group">
            <label for="familyName">Last Name</label>
            <p class="form-control-static">{{ user.name.familyName }}</p>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <p class="form-control-static" ng-repeat="email in user.emails">{{ email.value }}</p>
        </div>
        <div class="form-group">
            <label for="picture">Picture</label><br />
            <img src="{{ user.picture }}" width="100" height="100" ng-if="user.picture.length!=0">
        </div>
    </div>
</div>