<header>
    <h1>Account Settings</h1>
</header>

<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom md-no-ink>
            <md-tab label="Profile">
                <md-content layout="column" layout-gt-xs="row">

                    <div flex="66">
                        <md-input-container class="md-block">
                            <label>First Name</label>
                            <input required name="givenName" ng-model="user.firstName" disabled>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Last Name</label>
                            <input required name="familyName" ng-model="user.lastName" disabled>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Email</label>
                            <input required name="email" ng-model="user.email" disabled>
                        </md-input-container>
                    </div>

                    <div flex="33" flex-order-gt-xs="-1">
                        <img width="100%" src="/images/image-not-found-sm.png" class="profile" />
                    </div>

                </md-content>
            </md-tab>

            <md-tab label="Billing" ng-disabled="1">
            </md-tab>
        </md-tabs>
    </md-content>
</div>

<!-- -->

<!--  <form ng-if="user.provider=='local'" ng-submit="updateProfile()">
    <div class="form-group" ng-if="user.profileImageUrl">

        <img ng-src="{{ user.profileImageUrl }}" width="100" height="100">
    </div>
    <div class="form-group">
        <label for="displayName">Display Name</label>
        <input type="text" class="form-control" id="displayName" name="displayName"
               value="{{ user.firstName }} , {{user.lastName}}" readonly>
    </div>
    <div class="form-group">
        <label for="givenName">First Name</label>
        <input type="text" class="form-control" id="givenName" name="givenName"
               ng-model="user.firstName" autocomplete="off">
    </div>
    <div class="form-group">
        <label for="familyName">Last Name</label>
        <input type="text" class="form-control" id="familyName" name="familyName"
               ng-model="user.lastName" autocomplete="off">
    </div>
    <div class="form-group">

        <label for="password">Change Password</label>
        <input type="password" class="form-control" id="password" name="password" ng-model="userFormData.password"
               placeholder="Type new password" autocomplete="off">
    </div>
    <div class="panel-footer clearfix">
        <button type="submit" class="btn btn-default pull-right">Save</button>
    </div>
</form> -->
