<header>
    <h1>Account Settings</h1>
</header>

<div class="array-content account" ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom md-no-ink md-no-pagination>
            <md-tab label="Profile" md-no-ink>
                <md-content layout="column" layout-gt-xs="row" class="tab-content">

                    <div flex="75">
                        <md-input-container class="md-block">
                            <label>First Name</label>
                            <input required name="givenName" ng-model="user.firstName" disabled>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Last Name</label>
                            <input required name="familyName" ng-model="user.lastName" disabled>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Email</label>
                            <input required name="email" ng-model="user.email" disabled>
                        </md-input-container>
                        <!-- Update Settings -->
                    </div>

                    <div flex="25" flex-order-gt-xs="-1">
                        <img src="/images/image-not-found-sm.png" class="profile" />
                        <!-- Upload/Update -->
                    </div>

                </md-content>
            </md-tab>

            <md-tab label="Billing" md-no-ink>
                <md-content>
                    <h2>Plan Summary</h2>
                    <p>
                        Arrays Pro (Monthly): 2 Datasets<br />
                        Cost per Dataset: $99<br />
                        <strong>Total per month:</strong> $298.00
                    </p>

                    <p>Credit Card (Visa)&emsp;<a href="#">Edit Payment Info</a></p>
                    <hr>
                    <md-input-container>
                        <label>Datasets</label>
                        <input name="datasets" required type="number" value="2" />
                    </md-input-container>

                    <div layout="row" layout-align="space-between center">
                        <md-button class="md-dashboard">
                            <span class="btn-label">Save and Update Monthly Billing Amount</span>
                        </md-button>

                        <md-button class="md-dashboard">
                            <span class="btn-label">Pay Yearly ($198 / mo)</span>
                        </md-button>
                    </div>

                    <hr>

                    <h3>Upgrade to Arrays Enterprise</h3>

                    <md-button class="md-dashboard">
                        <span class="btn-label">Learn More</span>
                    </md-button>

                    <hr>

                    <a href="#">Close Account</a>

                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>

<!-- -->

<!--  <form ng-if="user.provider=='local'" ng-submit="updateProfile()">
    <div class="form-group" ng-if="user.profileImageUrl">

        <img ng-src="{{ user.profileImageUrl }}" width="100" height="100">
    </div>
    <div class="form-group">
        <label for="displayName">Display Name</label>
        <input type="text" class="form-control" id="displayName" name="displayName"
               value="{{ user.firstName }} , {{user.lastName}}" readonly>
    </div>
    <div class="form-group">
        <label for="givenName">First Name</label>
        <input type="text" class="form-control" id="givenName" name="givenName"
               ng-model="user.firstName" autocomplete="off">
    </div>
    <div class="form-group">
        <label for="familyName">Last Name</label>
        <input type="text" class="form-control" id="familyName" name="familyName"
               ng-model="user.lastName" autocomplete="off">
    </div>
    <div class="form-group">

        <label for="password">Change Password</label>
        <input type="password" class="form-control" id="password" name="password" ng-model="userFormData.password"
               placeholder="Type new password" autocomplete="off">
    </div>
    <div class="panel-footer clearfix">
        <button type="submit" class="btn btn-default pull-right">Save</button>
    </div>
</form> -->
