<!-- header -->
<ng-include src="'templates/blocks/header.html'"></ng-include>
<!-- /header -->

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">


<ng-include src="templates/blocks/left-nav.html"></ng-include>


<div id="content" class="site-content">


	<div class="col-xs-3 container-fluid">
		<ng-include src="'templates/blocks/left-nav.html'"></ng-include>
	</div>



    <div class="col-xs-9" ui-view>
    </div>

</div><!-- #content -->


<!-- footer , hiding it for now for display-->
<!-- <ng-include src="'templates/blocks/footer.html'"></ng-include> -->
<!-- /footer -->