<!-- header -->
<ng-include src="'templates/blocks/header.html'"></ng-include>
<!-- /header -->

<div ng-class="{'sidebar-menu-in': showSideMenu}" layout="row" class="dashboard-container">
	<div flex="30" class="sidebar-menu">
		<ng-include src="'templates/blocks/sidebar-menu.html'"></ng-include>
	</div>

	<div flex="70" class="dashboard-content">
		<div ui-view></div>
    </div>

</div><!-- #content -->


<!-- footer -->
<!--<ng-include src="'templates/blocks/footer.html'"></ng-include>-->
<!-- /footer -->