<!-- header -->
<ng-include src="'templates/blocks/header.html'"></ng-include>
<!-- /header -->

<div layout="row" class="dashboard-container" flex="">

	<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
		<div flex="" class="sidebar-menu">
			<ng-include src="'templates/blocks/sidebar-menu.html'"></ng-include>

			<md-button ng-click="toggleLeft()">
				Close Sidenav Left
			</md-button>
		</div>
	</md-sidenav>


	<div flex="" class="dashboard-content">
		<div ui-view></div>
		<md-button ng-click="toggleLeft()" class="" hide-gt-md="">
			Toggle left
		</md-button>
    </div>

</div><!-- #content -->

<!-- footer -->
<!--<ng-include src="'templates/blocks/footer.html'"></ng-include>-->
<!-- /footer -->
