<header>
    <h1>Manage Teams</h1>
</header>

<div class="array-content">

    <md-button class="md-dashboard" ng-if="user.role=='superAdmin'" ng-click="openAddTeamDialog($event)" md-no-ink>
        <md-icon class="btn-icon">add</md-icon>
        <span class="btn-label">Add Team</span>
    </md-button>

    <p class="instructions">Select a team to edit</p>

    <ul class="dashboard-list team-list" ng-cloak>
        <li ng-repeat="tm in teams track by $index">
            <md-button class="dashboard-list-hover" ng-disabled="team._id == tm._id" ng-click="signInWithTeam($index)" md-no-ink>
                <span class="dashboard-list-name">{{tm.title}}</span>
                <span class="dashboard-list-revision">({{tm.subdomain}}.arrays.co)</span>
            </md-button>
        </li>
    </ul>

</div>
