<header layout-xs="col" layout-gt-xs="row" layout-align="space-between start">
    <h1>Manage Teams</h1>

    <md-button class="md-dashboard md-dashboard-header" ng-if="user.role=='superAdmin'" ng-click="openAddTeamDialog($event)" md-no-ink>
        <span class="btn-label">Add Team</span>
    </md-button>
</header>

<div class="array-content teams">

    <h4 ng-if="teams.length > 1">Switch teams</h4>
    <hr>
    <ul class="dashboard-list team-list" ng-cloak>
        <li ng-repeat="tm in teams track by $index">
            <md-button class="dashboard-list-hover" ng-disabled="team._id == tm._id" ng-click="signInWithTeam($index)" md-no-ink>
                <span class="dashboard-list-name">{{tm.title}}</span>
                <span class="dashboard-list-revision">({{tm.subdomain}}.arrays.co)</span>
            </md-button>

            <a ng-if="team._id !== tm._id && user.role=='superAdmin'" href="#" ng-click="deleteTeam($index)" class="warn">Delete Team</a>

            <md-checkbox ng-if="team._id !== tm._id && user.role=='superAdmin'" ng-model="tm.superTeam"
                ng-change="updateSuperTeam($index)"
                aria-label="Make team super team">
                Don't Require Subscription
            </md-checkbox>

        </li>
    </ul>

</div>
