<header>
    <h1>Website Settings</h1>
</header>

<div class="array-content">
     <form name="vm.websiteForm" ng-submit="submitForm(vm.websiteForm.$valid && vm.websiteForm.$dirty)" novalidate>
        <md-input-container class="md-block">
            <label>Title</label>
            <input required name="title" ng-model="team.title">
            <div ng-messages="vm.websiteForm.title.$error">
                <div ng-message="required">This is required.</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block">
            <label>Description</label>
            <textarea md-no-asterisk name="description" ng-model="team.description"></textarea>
        </md-input-container>

         <div flex="50" layout="row">
            <md-input-container flex>
                <label>Subdomain</label>
                <input ng-model="team.subdomain" readonly="true">
            </md-input-container>
            <md-icon md-font-set="regular-font">.arrays.co</md-icon>
        </div>




     <div class="formInput">
            <label>Logo</label>
            <div ng-if="!team.logo">
                No team logo uploaded.

            </div>

            <div flex="50">
                 <img class="img-responsive" ng-if="team.logo" ng-src="{{team.logo}}">
            </div>
    </div>




    <div class="formInput">
        <label>Logo Header</label>
         <div ng-if="!team.logo_header">
                No team logo header uploaded.

            </div>

        <div flex="50">
             <img class="img-responsive" ng-if="team.logo_header" ng-src="{{team.logo_header}}">
        </div>

    </div>








    <label class="formInput">Choose images</label>
         <input type="file" nv-file-select="" uploader="assetsUploader" multiple>

        <table class="table upload">
        <thead>
        <tr>
            <th width="50%">Asset Name</th>
            <th>Type</th>
            <th ng-show="assetsUploader.isHTML5">Size</th>
            <th ng-show="assetsUploader.isHTML5">Progress</th>
            <th>Status</th>
            <th>Actions</th>

        </tr>
        </thead>
        <tbody>




        <tr ng-repeat="item in assetsUploader.queue track by $index">


            <td><strong>{{ item.file.name }}</strong></td>

             <td>
                  <md-select ng-change="getUploadUrl($index,item)" required ng-model="item.assetType"
                       aria-label="assetType">
                        <md-option value="logo">Logo</md-option>
                        <md-option value="icon">Icon</md-option>
                        <md-option value="logo_header">Logo Header</md-option>
                    </md-select>
            </td>



            <td ng-show="assetsUploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
             <td ng-show="assetsUploader.isHTML5" class="progress-container">
                <md-progress-linear md-mode="{{progressMode}}" value="{{item.progress}}"></md-progress-linear>
            </td>


            <td class="text-center">
                <span ng-show="item.isSuccess" class="text-success"><i class="glyphicon glyphicon-ok"></i></span>
                <span ng-show="item.isCancel" class="text-warning"><i class="glyphicon glyphicon-ban-circle"></i></span>
                <span ng-show="item.isError" class="text-danger"><i class="glyphicon glyphicon-remove"></i></span>
            </td>
            <td nowrap class="no-padding-vertical">
                <md-button class="md-raised" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess || !item.assetType">
                    Upload
                </md-button>
                <md-button class="md-raised" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                    Cancel
                </md-button>
                <md-button class="md-raised" ng-click="item.remove()">
                    Remove
                </md-button>
            </td>

        </tr>
        </tbody>

    </table>


        <div layout="row" layout-align="end center" class="panel-footer">
            <md-button md-no-ink class="md-raised md-dashboard md-light" type="submit"
            ng-disabled="vm.websiteForm.$invalid || !vm.websiteForm.$dirty">
                       <span class="btn-label">Save</span></md-button>
        </div>

    </form>

</div>
