{% if brandColor %}
    <style scoped>
        .color-brand,
        a.color-brand:hover,
        a.color-brand:focus,
        a.color-brand:active,
        .sidebar-filter-toggle .color-brand {
        	color: {{ brandColor }};
        }

        .color-brand-hover:hover,
        .dropdown-toggle:hover .color-brand-hover,
        .open .color-brand-hover,
        .search-toggle:hover .color-brand-hover,
		.search-toggle.search-active .color-brand-hover {
        	color: {{ brandColor }};
        }

        .background-color-brand,
        #page .background-color-brand-hover:hover,
        #page .background-color-brand-hover:focus,
        #page .background-color-brand-hover:active,
        #page .background-color-brand-hover > a:hover,
        #page .background-color-brand-hover > a:focus,
        #page .background-color-brand-hover > a:active ,
        #page .background-color-brand-hover.active > a {
        	background-color: {{ brandColor }};
        }

        .border-color-brand,
        .border-color-brand-hover:hover {
        	border-color: {{ brandColor }};
        }

        .border-top-color-brand {
        	border-top-color: {{ brandColor }};
        }
    </style>
{% endif %}

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top background-color-brand">
	<div class="container-fluid container-full-width">
		<div class="navbar-brand-container">
			<a class="navbar-brand navbar-brand-arrays" href="/array">Arrays</a><br />
			<a class="navbar-brand navbar-brand-array-title" href="/array/{{ array_source_key }}/gallery{{ urlQuery_forSwitchingViews }}">{{ arrayTitle }}</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li>
					<a href="#" class="sidebar-filter-slide-toggle"><span class="icon-filter" aria-hidden="true"></span>{% if isFilterActive %}<span class="sidebar-filter-active background-color-brand"></span>{% endif %}</a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="icon-{{ currentView }}" aria-hidden="true"></span></a>
					<ul class="dropdown-menu">
						{% if view_visibility.gallery != false %}
						<li class="background-color-brand-hover menu-item-gallery {{ "active" if currentView == "gallery" }}"><a href="/array/{{ array_source_key }}/gallery{{ urlQuery_forSwitchingViews }}"><span class="icon-gallery color-brand" aria-hidden="true"></span> Gallery</a></li>
						{% endif %}
						{% if view_visibility.choropleth != false %}
						<li class="background-color-brand-hover menu-item-choropleth {{ "active" if currentView == "choropleth" }}"><a href="/array/{{ array_source_key }}/choropleth{{ urlQuery_forSwitchingViews }}"><span class="icon-choropleth color-brand" aria-hidden="true"></span> Choropleth</a></li>
						{% endif %}
						{% if view_visibility.chart != false %}
						<li class="background-color-brand-hover menu-item-chart {{ "active" if currentView == "chart" }}"><a href="/array/{{ array_source_key }}/chart{{ urlQuery_forSwitchingViews }}"><span class="icon-chart color-brand" aria-hidden="true"></span> Chart</a></li>
						{% endif %}
						{% if view_visibility.timeline != false %}
						<li class="background-color-brand-hover menu-item-timeline {{ "active" if currentView == "timeline" }}"><a href="/array/{{ array_source_key }}/timeline{{ urlQuery_forSwitchingViews }}"><span class="icon-timeline color-brand" aria-hidden="true"></span> Timeline</a></li>
						{% endif %}
                        {% if view_visibility.scatterplot != false %}
                        <li class="background-color-brand-hover menu-item-scatterplot {{ "active" if currentView == "scatterplot" }}"><a href="/array/{{ array_source_key }}/scatterplot{{ urlQuery_forSwitchingViews }}"><span class="icon-scatterplot color-brand" aria-hidden="true"></span> Scatterplot</a></li>
                        {% endif %}
                        {% if view_visibility.wordCloud != false %}
                        <li class="background-color-brand-hover menu-item-word-cloud {{ "active" if currentView == "word-cloud" }}"><a href="/array/{{ array_source_key }}/word-cloud{{ urlQuery_forSwitchingViews }}"><span class="icon-word-cloud color-brand" aria-hidden="true"></span> Word cloud</a></li>
                        {% endif %}
                        {% if view_visibility.lineGraph != false %}
                        <li class="background-color-brand-hover menu-item-line-graph {{ "active" if currentView == "line-graph" }}"><a href="/array/{{ array_source_key }}/line-graph{{ urlQuery_forSwitchingViews }}"><span class="icon-chart color-brand" aria-hidden="true"></span> Line graph</a></li>
                        {% endif %}
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="icon-menu" aria-hidden="true"></span></a>
					<ul class="dropdown-menu">
						<li class="background-color-brand-hover"><a href="/array/{{ array_source_key }}/gallery">{{ arrayTitle }}</a></li>
						<li class="background-color-brand-hover"><a href="#" class="share-link">Share</a></li>
						<li role="separator" class="divider"></li>
						<li class="background-color-brand-hover"><a href="/array">Explore Arrays</a></li>
						<li role="separator" class="divider"></li>
						<li class="background-color-brand-hover"><a href="mailto:{{ 'Arrays Support<info@arrays.co>' | urlencode}}">Contact Support</a></li>
					</ul>
				</li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>
