{% macro default(basePath, searchColToOutput, columnNames, searchQ, sortBy, sortDir, filterJSON_nonURIEncodedVals) %}
<form action="{{ basePath }}" method="get" class="form-search">
    <div class="sort-control visible-xs">
        <div class="dropdown-toggle search-toggle">
            <span class="icon-search search-icon color-brand-hover"></span>
        </div>
    </div>

    <div class="mobile-search-popover dropdown-panel">
        <div class="dropdown sort-control search-control">
            <a href="#" class="btn dropdown-toggle ui-label" data-toggle="dropdown" id="search-by" role="button" aria-haspopup="true" aria-expanded="false">
                Search <span class="search-criteria color-brand-hover">{{ searchColToOutput }}</span>
            </a>
            <input type="hidden" name="searchCol" value="{{ searchColToOutput }}" class="search-colname">
            {% if columnNames | length %}
            <ul class="dropdown-menu search-dropdown-menu" aria-labelledby="search-by">
                {% for colName in columnNames %}
                <li class="search-dropdown-item background-color-brand-hover"><a href="#" data-colname="{{ colName }}">{{ colName }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="sort-control sort-control-right">
            <div class="dropdown-toggle">
                <input type="text" name="searchQ" class="form-control search-input" placeholder="Type here to search" autocomplete="off" value="{{ searchQ }}">
                <span class="icon-search search-icon hidden-xs"></span>
            </div>
        </div>
    </div>

    {% if sortBy %}
    <input type="hidden" name="sortBy" value="{{ sortBy }}">
    {% endif %}
    {% if sortDir %}
    <input type="hidden" name="sortDir" value="{{ sortDir }}">
    {% endif %}
    {% if filterJSON_nonURIEncodedVals %}
    <input type="hidden" name="filterJSON" value="{{ filterJSON_nonURIEncodedVals }}"> {# it will get re-encoded #}
    {% endif %}
</form>
{% endmacro %}

{% macro panel(basePath, searchColToOutput, columnNames, searchQ, sortBy, sortDir, filterJSON_nonURIEncodedVals) %}
<form action="{{ basePath }}" method="get" class="form-search">
    <div class="sort-control visible-xs">
        <div class="btn dropdown-toggle-button search-toggle">
            <span class="icon-search search-icon color-brand-hover"></span>
        </div>
    </div>

    <div class="mobile-search-popover">
        <div class="dropdown-toggle-button-group" role="group">
            <div class="dropdown sort-control sort-control-left search-control">
                <a href="#" class="btn dropdown-toggle ui-label" data-toggle="dropdown" id="search-by" role="button" aria-haspopup="true" aria-expanded="false">
                    Search <span class="search-criteria color-brand-hover">{{ searchColToOutput }}</span>
                </a>
                <input type="hidden" name="searchCol" value="{{ searchColToOutput }}" class="search-colname">
                {% if columnNames | length %}
                <ul class="dropdown-menu search-dropdown-menu" aria-labelledby="search-by">
                    {% for colName in columnNames %}
                    <li class="search-dropdown-item background-color-brand-hover"><a href="#" data-colname="{{ colName }}">{{ colName }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <div class="sort-control sort-control-right">
                <div class="dropdown-toggle">
                    <input type="text" name="searchQ" class="form-control search-input" placeholder="Type here to search" autocomplete="off" value="{{ searchQ }}">
                    <span class="icon-search search-icon hidden-xs"></span>
                </div>
            </div>
        </div>
    </div>

    {% if sortBy %}
    <input type="hidden" name="sortBy" value="{{ sortBy }}">
    {% endif %}
    {% if sortDir %}
    <input type="hidden" name="sortDir" value="{{ sortDir }}">
    {% endif %}
    {% if filterJSON_nonURIEncodedVals %}
    <input type="hidden" name="filterJSON" value="{{ filterJSON_nonURIEncodedVals }}"> {# it will get re-encoded #}
    {% endif %}
</form>
{% endmacro %}