<nav id="accordion" class="sidebar-filter" role="navigation" aria-multiselectable="true">
    <div class="sidebar-filter-heading">
        Filter Selection
    </div>
    <ul class="sidebar-filter-group">

        {% for fieldName, fieldValues in uniqueFieldValuesByFieldName %}

            {% if fieldValues | length == 1 %}
                {% set isThisAnActiveFilterColumn = false %}
                {% if isFilterActive %}
                    {% if filterObj[fieldName] %}
                        {% set isThisAnActiveFilterColumn = true %}
                    {% endif %}
                {% endif %}

                {% for fieldValue in fieldValues %}
                {% set isThisAnActiveFilter = false %}
                {% if isThisAnActiveFilterColumn %}
                    {% if filterObj[fieldName] | doesArrayContain(fieldValue) %}
                        {% set isThisAnActiveFilter = true %}
                    {% endif %}
                {% endif %}
                <li class="sidebar-filter-group-item sidebar-filter-toggle">
                    {% set filterObjForThisFilterColVal = filterObj | constructedFilterObj(fieldName, fieldValue, isThisAnActiveFilter) %}
                    {% set urlForFilterValue = routePath_base | constructedRoutePath(filterObjForThisFilterColVal, {
                        searchQ: searchQ,
                        searchCol: searchCol,
                        sortBy: sortBy,
                        sortDir: sortDir,
                        groupBy: groupBy,
                        mapBy: mayBy,
                        aggregateBy: aggregateBy
                    }) %}
                    {% if filterObjForThisFilterColVal | isObjectEmpty %}
                        {% set urlForFilterValue = routePath_base | constructedRoutePath(null, {
                            searchQ: searchQ,
                            searchCol: searchCol,
                            sortBy: sortBy,
                            sortDir: sortDir,
                            groupBy: groupBy,
                            mapBy: mayBy,
                            aggregateBy: aggregateBy }) %}
                    {% endif %}
                    <a href="{{ urlForFilterValue }}" class="{{ "sidebar-filter-toggle-active color-brand" if isThisAnActiveFilter else "" }}">
                         <span class="sidebar-filter-toggle-title">{{ fieldValue }}</span> <span class="sidebar-filter-toggle-check {{ "icon-check-on" if isThisAnActiveFilter else "icon-check-off" }}" aria-hidden="true"></span>
                    </a>
                </li>
                {% endfor %}
            {% endif %}
        {% endfor %}

        {% for fieldName, fieldValues in uniqueFieldValuesByFieldName %}
            {% if fieldValues | length > 1 %}
                <li class="sidebar-filter-group-item">
                    {% set isThisAnActiveFilterColumn = false %}
                    {% if isFilterActive %}
                        {% if filterObj[fieldName] %}
                            {% set isThisAnActiveFilterColumn = true %}
                        {% endif %}
                    {% endif %}
                    {% set isMultiselectable = multiselectableFilterFields | doesArrayContain(fieldName) %}

                    <a class="collapse-trigger" role="button" href="#column-{{ loop.index }}" aria-expanded="false" aria-controls="column-{{ loop.index }}">
                        <span class="sidebar-filter-fieldname">{{ displayTitleOverrides[fieldName] or fieldName }}</span> {% if isThisAnActiveFilterColumn %}<span class="badge background-color-brand">{{ filterObj[fieldName] | filterCount }}</span>{%endif %}
                    </a>
                    <ul id="column-{{ loop.index }}" class="sidebar-filter-subgroup collapse" aria-expanded="false">
                        {% for fieldValue in fieldValues %}
                            {% set isThisAnActiveFilter = false %}
                            {% if isThisAnActiveFilterColumn %}
                                {% if filterObj[fieldName] | doesArrayContain(fieldValue) %}
                                    {% set isThisAnActiveFilter = true %}
                                {% endif %}
                            {% endif %}

                            <li class="sidebar-filter-subgroup-item background-color-brand-hover">
                                {% set filterObjForThisFilterColVal = filterObj | constructedFilterObj(fieldName, fieldValue, isThisAnActiveFilter, isMultiselectable) %}
                                {% set urlForFilterValue = routePath_base | constructedRoutePath(filterObjForThisFilterColVal, {
                                    searchQ: searchQ,
                                    searchCol: searchCol,
                                    sortBy: sortBy,
                                    sortDir: sortDir,
                                    groupBy: groupBy,
                                    mapBy: mayBy,
                                    aggregateBy: aggregateBy
                                }) %}

                                {% if isMultiselectable %}
                                    <a href="{{ urlForFilterValue }}" class="{{ "sidebar-filter-toggle-active background-color-brand" if isThisAnActiveFilter else "" }}">
                                        <span class="sidebar-filter-toggle-title">{{ fieldValue }}</span> <span class="sidebar-filter-toggle-check {{ "icon-check-on" if isThisAnActiveFilter else "icon-check-off" }}" aria-hidden="true"></span>
                                    </a>
                                {% else %}
                                    <a href="{{ urlForFilterValue }}" class="{{ "sidebar-filter-active background-color-brand" if isThisAnActiveFilter else "" }}">
                                        {{ fieldValue }}
                                    </a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>