<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Amgen Atlas</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="/static/css/normalize.css" type="text/css">
        <link rel="stylesheet" href="/static/css/jquery-ui.css" type="text/css">
        <link rel="stylesheet" href="/static/css/stylesheet.css"type="text/css">
        
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- header -->
         <div class="header">
            <div id="nav-trigger" class="nav-trigger" title="Filters Menu"></div>
            <div id="gridIcon" class="gridOn" title="Grid View"> </div>
            <div id="graphIcon" class="graphOff" title="Graph View"> </div>
            <div id="navbar_title2">Version 1.1</div>
            <div class="container">
                <div id="navbar_title">AMGEN ATLAS</div>
                <div id="infoButton" title="More Info"></div>
                <div id="search-container">
                    <div id="search-carrot">▾</div>
                    <div id="search-bar" class="ui-widget">
                        <input class="search-input" placeholder="" type="search" value="" name="search" id="search">
                        <span id="search-icon"></span>
                    </div>
                    <div id="search-dropdown">
                        <div class="search-item selected" id="search-all">Search All</div>
                        <div class="search-item" id="search-ext">Search Extinction Coeff</div>
                        <div class="search-item" id="search-pi">Search PI</div>
                        <div class="search-item" id="search-pept">Search Peptide Mw</div>
                    </div>
                </div>
                <div id="switch-order-button" class="ascending" title="Change Sort Order"></div>
                <div id="sortby-menu">
                    <div id="sortby" class="sortby-label">Sort by </div>
                    <div id="sortby-item_selected" class="sortby-item_selected">Product Number</div>
                    <div id="sortby_carrot" class="sortby-label">▾</div>
                    <div id="sort-container">
                        <div data-sort-by="dateFormed" class="sortby-item">Date of PST</div>
                        <div data-sort-by="amgNumber" class="sortby-item selected">Product Number</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- DETAIL HEADER -->
        <!-- <div id="detailview_header">
            <div id="nav-items">
                
            </div>
            <div id="detailexit"><div id="detailexit-button"></div></div>
        </div> -->

        <!-- CONTENT CONTAINER -->
        <div class="site-wrap">
            <!-- FILTERS MENU-->
            <div id="filters-container">
                <div id="category-container">
                    <span class="filter-category" data-filter-group="modalities" id="modalities"/>Modalities<span class="filter-count"></span></span>
                    <ul id="modalities-category">
                        <li class="filter" data-filter=".monoclonal" id="monoclonal"><div id="legend-monoclonal"></div>mAb</li>
                        <li class="filter" data-filter=".adc" id="adc"><div id="legend-adc"></div>ADC</li>
                        <li class="filter" data-filter=".bispecific" id="bispecific"><div id="legend-bispecific"></div>Bi-specific</li>
                        <li class="filter" data-filter=".bite" id="bite"><div id="legend-bite"></div>BiTe</li>
                        <li class="filter" data-filter=".fusion" id="fusion"><div id="legend-fusion"></div>Fusion</li>
                        <!--<li class="filter" id="peptibody"><div id="legend-icon"></div>Peptibody</li>
                        <li class="filter" id="virus"><div id="legend-icon"></div>Virus</li>
                        <li class="filter" id="globular"><div id="legend-icon"></div>Globular</li> -->
                    </ul>
                </div>
                <div id="category-container">
                    <span class="filter-category" data-filter-group="classes" id="classes">Classes<span class="filter-count"></span></span>
                    <ul id="classes-category">
                        <li class="filter" data-filter=".igg1" id="igg1"><span id="igg1-circle" class="circle"></span>IgG1</li>
                        <li class="filter" data-filter=".igg2" id="igg2"><span id="igg2-circle" class="circle"></span>IgG2</li>
                        <li class="filter" data-filter=".igg4" id="igg4"><span id="igg4-circle" class="circle"></span>IgG4</li>
                        <li class="filter" data-filter=".kappalc" id="kappalc"><span id="kappalc-circle" class="circle"></span>Kappa LC</li>
                        <li class="filter" data-filter=".lambdalc" id="lambdalc"><span id="lambdalc-circle" class="circle"></span>Lambda LC</li>
                        <!--<li class="filter" data-filter=".cd3" id="cd3"><span id="cd3-circle" class="circle"></span>CD3</li> -->
                        <!-- <li class="filter" data-filter=".cd3hsa" id="cd3hsa"><span id="cd3hsa-circle" class="circle"></span>CD3-HSA</li>
                        <li class="filter" data-filter=".cd3fc" id="cd3fc"><span id="cd3fc-circle" class="circle"></span>CD3-Fc</li>
                        -->
                    </ul>
                </div>
                <div id="category-container">
                    <span class="filter-category" data-filter-group="project-status" id="project-status">Status<span class="filter-count"></span></span>
                    <ul id="status-category">
                        <li class="filter" data-filter=".active" id="active">Active</li>
                        <li class="filter" data-filter=".inactive" id="inactive">Inactive</li>
                    </ul>
                </div>                
                <div id="category-container">
                    <span class="filter-category" data-filter-group="stages" id="stages">Stages<span class="filter-count"></span></span>
                    <ul id="stages-category">
                        <li class="filter" data-filter=".biosimilar" id="biosimilar">Biosimilar</li>
                        <li class="filter" data-filter=".reagentapproach" id="reagentapproach">Reagent Approach</li>
                        <li class="filter" data-filter=".fih" id="fih">FIH</li>
                        <li class="filter" data-filter=".cfd" id="cfd">CFD</li>
                        <li class="filter" data-filter=".cpd" id="cpd">CPD</li>
                        <li class="filter" data-filter=".postcpd" id="postcpd">Post-CPD</li>
                        <li class="filter" data-filter=".marketedproduct" id="marketedproduct">Marketed Product</li>
                    </ul>
                </div>
                <div id="category-container">
                    <span class="filter-category" data-filter-group="indications" id="indications">Indications<span class="filter-count"></span></span>
                    <ul id="indications-category">
                        <li class="filter" data-filter=".alzheimers" id="alzheimers">Alzheimer's</li>
                        <li class="filter" data-filter=".anemia" id="anemia">Anemia</li>
                        <li class="filter" data-filter=".asthma" id="asthma">Asthma</li>
                        <li class="filter" data-filter=".atypicalhaemolyticuraemicsyndrome" id="atypicalhaemolyticuraemicsyndrome">Atypical haemolytic uraemic syndrome</li>
                        <li class="filter" data-filter=".chronsdisease" id="chronsdisease">Crohn's Disease</li>
                        <li class="filter" data-filter=".coronaryheartdisease" id="coronaryheartdisease">Coronary Heart Disease</li>
                        <li class="filter" data-filter=".fracturehealing" id="fracturehealing">Fracture Healing</li>
                        <li class="filter" data-filter=".graftvshost" id="graftvshost">Graft vs. Host Disease</li>
                        <li class="filter" data-filter=".idiopathicpulmonaryfibrosis" id="idiopathicpulmonaryfibrosis">Idiopathic Pulmonary Fibrosis</li>
                        <li class="filter" data-filter=".irritableboweldisease" id="irritableboweldisease">Irritable Bowel Disease</li>
                        <li class="filter" data-filter=".lupus" id="lupus">Lupus</li>    
                        <li class="filter" data-filter=".migraine" id="migraine">Migraine</li>
                        <li class="filter" data-filter=".multiplemyeloma" id="multiplemyeloma">Multiple Myeloma</li>
                        <li class="filter" data-filter=".multiplesclerosis" id="multiplesclerosis">Multiple Sclerosis</li>
                        <li class="filter" data-filter=".oncology" id="oncology">Oncology</li>
                        <li class="filter" data-filter=".paroxysmalnocturnalhemoglobinuria" id="paroxysmalnocturnalhemoglobinuria">Paroxysmal nocturnal hemoglobinuria</li>
                        <li class="filter" data-filter=".postmenopausalosteoporosis" id="postmenopausalosteoporosis">Post-Menopausal Osteoporosis</li>
                        <li class="filter" data-filter=".psoriasis" id="psoriasis">Psoriasis</li>
                        <li class="filter" data-filter=".psoriaticarthritis" id="psoriaticarthritis">Psoriatic Arthritis</li>
                        <li class="filter" data-filter=".rheumatoidarthritis" id="rheumatoidarthritis">Rheumatoid Arthritis</li>
                        <li class="filter" data-filter=".typeiidiabetes" id="typeiidiabetes">Type II Diabetes</li>
                    </ul>
                </div>
            </div>

             <!-- HEADER NAV BAR -->
            <div id="grid-header">
                <div class="display_results">
                    <div id="breadcrumb-container">
                        <div id="breadcrumb">
                            <div id="breadcrumb-text">All molecules</div>
                            <div id="clear-filters"></div>
                        </div>
                    </div>
                    <div id="number_result">
                        <span id="tile-number">0 results</span>
                    </div>
                </div>
            </div>

        
            <!-- GRID HOLDS TILES, HOVER, DETAIL VIEW -->
            <div class="grid">

                <!-- DETAIL VIEW CONTENTS -->
                <div id="detail-container" class="stamp">
                    <div id="hover-notch"></div>
                    <!-- META DATA -->
                    <div id="leftColumn">
                        <div id="detail-molecule-name"></div>
                        <div id="detail-alternate-names"></div>
                        <div id="detail-molecule-illustration"><img/></div>
                        <div class="detail-view" id="meta-container">
                            <div class="meta-pair">
                                <div class="meta-label">PST Formed</div>
                                <div id="detail-pstformed" class="meta-field"></div>
                            </div>
                            <div class="meta-pair">
                                <div class="meta-label">Class</div>
                                <div id="detail-class1" class="meta-field"></div>
                                <div id="detail-class2" class="meta-field"></div>
                                <div id="detail-class3" class="meta-field"></div>
                            </div>
                            <div class="meta-pair">
                                <div class="meta-label">Modality</div>
                                <div id="detail-modality" class="meta-field"></div>
                            </div>
                            <div class="meta-pair">
                                <div class="meta-label">Extinction Coeff</div>
                                <div id="detail-extinctioncoeff" class="meta-field"></div>
                            </div>
                            <div class="meta-pair">
                                <div class="meta-label">Peptide Mw</div>
                                <div id="detail-peptidemw" class="meta-field"></div>
                            </div>
                            <div class="meta-pair">
                                <div class="meta-label">PI</div>
                                <div id="detail-pi" class="meta-field"></div>
                            </div>
                        </div>
                    </div>
                     <!-- MOLECULE SUMMARY -->
                    <div id="fields-container">
                        <a name="description" class="detail-anchor"></a>
                        <div id="detail-tabs-container">
                            <ul class="detail-tabs-menu">
                                <li><a id="tab1">Sequence</a></li>
                                <li><a id="tab2">Summary</a></li>
                                <li><a id="tab3">Methods</a></li>
                                <li><a id="tab4">Contacts</a></li>
                            </ul>
                            <div class="detail-content">
                                <div class="tab-content" id="tab1c">
                                    <div id="sequence" class="detail-subtitle">Sequence </div>
                                    <img id="hc_image" class="sequence-image" src=""/>
                                    <div id="copyHC" class="copysequence">Raw HC<input onClick="this.select();" type="text" id="heavychainfield" value="Heavy Chain Sequence" readonly></input></div>
                                    <img id="lc_image" class="sequence-image" src=""/>
                                    <div id="copyLC" class="copysequence">Raw LC<input onClick="this.select();" type="text" id="lightchainfield" value="Light Chain Sequence" readonly></input></div>
                                    <img id="sequence_legend" class="sequence-image" src=""/>
                                </div>
                                <div class="tab-content" id="tab2c">
                                    <div id="compounddescription" class="detail-title">Compound Description</div>
                                    <div id="summary-text" class="detail-field">
                                    </div>
                                    <!-- <a href="" target="_blank" id="fileLink" title="Redirect to view complete molecule documentation">Go to molecule documentation.</a>-->
                                    <div id="formulation" class="detail-subtitle">Formulation</div>
                                    <div id="formulation-text" class="detail-field">
                                    </div>
                                    <div id="target" class="detail-subtitle">Biological Target/Function</div>
                                    <div id="target-text" class="detail-field">
                                    </div>
                                    <div id="therapeuticindications" class="detail-subtitle">Therapeutic Indications</div>
                                    <div id="therapeuticindications-text" class="detail-field">Asthma</div>

                                    <a name="project-status" class="detail-anchor"></a><div id="projectstatus" class="detail-title">Project Status</div>
                                    <div id="status" class="detail-subtitle">Status</div>
                                    <div id="status-text" class="detail-field"></div>
                                    <div id="stage" class="detail-subtitle">Stage</div>
                                    <div id="stage-text" class="detail-field"></div>

                                    <a name="resources" class="detail-anchor"></a><div id="resources" class="detail-title">Resources</div>
                                    <div id="resourceContent">
                                        <p class="boldP">Additional Resources</p>
                                        <ul class="overlay-ul">
                                           <li><a class="resourceLink" href="http://edmquality.amgen.com/" target="_blank">EDM Quality</a><br>The above link opens EDM Quality in a new window.</li>
                                            <li><a class="resourceLink" href="http://edmteams.amgen.com/" target="_blank">EDM Teams</a><br>The above link opens EDM Teams in a new window.</li>
                                            <li><a class="resourceLink" href="https://myteams.amgen.com/sites/PDPP/default.aspx" target="_blank">Pipeline Projects MyTeams page</a><br>Site for information about active molecule projects.</li>
                                            <li><a class="resourceLink" href="https://myteams.amgen.com/sites/PPDDSD/PPDAS/default.aspx" target="_blank">Analytical Sciences</a><br>Legacy MyTeams site that has links to EDM Teams folders containing Molecule Summary Reports.</li>
                                            <li><a class="resourceLink" href="http://insightviewer.amgen.com/I4V/" target="_blank">Insight Viewer</a><br>Site for regulatory filing documents.</li>
                                        </ul>
                                        <p>(note - this section will be improved and expanded in future versions of Atlas)</p><br>
                                    </div>
                                </div>
                                <div class="tab-content" id="tab3c">
                                    <a name="analytical" class="detail-anchor"></a><div id="analytical" class="detail-title">Analytical Methods</div>
                                    <table id="process-table">
                                        <tr>
                                            <th>Method</th>
                                            <th>Method Number</th>
                                        </tr>
                                        <tr>
                                            <td>Bioassay</td>
                                            <td id="bioassayNm" class="name"><a target="_blank" class="methodLink" href="" id="bioassay"></a></td>
                                        </tr>
                                        <tr>
                                            <td>ID ELISA</td> 
                                            <td id="idelisaNm" class="name"><a target="_blank" class="methodLink" href="" id="idelisa"></a></td>
                                        </tr>
                                        <tr>
                                            <td>Charge Assay</td>
                                            <td id="chargeassayNm" class="name"><a target="_blank" class="methodLink" href="" id="chargeassay"></a></td>
                                        </tr>
                                        <tr>
                                            <td>SEC</td>
                                            <td id="secNm" class="name"><a target="_blank" href="" class="methodLink" id="sec"></a></td>
                                        </tr>
                                         <tr>
                                            <td>rCE-SDS</td>
                                            <td id="rcesdsNm" class="name"><a target="_blank" href="" class="methodLink" id="rcesds"></a></td>
                                        </tr>
                                         <tr>
                                            <td>Titer</td>
                                            <td id="titerNm" class="name"><a target="_blank" href="" class="methodLink" id="titer"></a></td>
                                        </tr>
                                         <tr>
                                            <td>CHOP ELISA</td>
                                            <td id="chopelisaNm" class="name"><a target="_blank" class="methodLink" href="" id="chopelisa"></a></td>
                                        </tr>
                                         <tr>
                                            <td>rProA ELISA</td>
                                            <td id="proaelisaNm" class="name"><a target="_blank" class="methodLink" href="" id="proaelisa"></a></td>
                                        </tr>
                                    </table>
                                    <a name="dp" class="detail-anchor"></a><div id="expanded" class="detail-title">DP Information</div>
                                    <table id="expanded-table">
                                        <tr>
                                            <th></th>
                                            <th>Formulation</th>
                                            <th>Rheology (values at 25°C)</th>
                                            <th>Container</th>
                                            <th>Presentation</th>
                                        </tr>
                                        <tr>
                                            <td id="expanded-row1"></td>
                                            <td id="expanded-row1-col1" class="name"></td>
                                            <td id="expanded-row1-col2" class="name"></td>
                                            <td id="expanded-row1-col3" class="name"></td>
                                            <td id="expanded-row1-col4" class="name"></td>
                                        </tr>
                                        <tr>
                                            <td id="expanded-row2"></td>
                                            <td id="expanded-row2-col1" class="name"></td>
                                            <td id="expanded-row2-col2" class="name"></td>
                                            <td id="expanded-row2-col3" class="name"></td>
                                            <td id="expanded-row2-col4" class="name"></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="tab-content" id="tab4c">
                                    <a name="team" class="detail-anchor"></a><div id="team" class="detail-title">Team</div>
                                    <table id="team-table">
                                        <tr>
                                            <th>Contact</th>
                                            <th>Name</th>
                                        </tr>
                                        <tr>
                                            <td>Process Team Lead</td>
                                            <td id="process-lead" class="name"></td>
                                        </tr>
                                        <tr>
                                            <td>Analytical Lead</td>
                                            <td id="analytical-lead" class="name"></td>
                                        </tr>
                                        <tr>
                                            <td>Formulation Lead</td>
                                            <td id="formulation-lead" class="name"></td>
                                        </tr>
                                        <tr>
                                            <td>Upstream Lead</td>
                                            <td id="upstream-lead" class="name"></td>
                                        </tr>
                                         <tr>
                                            <td>Downstream Lead</td>
                                            <td id="downstream-lead" class="name"></td>
                                        </tr>
                                    </table>

                                    <p class="boldP">Contact with Atlas related questions or suggestions:</p>
                                    <table class="overlay-table">
                                        <tr class="overlay-table">
                                            <td class="overlay-table">Amanda Miller</td>
                                            <td class="overlay-table">206.265.7550</td>
                                            <td class="overlay-table"><a href="mailto:weeksa@amgen.com?subject=Atlas support request" target="_blank"><img class="email" src="/static/img/emailicon.png" title="Send an email to Amanda" width="18" height="18"></a></td>
                                        </tr>
                                        <tr class="overlay-table">
                                            <td class="overlay-table">Keith Kendrick</td>
                                            <td class="overlay-table">206.265.7464</td>
                                            <td class="overlay-table"><a href="mailto:kkendric@amgen.com?subject=Atlas support request" target="_blank"><img class="email" src="/static/img/emailicon.png" title="Send an email to Keith" width="18" height="18"></a></td>
                                        </tr>
                                        <tr class="overlay-table">
                                            <td class="overlay-table">Andy Sundberg</td>
                                            <td class="overlay-table">805.447.6401</td>
                                            <td class="overlay-table"><a href="mailto:sundberg@amgen.com?subject=Atlas support request" target="_blank"><img class="email" src="/static/img/emailicon.png" title="Send an email to Andy" width="18" height="18"></a></td>
                                        </tr>
                                    </table>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- detail container -->

            <div class="grid-wrapper">
                    <!-- HOVER STATE INFORMATION -->
                    <div id="hover-container">
                        <div id="hover-notch" class ="hover-notch"></div>
                        <div id="leftColumn">
                            <div class="moleculeName-hover" id="molecule-name"></div>
                            <div id="alternate-names"></div>
                            <div id="molecule-illustration"><img/></div>
                        </div>
                        <div class="hover-view" id="meta-container-hover">
                            <div class="meta-pair-hover">
                                <div id="pstformed-hover" class="meta-label">PST Formed</div>
                                <div id="pstformed" class="meta-field"></div>
                            </div>
                            <div class="meta-pair-hover">
                                <div class="meta-label">Class</div>
                                <div id="class1" class="meta-field"></div>
                                <div id="class2" class="meta-field"></div>
                                <div id="class3" class="meta-field"></div>
                            </div>
                            <div class="meta-pair-hover">
                                <div class="meta-label">Modality</div>
                                <div id="modality" class="meta-field"></div>
                            </div>
                            <div class="meta-pair-hover">
                                <div class="meta-label">Extinction Coeff</div>
                                <div id="extinctioncoeff" class="meta-field"></div>
                            </div>
                           <div class="meta-pair-hover">
                                <div class="meta-label">Peptide Mw</div>
                                <div id="peptidemw" class="meta-field"></div>
                            </div>
                            <div class="meta-pair-hover">
                                <div class="meta-label">PI</div>
                                <div id="pi" class="meta-field"></div>
                            </div>
                        </div>
                        <div id="hover-notch-bottom" class ="hover-notch-bottom"></div>
                    </div> <!-- HOVER --> 
                </div> <!-- GRID -->
                 <div id="footer"></div>
                 <!-- GRAPH -->
                <div id="graph-wrapper">
                    <div id="menuY" class="graphMenu">
                        <div id="y-label" class="graphMenu-label"></div>
                        <div id="menuY-carrot" class="graphMenu-label">▾</div>
                        <div class="menu-container">
                           <!--- <div id="yPST" class="graphMenu-item y">Date of PST</div> -->
                            <div id="yPI" class="graphMenu-item y selected">PI</div>
                            <div id="yExt" class="graphMenu-item y">Extinct Coeff</div>
                            <div id="yMw" class="graphMenu-item y">Peptide Mw</div>
                            <div id="yPH" class="graphMenu-item y">pH</div>
                        </div>
                    </div>
                    <div id="graph-container">
                    </div>
                    <div id="menuX" class="graphMenu">
                        <div class="menu-container" id="menu-container-x">
                            <!--- <div id="xPST" class="graphMenu-item x">Date of PST</div>-->
                            <div id="xPI" class="graphMenu-item x">PI</div>
                            <div id="xExt" class="graphMenu-item x selected">Extinct Coeff</div>
                            <div id="xMw" class="graphMenu-item x">Peptide Mw</div>
                            <div id="xPH" class="graphMenu-item x">pH</div>
                        </div>
                        <div id="x-label" class="graphMenu-label"></div>
                        <div id="menuX-carrot" class="graphMenu-label">▾</div>
                    </div>
                    </div>
                </div><!-- GRAPH -->
            </div><!-- GRID-WRAPPER -->
        </div> <!-- SITE WRAP -->

        <div id="dialog" title="Atlas &mdash; a PD Molecule Web Application">
                <!-- INFO OVERLAY -->
                <!-- Note: Jquery Dialog needs "autofucos" attribute on first element to prevent scrolling to link -->
                <p class="boldP" autofocus>Quick Facts</p>
                <ul class="overlay-ul">
                    <li>Atlas is an internal Amgen web application designed to provide scientific staff and management with efficient access to important molecule information.</li>
                    <li>Atlas was developed as an innovative replacement for Molecule Summary Reports, which had been created and managed by the Analytical Sciences group in Process &amp; Product Development (P&amp;PD); its development occurred as part of the P&amp;PD Design Thinking program.</li>
                    <li>Version 1.0 (published:  2015-03-01) contains a collection of important molecule information for more than 40 molecules that have gone through Process Development at Amgen over the past decade.</li>
                </ul>
                <br>
                <p class="boldP">A Very Brief Project History</p>
                <p>In 2013, a few P&amp;PD staff learned that a few P&amp;PD leaders were disturbed by the fact that Molecule Summary Reports - important sources of molecule information - were not being created and maintained properly.  A project team self-organized and got the support of P&amp;PD Management to use Design Thinking to address the Molecule Summary Report (MSR) issue.</p>
                <p>In early 2014, with an eye toward the P&amp;PD Innovation Summit, and inspired by the <a class="resourceLink" href="https://www.youtube.com/watch?v=QRH8eimU_20" target="_blank">Apple Knowledge Navigator video</a>, the MSR project team partnered with Christian Marc Schmidt of <a class="resourceLink" href="https://www.schemadesign.com/" target="_blank">Schema Design</a> to develop a vision of what Molecule Summary Reports (or their replacement) might look like in a decade or two. Christian (IDEO, Microsoft) has expertise in interface design and data visualization. Combining that with our team's scientific expertise, we created a prototype web application and shared it via Surface Pro tablets at the Summit.</p>
                <p>Following an enthusiastic response to <a class="resourceLink" href="https://www.schemadesign.com/#amgen-molecule-vision" target="_blank">our vision work</a>, we secured funding from P&amp;PD Management to create version 1 of the application we envisioned &mdash; Atlas.</p>
                <br>
                <p class="boldP">Project Team</p>
                <p class="overlay-text-header">Amgen</p>
                <ul class="overlay-ul">
                    <li>Phil Campbell</li>
                    <li>Scott Freeman</li>
                    <li>Sheila Kingrey-Gebe</li>
                    <li>Keith Kendrick</li>
                    <li>Tom Kowski</li>
                    <li>Amanda Miller</li>
                    <li>Edith Nalbandian</li>
                    <li>Danielle Pace</li>
                    <li>Christina Pastula</li>
                    <li>Jake Weller</li>
                </ul>               
                <br>
                <p class="overlay-text-header">Schema</p>
                <ul class="overlay-ul">
                    <li>Christian Marc Schmidt</li>
                    <li>Natalie Siderius</li>
                    <li>Sergei Larionov</li>
                </ul> 
                <br>
                <p class="boldP">Contact with Atlas related questions or suggestions</p>
                <table class="overlay-table">
                    <tr class="overlay-table">
                        <td class="overlay-table">Amanda Miller</td>
                        <td class="overlay-table">206.265.7550</td>
                        <td class="overlay-table"><a href="mailto:weeksa@amgen.com?subject=Atlas support request" target="_blank"><img class="email" src="/static/img/emailicon.png" title="Send an email to Amanda" width="18" height="18"></a></td>
                    </tr>
                    <tr class="overlay-table">
                        <td class="overlay-table">Keith Kendrick</td>
                        <td class="overlay-table">206.265.7464</td>
                        <td class="overlay-table"><a href="mailto:kkendric@amgen.com?subject=Atlas support request" target="_blank"><img class="email" src="/static/img/emailicon.png" title="Send an email to Keith" width="18" height="18"></a></td>
                    </tr>
                    <tr class="overlay-table">
                        <td class="overlay-table">Andy Sundberg</td>
                        <td class="overlay-table">805.447.6401</td>
                        <td class="overlay-table"><a href="mailto:sundberg@amgen.com?subject=Atlas support request" target="_blank"><img class="email" src="/static/img/emailicon.png" title="Send an email to Andy" width="18" height="18"></a></td>
                    </tr>
                </table>
                <div id="resourceContent">
                    <p class="boldP">Coming Soon!</p>
                    <p>Tutorial: Some use-scenarios to get you started.</p>
                    <br>
                    <p class="boldP">Additional Resources</p>
                    <ul class="overlay-ul">
                        <li><a class="resourceLink" href="http://edmquality.amgen.com/" target="_blank">EDM Quality</a><br>The above link opens EDM Quality in a new window.</li>
                        <li><a class="resourceLink" href="http://edmteams.amgen.com/" target="_blank">EDM Teams</a><br>The above link opens EDM Teams in a new window.</li>
                        <li><a class="resourceLink" href="https://myteams.amgen.com/sites/PDPP/default.aspx" target="_blank">Pipeline Projects MyTeams page</a><br>Site for information about active molecule projects.</li>
                        <li><a class="resourceLink" href="https://myteams.amgen.com/sites/PPDDSD/PPDAS/default.aspx" target="_blank">Analytical Sciences</a><br>Legacy MyTeams site that has links to EDM Teams folders containing Molecule Summary Reports.</li>
                        <li><a class="resourceLink" href="http://insightviewer.amgen.com/I4V/" target="_blank">Insight Viewer</a><br>Site for regulatory filing documents.</li>
                    </ul>
                    <p>(note - this section will be improved and expanded in future versions of Atlas)</p>
                </div>
        </div> <!-- INFO OVERLAY -->        

        <!--<script src="js/vendor/modernizr-2.6.2.min.js"></script>-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="/static/js/vendor/jquery-1.10.2.min.js"></script>
        <script src="/static/js/vendor/jquery-ui.min.js"></script>
        <script src="/static/js/vendor/isotope.pkgd.min.js"></script>
        <script src="/static/js/vendor/d3.min.js"></script>
        <script src="/static/js/vendor/packery-mode.pkgd.min.js"></script>
        <script src="/static/js/plugins.js"></script>
        <script src="/static/js/data.js"></script>
        <script src="/static/js/main.js"></script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-62644707-1', 'auto');
          ga('send', 'pageview');

        </script>
    </body>
</html>
