/* @override 
	http://localhost:9080/stylesheets/module/header-bar.css */

.container-fluid.container-full-width {
	padding-right: 15px;
	padding-left: 0;
	max-width: 100%;
}

.navbar-default {
	min-height: var(--navbar-height-mobile);
	height: var(--navbar-height-mobile);
	border-bottom-style: none;
	font-size: 18px;
}

@media (min-width: 768px) {
	.navbar-default {
		height: var(--navbar-height-tablet);
		font-size: 24px;
	}
}

#page .navbar-default {
	transition: width 400ms ease-in-out, left 400ms ease-in-out, background-color 400ms ease-in-out, box-shadow 400ms ease-in-out;
}

.header-shadow {
	box-shadow: var(--box-shadow);
}

.background-color-bg {
	background-color: var(--color-background);
}

/* @group Navbar Brand */

.navbar-default .navbar-brand-container {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	overflow: hidden;
	width: 100%;
	height: var(--navbar-height-mobile);
	text-align: center;
}

@media (min-width: 768px) {
	.navbar-default .navbar-brand-container {
		height: var(--navbar-height-tablet);
	}
}

.navbar-default .navbar-brand {
	display: inline-block;
	float: none;
	margin-right: 0;
	margin-left: 15px !important;
	padding: 15px 0;
	max-width: calc(100% - (42px * 4)); /* width of 2 icons on each side of header */
	font-weight: 600;
	transition: transform 400ms ease-in-out;
}

.navbar-default .navbar-brand-arrays {
	height: var(--navbar-height-mobile);
	text-transform: capitalize;
	letter-spacing: 10px;
	font-size: 17px;
}

@media (min-width: 768px) {
	.navbar-default .navbar-brand {
		padding-top: 22px;
		padding-bottom: 22px;
		height: var(--navbar-height-tablet);
		font-size: 20px;
	}
}

/* Truncate array title with gradient not working well */
/*.navbar-default .navbar-brand-array-title::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	display: block;
	width: 25px;
	background: linear-gradient(to right, rgba(249, 250, 249, 0) 0%, #f9faf9 100%);
	content: "";
	opacity: 0;
	transition: opacity 400ms ease-in-out;
}

.array-controls-pinned .navbar-default .navbar-brand-array-title::after {
	opacity: 1;
}*/

.navbar-default .navbar-brand-array-title {
	overflow: hidden;
	height: auto;
	text-overflow: ellipsis;
	white-space: nowrap;
	transform: translate(0, 100%);
}

/* @end Navbar Brand */

/* @group Pinned */

.array-controls-pinned .navbar-default {
	background-color: var(--color-background);
	box-shadow: var(--box-shadow);
}

.array-controls-pinned .navbar-brand-arrays {
	transform: translate(0, -100%);
}

.array-controls-pinned .navbar-brand-array-title {
	transform: translate(0, -100%);
}

.array-controls-pinned .navbar-default .navbar-nav > .open > a,
.array-controls-pinned .navbar-default .navbar-nav > .open > a:hover,
.array-controls-pinned .navbar-default .navbar-nav > .open > a:focus {
	background-color: transparent;
	color: #000000;
	transition: color 400ms ease-in-out;
}

/* @end pinned */

/* @group Filter active */

@media (max-width: 767px) {
	.sidebar-filter-active {
		position: absolute;
		top: 10px;
		right: 10px;
		display: block;
		width: 11px;
		height: 11px;
		border-width: 2px;
		border-style: solid;
		border-color: #ffffff;
		border-radius: 1000px;
	}
}

.array-controls-pinned #navbar .active .sidebar-filter-slide-toggle {
	background-color: transparent;
	color: #000000;
	transition: color 400ms ease-in-out;
}

/* @end Filter active*/

/* @group Dropdown */

#page .dropdown-menu {
	border-radius: 4px;
	box-shadow: var(--box-shadow);
}

#page .navbar .dropdown-menu {
	margin-top: 6px;
}

.navbar-nav > li > a {
	padding: 15px 10px;
}

.navbar-nav > li > a [class^="icon-"] {
	font-size: 18px;
}

.navbar-nav > li > a .user {
	padding-right: 10px;
	font-size: 18px;
}

@media (min-width: 768px) {
	.navbar-nav > li > a {
		padding: 20px;
	}

	.navbar-nav > li > a [class^="icon-"] {
		font-size: 24px;
	}
}

.navbar-nav .open .dropdown-menu > li > a {
	padding: 13px 20px;
	font-size: 20px;
}

.navbar-nav .open .dropdown-menu > li > a [class^="icon-"] {
	position: relative;
	top: 1px;
	margin-right: 15px;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	color: #000000;
}

/*
body:not(.array-controls-pinned) .navbar-default.background-color-brand .navbar-nav > .open > a,
body:not(.array-controls-pinned) .navbar-default.background-color-brand .navbar-nav > .open > a:hover,
body:not(.array-controls-pinned) .navbar-default.background-color-brand .navbar-nav > .open > a:focus {
	color: #ffffff;
}
*/

.navbar-nav .open .dropdown-menu > li > a:hover .color-brand,
.navbar-nav .open .dropdown-menu > li > a:focus .color-brand,
.navbar-nav .open .dropdown-menu > li > a:active .color-brand,
.navbar-nav .open .dropdown-menu > li.active > a .color-brand {
	color: #ffffff;
}

/* @end Dropdown */

/* @group Back button */

.navbar-nav > li > a.navbar-back {
	color: var(--color-text-med);
}

.navbar-back-label {
	position: relative;
	bottom: 2px;
	display: inline-block;
	margin-left: 5px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
	font-size: 18px;
}

/* @end back button */

/* @group Team Logo */

#page .navbar-brand-team-logo {
	padding-top: 10px;
	padding-bottom: 10px;
	height: 100%;
}

.navbar-brand-team-logo img {
	display: inline;
	max-height: 100%;
}

/* @end Team Logo */


.user-initial-nav {
	margin-right: 10px;
	height: 50px;
	width: 30px;
}

.user-initial {
	display: block;
	position: absolute;
	background-color: #000000;
	vertical-align: middle;
	text-align: center;
	line-height: 30px;
	height: 30px;
	width: 30px;
	left: 0px;
	bottom: 10px;
	border-radius: 100%;
}

.navbar-nav .dropdown > a .user-initial {
	color: #FFFFFF;
}


@media (min-width: 768px) {
	.user-initial-nav {
		margin-right: 20px;
		margin-left: 20px;
		height: 64px;
		width: 38px;
	}

	.user-initial {
		height: 38px;
		width: 38px;
		line-height: 38px;
		bottom: 13px;
	}
}

/* scroll magic content color */
.array-controls-pinned .icon-filter,
.array-controls-pinned .icon-filter:hover,
.array-controls-pinned .navbar-nav > li .dropdown-toggle,
.array-controls-pinned .dropdown-toggle span,
.array-controls-pinned .dropdown-toggle.user-initial-nav span,
.array-controls-pinned .dropdown-toggle span:hover,
.array-controls-pinned .navbar-brand-container .navbar-brand
{
    color: #000000;
}

.array-controls-pinned .navbar-nav .dropdown > a,
.array-controls-pinned .navbar-nav .dropdown > a span,
.array-controls-pinned .sidebar-filter-slide-toggle span,
.array-controls-pinned .navbar-brand-container .navbar-brand
{
    color: #000000;
}

.array-controls-pinned .navbar-nav .dropdown > a .user-initial,
.dropdown.open > a .user-initial,
.array-controls-pinned .dropdown.open > a .user-initial {
  color: #FFFFFF;
}

.array-controls-pinned .dropdown.open > a,
.array-controls-pinned .dropdown.open > a span,
.array-controls-pinned li.active > .sidebar-filter-slide-toggle span
{
    color: #000000;
}
/* User Conversion Header Replicated From Webflow Site */

.w-nav {
  display: block;
  top: 0px;
  width: 100%;
  height: 64px;
  z-index: 1000;
  position: relative;
}

.w-bottom-shadow {
	box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.2);
}

.w-container {
  width: 100%;
  position: fixed;
  top: 0px;
  height: 64px;
  background-color: #FFFFFF;
  z-index: 1000;
}

.w-logo {
  padding-left: 10px;
}

.w-logo img {
  position: absolute;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

.w-nav-burger {
  float: right;
}

.w-burger-menu {
  display: block;
  line-height: 64px;
  vertical-align: middle;
  font-size: 24px;
  padding-left: 15px;
  padding-right: 15px;
  color: #333;
  background-color: #FFF;
  height: 64px;
}

.w-burger-menu:focus,
.w-burger-menu:hover {
  color: #333;
}

.w-burger-menu i {
  margin-left: 0.2em;
}

.w-burger-menu.open {
  color: #FFF;
  background-color: #333;
}

.w-nav-overlay {
  display: block;
  overflow: hidden;
  position: fixed;
  top: 64px;
  left: 0;
  width: 100%;
  background-color: #333;
  z-index: 5000;
}

.w-nav-overlay .mobile-nav-menu {
  max-height: 0;
  transition: all 125ms linear;
}

.w-nav-overlay.open .mobile-nav-menu {
  padding-top: 7px;
  padding-bottom: 7px;
  max-height: 300px;
  transition: max-height 125ms linear;
}

.w-mobile-link {
  display: block;
  width: 100%;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  height: 50px;
  font-size: 18px;
  font-weight: 300;
  color: #FFF;
  background-color: #333;
}

.w-mobile-link:hover,
.w-mobile-link:focus {
  color: #FFF;
  text-decoration: none;
}

.w-nav-list {
  display: none;
}

@media (min-width: 768px) {
  .w-nav-overlay {
    display: none;
  }
  
  .w-nav-burger {
    display: none;
  }

  .w-logo {
    padding-left: 15px;
  }

  .w-nav-list {
    display: block;
    float: right;
    padding-right: 15px;
    list-style: none;
    line-height: 64px;
    vertical-align: middle;
  }

  .w-nav-list li {
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
  }

  .w-nav-link {
    font-size: 18px;
    /*font-family: var(--font-family-calibre);*/
    font-family: 'Calibre', sans-serif;
    font-weight: 500;
    color: #333;
    transition: color 150ms ease;
  }

  .w-nav-link:hover,
  .w-nav-link:focus {
    text-decoration: none;
    color: #FEB600;
    transition: color 150ms ease;
  }

  .w-nav-list .signup-container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .w-nav-link.nav-link-signup {
    border: 1px solid #FEB600;
    padding: 7px 20px;
    border-radius: 20px;
  }

  .w-nav-link.nav-link-signup:hover,
  .w-nav-link.nav-link-signup:focus {
    color: #333;
  }
}