/* @override
	http://localhost:9080/stylesheets/module/header-bar.css */

.container-fluid.container-full-width {
	padding-right: 15px;
	padding-left: 0;
	max-width: 100%;
}

.navbar-default {
	min-height: var(--navbar-height-mobile);
	height: var(--navbar-height-mobile);
	border-bottom-style: none;
	font-size: 18px;
}

@media (min-width: 768px) {
	.navbar-default {
		height: var(--navbar-height-tablet);
		font-size: 24px;
	}
}

#page .navbar-default {
	transition: width 400ms ease-in-out, left 400ms ease-in-out, background-color 400ms ease-in-out, box-shadow 400ms ease-in-out;
}

.header-shadow {
	box-shadow: var(--box-shadow);
}

.background-color-bg {
	background-color: var(--color-background);
}

/* @group Navbar Brand */

.navbar-default .navbar-brand-container {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	overflow: hidden;
	width: 100%;
	height: var(--navbar-height-mobile);
	text-align: center;
}

@media (min-width: 768px) {
	.navbar-default .navbar-brand-container {
		height: var(--navbar-height-tablet);
	}
}

.navbar-default .navbar-brand {
	display: inline-block;
	float: none;
	margin-right: 0;
	/*margin-left: 15px !important;*/
	margin-left: 0px !important;
	padding: 15px 0;
	max-width: calc(100% - (42px * 4)); /* width of 2 icons on each side of header */
	font-weight: 600;
	transition: transform 400ms ease-in-out;
}

.navbar-default .navbar-brand-arrays {
	height: var(--navbar-height-mobile);
	text-transform: capitalize;
	font-size: 17px;
}

.navbar-default .navbar-brand-arrays.navbar-brand-stacked-logo {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-left: 5px !important;
}

.navbar-default .navbar-brand-arrays.navbar-brand-stacked-logo svg {
	position: relative;
	fill: #000;
	top: 13px;
	width: 22px;
	height: 24px;
}

.light-text .navbar-brand-arrays.navbar-brand-stacked-logo svg {
	fill: #FFF;
}

@media (min-width: 768px) {
	.navbar-default .navbar-brand {
		padding-top: 22px;
		padding-bottom: 22px;
		height: var(--navbar-height-tablet);
		font-size: 20px;
	}

	.navbar-default .navbar-brand-arrays.navbar-brand-stacked-logo svg {
		top: 17px;
		width: 27.5px;
		height: 30px;
	}
}

/* Truncate array title with gradient not working well */
/*.navbar-default .navbar-brand-array-title::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	display: block;
	width: 25px;
	background: linear-gradient(to right, rgba(249, 250, 249, 0) 0%, #f9faf9 100%);
	content: "";
	opacity: 0;
	transition: opacity 400ms ease-in-out;
}

.array-controls-pinned .navbar-default .navbar-brand-array-title::after {
	opacity: 1;
}*/

.navbar-default .navbar-brand-array-title {
	overflow: hidden;
	height: auto;
	text-overflow: ellipsis;
	white-space: nowrap;
	transform: translate(0, 100%);
}

/* @end Navbar Brand */

/* @group Pinned */

.array-controls-pinned .navbar-default {
	background-color: var(--color-background);
	box-shadow: var(--box-shadow);
}

.array-controls-pinned .navbar-brand-arrays {
	transform: translate(0, -100%);
}

.array-controls-pinned .navbar-brand-array-title {
	transform: translate(0, -100%);
}

.array-controls-pinned .navbar-default .navbar-nav > .open > a,
.array-controls-pinned .navbar-default .navbar-nav > .open > a:hover,
.array-controls-pinned .navbar-default .navbar-nav > .open > a:focus {
	background-color: transparent;
	color: #000000;
	transition: color 400ms ease-in-out;
}

/* @end pinned */

/* @group Filter active */

/* why is this here? */
/*.sidebar-filter-active {
	position: absolute;
	top: 10px;
	right: 10px;
	display: block;
	width: 11px;
	height: 11px;
	border-width: 2px;
	border-style: solid;
	border-radius: 1000px;
}*/

@media (min-width: 768px) {
	.sidebar-filter-active {
		top: 11px;
		right: 23px;
		border-width: 3px;
		height: 13px;
		width: 13px;
	}
}

.light-text .active .sidebar-filter-active {
	border-color: #FFFFFF;
}

.array-controls-pinned #navbar .active .sidebar-filter-active,
.active .sidebar-filter-active {
	background-color: transparent;
	border-color: #000000;
}

.array-controls-pinned .active .sidebar-filter-slide-toggle {
	background-color: transparent;
	color: #000000;
	transition: color 400ms ease-in-out;
}

/* @end Filter active*/

/* @group Dropdown */

#page .dropdown-menu {
	border-radius: 4px;
	box-shadow: var(--box-shadow);
}

#page .navbar .dropdown-menu {
	margin-top: 6px;
}

.navbar-nav > li > a {
	padding: 15px 10px;
}

.navbar-nav > li > a [class^="icon-"] {
	font-size: 18px;
}

.navbar-nav > li > a .user {
	padding-right: 10px;
	font-size: 18px;
}

@media (min-width: 768px) {
	.navbar-nav > li > a {
		padding: 20px;
	}

	.navbar-nav > li > a [class^="icon-"] {
		font-size: 24px;
	}
}

.navbar-nav .open .dropdown-menu > li > a {
	padding: 13px 20px;
	font-size: 20px;
}

.navbar-nav .open .dropdown-menu > li > a [class^="icon-"] {
	position: relative;
	top: 1px;
	margin-right: 15px;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	color: #000000;
}

/*
body:not(.array-controls-pinned) .navbar-default.background-color-brand .navbar-nav > .open > a,
body:not(.array-controls-pinned) .navbar-default.background-color-brand .navbar-nav > .open > a:hover,
body:not(.array-controls-pinned) .navbar-default.background-color-brand .navbar-nav > .open > a:focus {
	color: #ffffff;
}
*/

.navbar-nav .open .dropdown-menu > li > a:hover .color-brand,
.navbar-nav .open .dropdown-menu > li > a:focus .color-brand,
.navbar-nav .open .dropdown-menu > li > a:active .color-brand,
.navbar-nav .open .dropdown-menu > li.active > a .color-brand {
	color: #ffffff;
}

/* @end Dropdown */

/* @group Back button */

.navbar-nav > li > a.navbar-back {
	color: var(--color-text-med);
}

.navbar-back-label {
	position: relative;
	bottom: 2px;
	display: inline-block;
	margin-left: 5px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
	font-size: 18px;
}

/* @end back button */

/* @group Team Logo */

#page .navbar-brand-team-logo {
	padding-top: 10px;
	padding-bottom: 10px;
	height: 100%;
}

.navbar-brand-team-logo img {
	display: inline;
	max-height: 100%;
}

/* @end Team Logo */


.user-initial-nav {
    margin-right: 20px;
    margin-left: 20px;
    height: 64px;
    width: 38px;
}

.user-initial {
	display: block;
	position: absolute;
	background-color: #000;
	vertical-align: middle;
	text-align: center;
    height: 32px;
    width: 32px;
    line-height: 32px;
    bottom: 16px;
	left: 0px;
	border-radius: 100%;
	font-size: 18px;
}

.light-text .dropdown .dropdown-toggle .user-initial {
	background-color: #FFF;
	color: #000;
}

.array-controls-pinned .dropdown .dropdown-toggle .user-initial,
.array-controls-pinned .dropdown.open .dropdown-toggle .user-initial {
	background-color: #000;
	color: #FFF;
}

.navbar-nav .dropdown > a .user-initial {
	color: #FFF;
}


/* scroll magic content color */
.array-controls-pinned .icon-filter,
.array-controls-pinned .icon-filter:hover,
.array-controls-pinned .navbar-nav > li .dropdown-toggle,
.array-controls-pinned .dropdown-toggle span,
.array-controls-pinned .dropdown-toggle.user-initial-nav span,
.array-controls-pinned .dropdown-toggle span:hover,
.array-controls-pinned .navbar-brand-container .navbar-brand
{
    color: #000000;
}

.array-controls-pinned .dropdown.open > a,
.array-controls-pinned .dropdown.open > a span,
.array-controls-pinned li.active > .sidebar-filter-slide-toggle span
{
    color: #000000;
}
/* User Conversion Header Replicated From Webflow Site */

.w-nav {
  display: block;
  top: 0px;
  width: 100%;
  height: 64px;
  z-index: 1000;
  position: relative;
}

.w-bottom-shadow {
	box-shadow: 1px 1px 3px 0 rgba(0,0,0,0.2);
}

.w-container {
  width: 100%;
  position: fixed;
  top: 0px;
  height: 64px;
  background-color: #FFFFFF;
  z-index: 1000;
}

.w-logo {
  padding-left: 10px;
}

.w-logo img {
  position: absolute;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

.w-nav-burger {
  position: absolute;
  top: 0;
  right: 0;
}

.w-burger-menu {
  display: block;
  line-height: 64px;
  vertical-align: middle;
  font-size: 24px;
  padding-left: 15px;
  padding-right: 15px;
  color: #333;
  background-color: #FFF;
  height: 64px;
}

.array-burger .w-burger-menu {
	line-height: 50px;
	height: 50px;
	background-color: transparent;
	padding-left: 10px;
	padding-right: 10px;
	color: #000;
}

.light-text .array-burger .w-burger-menu {
	color: #FFF;
}

.array-controls-pinned .array-burger .w-burger-menu {
	color: #000;
}

.array-controls-pinned .array-burger .w-burger-menu.open {
	color: #FFF;
}

.w-burger-menu:focus,
.w-burger-menu:hover {
  color: #333;
}

.w-burger-menu i {
  margin-left: 0.2em;
}

.w-burger-menu.open {
  color: #FFF;
  background-color: #333;
}

.w-nav-overlay {
  display: block;
  overflow: hidden;
  position: fixed;
  top: 64px;
  left: 0;
  width: 100%;
  background-color: #333;
  z-index: 5000;
}

.w-nav-overlay.array-nav-overlay {
	top: 50px;
}

.w-nav-overlay .mobile-nav-menu {
  max-height: 0;
  transition: all 125ms linear;
}

.w-nav-overlay.open .mobile-nav-menu {
  padding-top: 7px;
  padding-bottom: 7px;
  max-height: 420px;
  transition: max-height 125ms linear;
}

.w-mobile-link {
  display: block;
  width: 100%;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  height: 50px;
  font-size: 18px;
  font-weight: 300;
  color: #FFF;
  background-color: #333;
}

.w-mobile-link:hover,
.w-mobile-link:focus {
  color: #FFF;
  text-decoration: none;
}

.w-nav-list {
  display: none;
}

.navbar .hide-mobile,
.w-container .hide-mobile {
  	display: none;
  }

@media (min-width: 768px) {
  .w-nav-overlay {
    display: none;
  }

  .w-nav-burger {
    display: none;
  }

  .w-logo {
    padding-left: 15px;
  }

  .w-nav-list {
    display: block;
    float: right;
    list-style: none;
    line-height: 64px;
    vertical-align: middle;
  }

  .w-nav-list li {
    display: inline;
    padding-left: 20px;
  }

  .w-nav-link {
    font-size: 16px;
    /*font-family: var(--font-family-calibre);*/
    font-family: 'Calibre', sans-serif;
    font-weight: 400;
    color: #333;
    position: relative;
    /*transition: color 150ms ease;*/
  }

  .w-nav-link:hover,
  .w-nav-link:focus {
    text-decoration: none;
    color: #333;
    /*color: #FEB600;
    transition: color 150ms ease;*/
  }

  .w-login-container,
  .w-signup-container {
  	padding: 0;
  	height: 64px;
  }

  .w-signup-container {
  	padding-left: 7px;
  }

 .w-login-container {
  	padding-left: 14px;
  }

   .w-login-container a,
  .w-signup-container a {
  	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
  }


  .navbar .hide-mobile,
  .w-container .hide-mobile {
  	display: block;
  }
}


/* Signup footer */
.signup-footer {
	position: fixed;
	height: 64px;
	width: 100%;
	bottom: -70px;
	border-top: 2px solid #FEB600;
	background-color: #FFF;
	z-index: 1000;
}

.signup-footer a:hover {
	text-decoration: none;
}

.signup-footer ul {
	float: right;
	line-height: 64px;
	vertical-align: middle;
	list-style: none;
	font-family: 'Calibre', sans-serif;
}

.signup-footer ul li {
	display: inline-block;
	padding-left: 30px;
	font-size: 16px;
	color: #333;
}

.signup-footer .arrays-logo img {
	width: 168px;
	height: 28px;
}

.signup-footer .signup-description {
	display: none;
}

@media (max-width: 767px) {
	.signup-footer .signup-link {
		position: relative;
		right: 40px;
	}
}

@media (min-width: 768px) {
	.signup-footer .arrays-logo img {
		width: 210px;
		height: 35px;
	}

	.signup-footer .signup-description {
		display: inline-block;
	}
}

.pill-link,
.w-signup-container .pill-link,
.w-login-container .pill-link {
	font-size: 18px;
	padding: 4px 16px;
	padding-bottom: 6px;
	border: 1px solid #FEB600;
	text-decoration: none;
	cursor: pointer;
	border-radius: 20px;
}

.pill-link:hover,
.pill-link:focus {
	text-decoration: none;
}

.pill-hollow {
	background-color: #FFF;
	color: #333;
	transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
}

.pill-hollow:hover,
.pill-hollow:focus {
	background-color: #FEB600;
	color: #FFF;
	transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
}

.pill-filled {
	background-color: #FEB600;
	color: #333;
	transition: color 200ms ease-in-out;
}

.pill-filled:hover,
.pill-filled:focus {
	color: #FFF;
	transition: color 200ms ease-in-out;
}

#close-signup-footer {
	position: absolute;
	top: 5px;
	right: 10px;
	color: #9B9B9B;
}

#close-signup-footer:hover,
#close-signup-footer:focus {
	text-decoration: none;
}

.signup-footer.show-signup-footer {
	bottom: 0;
	transition: bottom 250ms linear;
}

.signup-footer.close-signup-footer {
	bottom: -70px;
	transition: bottom 250ms linear;
}

.arrays-logo {
	line-height: 64px;
}

.arrays-logo img {
	position: relative;
	left: -6px;
}

.mono-link {
	padding-right: 15px;
}

.array-controls-pinned li.mono-link .pill-link,
.mono-link .pill-link {
	color: #000;
	border-color: #000;
	background: transparent;
	transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
	padding: 4px 16px;
	font-size: 16px;
}

.light-text .mono-link .pill-link {
	color: #FFF;
	border-color: #FFF;
	transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

.navbar-default.light-text li.mono-link .pill-link:hover,
.navbar-default.light-text li.mono-link .pill-link:focus {
	background-color: #FFF;
	color: #000;
	transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

.array-controls-pinned .navbar-default li.mono-link .pill-link:hover,
.array-controls-pinned .navbar-default li.mono-link .pill-link:focus,
.navbar-default li.mono-link .pill-link:hover,
.navbar-default li.mono-link .pill-link:focus {
	background-color: #000;
	color: #FFF;
	transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

.light-text .mono-link .pill-link.pill-filled {
	background-color: #FFF;
	border-color: #FFF;
	color: #000;
}

.array-controls-pinned .mono-link .pill-link.pill-filled,
.mono-link .pill-link.pill-filled {
	background-color: #000;
	border-color: #000;
	color: #FFF;
}

.navbar-right {
	height: 64px;
}

.vert-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.navbar-default .navbar-right .collapsable-links {
	max-width: 340px;
	transition: max-width 400ms ease-in;
	overflow: hidden;
	white-space: nowrap;
	font-size: 16px;
}

.array-controls-pinned .navbar-default .navbar-right .collapsable-links,
.sidebar-filter-in .navbar-default .navbar-right .collapsable-links {
	max-width: 0px;
	transition: max-width 10ms;
}

.navbar .navbar-right .collapsable-links a {
	color: #000;
	font-size: 16px;
	display: inline-block;
}

.light-text .navbar-right .collapsable-links a {
	color: #FFF;
}

.light-text .navbar-nav .dropdown > a,
.light-text .navbar-nav .dropdown > a span,
.light-text .sidebar-filter-slide-toggle span,
.light-text .navbar-brand-container .navbar-brand
{
    color: #FFF;
}
.navbar-nav .dropdown > a,
.array-controls-pinned .navbar-nav .dropdown > a,
.navbar-nav .dropdown > a span,
.array-controls-pinned .navbar-nav .dropdown > a span,
.sidebar-filter-slide-toggle span,
.array-controls-pinned .sidebar-filter-slide-toggle span,
.navbar-brand-container .navbar-brand,
.array-controls-pinned .navbar-brand-container .navbar-brand
{
    color: #000;
}


li.active > .sidebar-filter-slide-toggle span {
    color: #FFF;
}
li.active > .sidebar-filter-slide-toggle .sidebar-filter-active {
	border-color: #FFF;
}
.light-text li.active > .sidebar-filter-slide-toggle span {
	color: #000;
}
.light-text li.active > .sidebar-filter-slide-toggle .sidebar-filter-active {
	border-color: #000;
}

.navbar-right .collapsable-links .link-underline {
    padding: 0px;
    margin: 0 20px;
}

.light-text .collapsable-links .link-underline:hover,
.light-text .collapsable-links .link-underline:focus {
	color: #FFF;
}

.link-underline:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 2px;
    left: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 250ms ease-in-out 0s;
}

.w-nav-link.link-underline:before {
	bottom: 1px;
}


.light-text .link-underline:before {
	background-color: #FFF;
}

.array-controls-pinned .link-underline:before,
.link-underline:before {
	background-color: #000;
}

.link-underline:hover:before,
.active-page.link-underline:before {
	transform: scaleX(1);
    visibility: visible;
}

.header-blank-right .link-underline-container {
	height: 64px;
}

.header-blank-right .link-underline-container .w-nav-link {
	padding: 0;
	cursor: pointer;
	margin: 0 20px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.header-blank-right li.open a,
.header-blank-right li.dropdown a,
.header-blank-right li a:hover,
.header-blank-right li.open a:hover,
.header-blank-right li.open a:focus {
	background-color: transparent;
}

.header-blank-right .w-signup-container a:hover,
.header-blank-right .w-signup-container a:focus,
.header-blank-right .w-login-container a:hover,
.header-blank-right .w-login-container a:focus {
	color: #FFF;
	background-color: #FEB600;
	transition: all 200ms ease;
}

.header-blank-right .w-signup-container {
	margin-right: 16px;
}

.header-blank-right li.open .dropdown-menu {
	margin-top: 6px;
}

.header-blank-link {
	font-size: 18px;
	color: #000;
	transition: color 200ms ease;
}

.header-blank-link.current-page {
	color: #FEB600;
}

.header-blank-link:hover,
.header-blank-link:focus {
	color: #FEB600;
	transition: color 200ms ease;
}

/* #000 && #555 */

.light-text .dropdown .dropdown-toggle .icon-menu,
.light-text .dropdown .dropdown-toggle span {
	color: #FFF;
}
.light-text .dropdown.open .dropdown-toggle .icon-menu,
.light-text .dropdown.open .dropdown-toggle span {
	color: #000;
}

.dropdown .dropdown-toggle .icon-menu,
.array-controls-pinned .dropdown .dropdown-toggle .icon-menu,
.array-controls-pinned .dropdown.open .dropdown-toggle .icon-menu,
.dropdown .dropdown-toggle span,
.array-controls-pinned .dropdown .dropdown-toggle span,
.array-controls-pinned .dropdown.open .dropdown-toggle span {
	color: #000;
}
.dropdown.open .dropdown-toggle .icon-menu,
.dropdown.open .dropdown-toggle span {
	color: #FFF;
}

.navbar-brand-team-logo .team-logo-circle {
	background-size: cover;
	background-position: center;
	height: 36px;
	width: 36px;
	border-radius: 18px;
	position: relative;
	bottom: 3px;
}

@media (min-width: 768px) {
	.navbar-brand-team-logo .team-logo-circle {
		background-size: cover;
		background-position: center;
		height: 44px;
		width: 44px;
		border-radius: 22px;
		bottom: 0px;
	}
}
