<md-content md-no-ink class="array-content" ng-init="init()">

    <input type="file" id="icons" nv-file-select="" uploader="iconsUploader" multiple class="team-uploader">

    <label for="icons" class="md-button md-dashboard primary-action">
        Add Icons
    </label>

    <ul class="dashboard-list user-list" ng-cloak>
        <li ng-repeat="icon in iconsUrl" layout="row" layout-align="none center">
            <div flex="10">
                <img ng-src="{{icon}}" />
            </div>

            <span flex="50">
                <span class="dashboard-list-name">{{icon.split('/').pop()}}</span>
            </span>

            <!-- <span class="dashboard-list-icon warn" ng-click="" aria-hidden="true" aria-label="Delete" flex="5">
                <i class="fa fa-remove" aria-hidden="true"></i>
            </span> -->
        </li>
    </ul>

    <ul class="dashboard-list user-list" ng-cloak>
        <li ng-repeat="item in iconsUploader.queue track by $index" layout="row" layout-align="none center">

            <div flex="10" ng-show="iconsUploader.isHTML5" ng-thumb="{ file: item._file, height: '100' }"></div>

            <span ng-class="{'pending': item.isUploading }" flex="50">
                <span class="dashboard-list-name">{{ item.file.name }}</span>
            </span>

            <div ng-show="iconsUploader.isHTML5" ng-hide="item.isSuccess" class="progress-container" draggable="" flex="50">
                <md-progress-linear md-mode="{{progressMode}}" value="{{item.progress}}"></md-progress-linear>
            </div>

            <span class="dashboard-list-icon warn" ng-click="item.cancel()" ng-hide="!item.isUploading" aria-hidden="true" aria-label="Cancel Upload" flex="5">
                <i class="fa fa-remove" aria-hidden="true"></i>
            </span>
            <!-- <span class="dashboard-list-icon warn" ng-click="item.remove()" ng-hide="item.isUploading" aria-hidden="true" aria-label="Delete" flex="5">
                <i class="fa fa-remove" aria-hidden="true"></i>
            </span> -->

        </li>
    </ul>

</md-content>
