<md-content md-no-ink class="array-content">
<form name="vm.websiteForm" ng-submit="submitForm()" novalidate>
   <md-input-container class="md-block" flex="50">
       <label>Title</label>
       <input required name="title" ng-model="team.title" maxlength="48">
       <div ng-messages="vm.websiteForm.title.$error">
           <div ng-message="required">This is required.</div>
       </div>
   </md-input-container>

   <md-input-container class="md-block" flex="50">
       <label>Description</label>
       <textarea name="description" ng-model="team.description"></textarea>
   </md-input-container>

    <div layout="row">
       <md-input-container flex="50">
           <label>Subdomain</label>
           <input value="{{team.subdomain}}.arrays.co" disabled><!--ng-model="team.subdomain" -->
       </md-input-container>
       <!-- <span>.arrays.co.arrays.co</span> -->
   </div>

   <div layout="row" layout-align="end center">
       <md-button class="md-dashboard confirm" type="submit" ng-disabled="vm.websiteForm.$invalid || !vm.websiteForm.$dirty">
           <span class="btn-label">Save Settings</span>
       </md-button>
   </div>

   <div class="team-images" layout="column" layout-gt-sm="row">
    <div flex="40">
        <label>Team Logo</label>
        <div>
            <img class="img-responsive team-logo" ng-if="team.logo" ng-src="{{team.logo}}">
        </div>

        <input type="file" id="team_logo" nv-file-select="" uploader="logoUploader" class="team-uploader">

        <div class="team-image-actions" layout="row" layout-align="start center">
            <label for="team_logo" class="md-button md-dashboard" ng-class="{'disabled': logoUploader.getNotUploadedItems().length}">
                {{team.logo ? 'Update' : 'Add'}}
            </label>
            <span><a href="" ng-click="deleteFile(team.logo)" class="warn">Remove</a></span>
        </div>
    </div>
    <div flex="10"></div>
    <div flex="40">
        <label>Team Masthead</label>
        <div>
            <img class="img-responsive team-header" ng-if="team.logo_header" ng-src="{{team.logo_header}}">
        </div>
        {{team}}

        <input type="file" id="team_logo_header" nv-file-select="" uploader="logo_headerUploader" class="team-uploader">

        <div class="team-image-actions" layout="row" layout-align="start center">
            <label for="team_logo_header" class="md-button md-dashboard" ng-class="{'disabled': logo_headerUploader.getNotUploadedItems().length}">
                {{team.logo_header ? 'Update' : 'Add'}}
            </label>
            <span><a href="" class="warn">Remove</a></span>
        </div>
    </div>


</div>

</form>
</md-content>
