
.icon-chart:before { content: '\e800'; } /* '' */
.icon-check-off:before { content: '\e801'; } /* '' */
.icon-check-on:before { content: '\e802'; } /* '' */
.icon-close-big:before { content: '\e803'; } /* '' */
.icon-close-filterpill:before { content: '\e804'; } /* '' */
.icon-expand:before { content: '\e805'; } /* '' */
.icon-filter:before { content: '\e806'; } /* '' */
.icon-legend:before { content: '\e807'; } /* '' */
.icon-gallery:before { content: '\e808'; } /* '' */
.icon-menu:before { content: '\e809'; } /* '' */
.icon-search:before { content: '\e80a'; } /* '' */
.icon-sort-ascending:before { content: '\e80b'; } /* '' */
.icon-sort-descending:before { content: '\e80c'; } /* '' */
.icon-back:before { content: '\e80d'; } /* '' */
.icon-globe:before { content: '\e80e'; } /* '' */
.icon-scatterplot:before { content: '\e80f'; } /* '' */
.icon-facebook:before { content: '\e810'; } /* '' */
.icon-twitter:before { content: '\e811'; } /* '' */
.icon-instagram:before { content: '\e812'; } /* '' */
.icon-tile-blank:before { content: '\e813'; } /* '' */
.icon-tile-null:before { content: '\e814'; } /* '' */
.icon-tile-deceased:before { content: '\e815'; } /* '' */
.icon-tile-female:before { content: '\e816'; } /* '' */
.icon-tile-male:before { content: '\e817'; } /* '' */
.icon-timeline:before { content: '\e818'; } /* '' */
.icon-word-cloud:before { content: '\e819'; } /* '' */
.icon-line-graph:before { content: '\e81a'; } /* '' */
.icon-pie-set:before { content: '\e81b'; } /* '' */
.icon-bar-chart:before { content: '\e81c'; } /* '' */
.icon-bars-v:before { content: '\e81d'; } /* '' */
.icon-bars-h:before { content: '\e81e'; } /* '' */
.icon-map:before { content: '\e81f'; } /* '' */
.icon-percent:before { content: '\e820'; } /* '' */
.icon-pound:before { content: '\e821'; } /* '' */