@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?28715387');
  src: url('../font/fontello.eot?28715387#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?28715387') format('woff2'),
       url('../font/fontello.woff?28715387') format('woff'),
       url('../font/fontello.ttf?28715387') format('truetype'),
       url('../font/fontello.svg?28715387#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?28715387#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-chart:before { content: '\e800'; } /* '' */
.icon-check-off:before { content: '\e801'; } /* '' */
.icon-check-on:before { content: '\e802'; } /* '' */
.icon-close-big:before { content: '\e803'; } /* '' */
.icon-close-filterpill:before { content: '\e804'; } /* '' */
.icon-expand:before { content: '\e805'; } /* '' */
.icon-filter:before { content: '\e806'; } /* '' */
.icon-legend:before { content: '\e807'; } /* '' */
.icon-gallery:before { content: '\e808'; } /* '' */
.icon-menu:before { content: '\e809'; } /* '' */
.icon-search:before { content: '\e80a'; } /* '' */
.icon-sort-ascending:before { content: '\e80b'; } /* '' */
.icon-sort-descending:before { content: '\e80c'; } /* '' */
.icon-back:before { content: '\e80d'; } /* '' */
.icon-globe:before { content: '\e80e'; } /* '' */
.icon-scatterplot:before { content: '\e80f'; } /* '' */
.icon-facebook:before { content: '\e810'; } /* '' */
.icon-twitter:before { content: '\e811'; } /* '' */
.icon-instagram:before { content: '\e812'; } /* '' */
.icon-tile-blank:before { content: '\e813'; } /* '' */
.icon-tile-null:before { content: '\e814'; } /* '' */
.icon-tile-deceased:before { content: '\e815'; } /* '' */
.icon-tile-female:before { content: '\e816'; } /* '' */
.icon-tile-male:before { content: '\e817'; } /* '' */
.icon-timeline:before { content: '\e818'; } /* '' */
.icon-word-cloud:before { content: '\e819'; } /* '' */
.icon-line-graph:before { content: '\e81a'; } /* '' */
.icon-pie-set:before { content: '\e81b'; } /* '' */
.icon-bar-chart:before { content: '\e81c'; } /* '' */
.icon-bars-v:before { content: '\e81d'; } /* '' */
.icon-bars-h:before { content: '\e81e'; } /* '' */
.icon-map:before { content: '\e81f'; } /* '' */
.icon-perc:before { content: '\e820'; } /* '' */
.icon-pound:before { content: '\e821'; } /* '' */