/* @override 
	http://localhost:9080/stylesheets/clients/isb.css */


[class^="icon-tile-isb-"] {
	display: inline-block;
	min-width: 120px;
	min-height: 120px;
	width: 120px;
	height: 120px;
	background-size: contain;
}

.icon-tile-isb-brain {
	background-image: url(/images/clients/isb/brain.svg);
}

.icon-tile-isb-cancers {
	background-image: url(/images/clients/isb/cancer.svg);
}

.icon-tile-isb-cell-dynamics {
	background-image: url(/images/clients/isb/cell.svg);
}

.icon-tile-isb-computational-biology {
	background-image: url(/images/clients/isb/compbio.svg);
}

.icon-tile-isb-environment {
	background-image: url(/images/clients/isb/environment.svg);
}

.icon-tile-isb-infectious-disease {
	background-image: url(/images/clients/isb/infectious.svg);
}

.icon-tile-isb-p4-medicine {
	background-image: url(/images/clients/isb/p4med.svg);
}

.icon-tile-isb-proteomics {
	background-image: url(/images/clients/isb/proteometrics.svg);
}

/* @group Quantity Queries */

.gallery-item-text-inner [class^="icon-tile-isb-"]:nth-last-child(n+2),
.gallery-item-text-inner [class^="icon-tile-isb-"]:nth-last-child(n+2) ~ span {
	margin-right: 8px;
	min-width: 90px;
	min-height: 90px;
	width: 90px;
	height: 90px;
}

.gallery-item-text-inner [class^="icon-tile-isb-"]:nth-last-child(n+2) ~ span:last-child {
	margin-right: 0;
}

.gallery-item-text-inner [class^="icon-tile-isb-"]:nth-last-child(n+3),
.gallery-item-text-inner [class^="icon-tile-isb-"]:nth-last-child(n+3) ~ span {
	margin-right: 4px;
	min-width: 60px;
	min-height: 60px;
	width: 60px;
	height: 60px;
}

.gallery-item-text-inner [class^="icon-tile-isb-"]:nth-last-child(n+3) ~ span:last-child {
	margin-right: 0;
}

/* @end Quantity Queries */

/* @group Object Show */

.object-header-icons span {
	margin-right: 15px;
}

/* @end Object Show */

/* @group Custom Navbar Color */

.source-isb_library-r1 .navbar-default,
.source-ISB_keyword_frequency-r1 .navbar-default {
	background-color: #4a4a4a;
}

.source-isb_library-r1.array-controls-pinned .navbar-default,
.source-ISB_keyword_frequency-r1.array-controls-pinned .navbar-default {
	background-color: white;
}

/* @end Custom Navbar Color */