{% extends "../layout/create.html" %}

{% block headSuffix %}
    <title>Arrays - {{ team.title }}</title>
{% endblock %}

{% set currentView = "team-show" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">

                <section class="section section-array-create section-team-show">
                    <form id="form-source" class="form-source">

                        <header class="section-header">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h2 class="section-title">{{ team.title }}</h2>
                                </div>
                            </div><!-- .row -->
                        </header>

                        {% if sources | length %}
                        <ul class="team-list">

                            {% for source in sources %}
                            {% if source.arrayListed %}
                            <li class="team-list-item">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="source_key" value="{{ source.key }}" class="hidden">
                                        <input type="hidden" name="default_filterJSON" value="{{ source.default_filterJSON }}" class="hidden">
                                        <input type="hidden" name="default_view" value="{{ source.default_view }}" class="hidden">
                                        <div class="panel panel-default panel-source source-{{ source.key }} js-panel-array">
                                            {% if source.brandColor %}
                                                <style scoped>
                                                    .source-{{ source.key }} .color-brand,
                                                    .source-{{ source.key }} a.color-brand:hover,
                                                    .source-{{ source.key }} a.color-brand:focus,
                                                    .source-{{ source.key }} a.color-brand:active {
                                                        color: {{ source.brandColor }};
                                                    }
                                                </style>
                                            {% endif %}
                                            <div class="panel-body border-top-color-brand">
                                                <h2 class="panel-body-title">{{ source.title }}</h2>
                                                <div class="panel-body-meta">
                                                    <div>
                                                        <a class="panel-view-array color-brand">View Array</a>
                                                    </div>
                                                    {% set comma = joiner() %}
                                                    {% for url in source.urls -%}
                                                      {{ comma() }} <a href="{{ url }}" class="source-link" target="_blank">{{ url }}</a>
                                                    {%- endfor %}
                                                    <span class="source-divider hidden-xs"></span>
                                                    <span class="source-count hidden-xs">{{ source.sourceDoc.numberOfRows | comma }} Record{{ "s" if source.sourceDoc.numberOfRows != 1 else "" }}</span>
                                                    <span class="source-divider hidden-xs"></span>
                                                    <span class="source-updated hidden-xs">Last Updated {{ source.sourceDoc.dateOfLastImport | dateFormattedAs_monthDayYear }}</span>
                                                </div>
                                                <p class="panel-body-description">{{ source.description }}</p>
                                            </div>
                                        </div><!-- .panel -->
                                    </label>
                                </div><!-- .radio -->
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </form>
                </section>

            </div>
        </div><!-- .row -->
    </div>
{% endblock %}