/* @override 
	http://localhost:9080/stylesheets/base/header-bar.css */

.container-fluid.container-full-width {
	max-width: 100%;
}

.navbar-default {
	font-size: 24px;
}

.navbar-default .navbar-brand {
	position: absolute;
	top: 0;
	left: 0;
	margin: auto;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 10px;
	font-weight: bold;
	font-size: 24px;
}