/* @override 
	http://localhost:9080/stylesheets/base/variables.css */

:root {
	--color-primary: #feb600;
	
	--color-background: #fafafa;
	
	--color-text-med: #4a4a4a;
	--color-text-light: #9b9b9b;
	
	--color-sidebar-bg: #4a4a4a;
	--color-sidebar-fg: #272727;
	--color-sort-bar-border: #d8d8d8;
	--color-sort-bar-label: #9b9b9b;
	
	--color-shadow: #d8d8d8;
	--color-divider: #d8d8d8;
	
	--sidebar-width: 285px;
}

.color-brand,
a.color-brand:hover,
a.color-brand:focus,
a.color-brand:active {
	color: var(--color-primary);
}

.background-color-brand {
	background-color: var(--color-primary);
}