/* @override 
	http://localhost:9080/stylesheets/base/variables.css */

:root {
	--color-primary: #feb600;
	
	--color-brand-blue: #005cff;
	
	--color-background: #fafafa;
	
	--color-text-med: #4a4a4a;
	--color-text-light: #9b9b9b;
	
	--color-sidebar-bg: #4a4a4a;
	--color-sidebar-fg: #272727;
	--color-sort-bar-border: #d8d8d8;
	--color-sort-bar-label: #9b9b9b;
	
	--color-shadow: #d8d8d8;
	--color-divider: #d8d8d8;
	
	--sidebar-width: 280px;
}

/* @group Primary Color */

.color-brand,
a.color-brand:hover,
a.color-brand:focus,
a.color-brand:active {
	color: var(--color-primary);
}

.background-color-brand,
.background-color-brand-hover:hover,
.background-color-brand-hover:hover > a {
	background-color: var(--color-primary) !important;
}

/* @end Primary Color */

/* @group Blue */

.brand-blue .color-brand,
.brand-blue a.color-brand:hover,
.brand-blue a.color-brand:focus,
.brand-blue a.color-brand:active {
	color: var(--color-brand-blue);
}

.brand-blue .background-color-brand,
.brand-blue .background-color-brand-hover:hover,
.brand-blue .background-color-brand-hover:hover > a {
	background-color: var(--color-brand-blue);
}

/* @end  Blue */