/* @override 
	http://localhost:9080/stylesheets/base/variables.css */

:root {
	--color-primary: #feb600;
	
	--color-brand-blue: #005cff;
	
	--color-background: #fafafa;
	
	--color-text-med: #4a4a4a;
	--color-text-light: #9b9b9b;
	--color-text-ultralight: #c3c3c3;
	
	--color-sidebar-bg: #4a4a4a;
	--color-sidebar-fg: #272727;
	--color-sort-bar-border: #d8d8d8;
	--color-sort-bar-label: #9b9b9b;
	
	--color-shadow: #d8d8d8;
	--color-divider: #d8d8d8;
	
	--sidebar-width: 280px;
	
	--box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	--box-shadow-dark: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* @group Primary Color */

.color-brand,
a.color-brand:hover,
a.color-brand:focus,
a.color-brand:active {
	color: var(--color-primary);
}

.background-color-brand,
.background-color-brand-hover:hover,
.background-color-brand-hover:focus,
.background-color-brand-hover:active,
.background-color-brand-hover > a:hover,
.background-color-brand-hover > a:focus,
.background-color-brand-hover > a:active {
	background-color: var(--color-primary);
}

.border-color-brand {
	border-color: var(--color-primary);
}

.border-top-color-brand {
	border-top-color: var(--color-primary);
}

/* @end Primary Color */

/* @group Blue */

.source-moma_artists-r1 .color-brand,
.source-moma_artists-r1 a.color-brand:hover,
.source-moma_artists-r1 a.color-brand:focus,
.source-moma_artists-r1 a.color-brand:active {
	color: var(--color-brand-blue);
}

.source-moma_artists-r1 .background-color-brand,
.source-moma_artists-r1 .background-color-brand-hover:hover,
.source-moma_artists-r1 .background-color-brand-hover:focus,
.source-moma_artists-r1 .background-color-brand-hover:active,
.source-moma_artists-r1 .background-color-brand-hover > a:hover,
.source-moma_artists-r1 .background-color-brand-hover > a:focus,
.source-moma_artists-r1 .background-color-brand-hover > a:active {
	background-color: var(--color-brand-blue);
}

.source-moma_artists-r1 .border-color-brand {
	border-color: var(--color-brand-blue);
}

.source-moma_artists-r1 .border-top-color-brand {
	border-top-color: var(--color-brand-blue);
}

/* @end  Blue */