<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        {% include "../partials/base_header.html" %}

        {% block headSuffix %}{% endblock %}
    </head>

    <body class="array array-{{ currentView }}">
        {% include "../partials/auth0.html" %}

        <div id="page" class="site">
            {% include "../partials/header_bar_blank.html" %}

            <div id="content" class="site-content">
                {% block content %}}{% endblock %}
            </div><!-- #content -->

            {% include "../partials/footer.html" %}
        </div><!-- #page -->

        {% include "../partials/survicate.html" %}

        <script type="text/javascript" src="/vendors/bootstrap/bootstrap.js"></script>
        <script type="text/javascript" src="/javascripts/main.js"></script>
    </body>

    {% if env.FE_LIVERELOAD == "true" %}
    <script src="//localhost:35729/livereload.js"></script>
    {% endif %}
</html>