<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        {% include "../partials/base_header.html" %}

        {% block headSuffix %}{% endblock %}
    </head>

    <body class="object-show source-{{ array_source_key }} {{ "view-embedded" if embedded == "true" }}">
        <div id="page" class="site">
            {% include "../partials/header_bar_objectDetails.html" %}
            {% include "../partials/sidebar_filter.html" %}

            <div id="content" class="site-content">

                {% block content %}{% endblock %}

            </div><!-- #content -->

            {% block footer %}{% endblock %}
        </div><!-- #page -->

        {% include "../partials/modal.html" %}

        {% block inlineScript %}
            <script type="text/javascript" src="/javascripts/vendors/bootstrap/bootstrap.js"></script>
            <script type="text/javascript" src="/javascripts/vendors/sharrre/jquery.sharrre.js"></script>
            <script type="text/javascript" src="/javascripts/main.js"></script>
        {% endblock %}

        {% include "../partials/survicate.html" %}
    </body>

    {% if env.FE_LIVERELOAD == "true" %}
    <script src="//localhost:35729/livereload.js"></script>
    {% endif %}
</html>