/* @override 
	http://localhost:9080/stylesheets/module/array-create.css */
	
.array-create {
	background-color: var(--color-background);
}

.section-array-create {
	margin-bottom: 50px;
}

.section-array-create .section-header {
	margin-bottom: 40px;
	padding-top: 40px;
	padding-bottom: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: var(--color-divider);
}

.section-array-create .section-title {
	margin-top: 0;
	text-align: center;
	font-weight: bold;
	font-size: 42px;
}

.panel-source {
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	overflow: hidden;
	margin-bottom: 10px;
	border-radius: 2px;
	box-shadow: var(--box-shadow);
}

.panel-view-array {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
	line-height: 24px;
}

@media (min-width: 768px) {
	.panel-view-array {
		font-size: 16px;
	}
}

.panel-view-array:hover {
	text-decoration: underline;
}

@media (min-width: 768px) {
	.panel-source {
		margin-bottom: 20px;
	}
}

.panel-source .panel-body {
	padding: 15px;
	color: black;
	overflow-x: hidden;
}

@media (min-width: 768px) {
	.panel-source .panel-body {
		padding: 30px;
	}
}

.panel-source .panel-body-title {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: bold;
	font-size: 24px;
}

@media (min-width: 768px) {
	.panel-source .panel-body-title {
		font-size: 42px;
	}
}

.form-source .radio label {
	padding-left: 0;
	width: 100%;
}

.section-array-create .panel-source:hover {
	border-color: #9b9b9b;
}

.section-array-create .panel-body-meta {
	margin-top: 5px;
	margin-bottom: 5px;
	color: var(--color-text-light);
	font-size: 18px;
}

.section-array-create .panel-body-meta:hover ~ a {
	text-decoration: none;
}

.source-link,
.source-link:hover,
.source-link:focus,
.source-link:active {
	color: var(--color-text-light);
}

.source-divider:before {
	padding-right: 0.25em;
	padding-left: 0.25em;
	content: "|";
}

.panel-source .panel-body-description {
	color: var(--color-text-dark);
	font-size: 16px;
	line-height: 24px;
}

@media (min-width: 768px) {
	.panel-source .panel-body-description {
		font-size: 20px;
		line-height: 26px;
	}
}

.panel-source .panel-body-description:last-child {
	margin-bottom: 0;
}

/*.form-source input[type="radio"]:checked + .panel-source {
	border-color: #9b9b9b;
}*/

/*.form-source input[type="radio"]:checked + .panel-source:after {
	position: absolute;
	top: 15px;
	right: 15px;
	display: block;
	padding-top: 4px;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background-color: #9b9b9b;
	color: white;
	content: "\e013";
	text-align: center;
	font-size: 16px;
	font-family: "Glyphicons Halflings";
}*/

/**
* Collapsible array-description
*/

.array-description-wrapper {
    width: 90%;
    margin: 15px auto 0;
}

@media (min-width: 768px) {
    .array-description-wrapper {
        width: 60%;
    }
}

.array-description, .array-description-full {
    text-align: center;
    margin-right: 10px;
    font-size: 20px;
    font-family: georgia;
    line-height: 30px;
}

.array-description {
    display: inline;
}

.array-description-full {
    display: none;
}

.array-description-expand, .array-description-collapse {
    font-size: 18px;
    display: inline;
    color: #feb600;
    cursor: pointer;
}

.array-description-expand:hover, .array-description-collapse:focus {
    color: #b27f00;
    text-decoration: underline;
}

.array-description-collapse { 
    display: none;
}