<div class="omb_login modal fade" role="dialog" id="user-modal" ng-app="arraysApp" ng-controller="signupCtrl">
   <div class="modal-dialog modal-sm">
      <div class="modal-content">
         <div class="modal-header">

                <div class="splash-logo">
                        <img src="/images/arrays-logo-color-shapes.svg" class="img-responsive" alt="Arrays logo" />
                    </div> 


            <ul class="nav nav-tabs" role="tablist">
                <li class="col-xs-6 omb_authTitle" ng-class="{'active': currentTab=='Login'}"><a ng-click="currentTab='Login'" role="tab" data-toggle="tab">LOG IN</a></li>
                <li class="col-xs-6 omb_authTitle" ng-class="{'active': currentTab=='Signup'}" ><a ng-click="currentTab='Signup'" role="tab" data-toogle="tab">SIGN UP</a></li>

            </ul>

         </div>

            
         <div class="tab-content modal-body">
                {% include "./login.html" %}  
         </div>
        
      </div>
   </div>
</div>