<nav class="admin-sidebar">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a href="/array">Public Website</a></li>
        <li role="presentation" class="<$ 'active' if currentView[0] == 'account' $>"><a href="/admin/account">Account Settings</a></li>
        <li role="presentation" class="<$ 'active' if currentView[0] == 'website' $>"><a href="/admin/website">Website Settings</a></li>
        <li role="presentation" class="<$ 'active' if currentView[0] == 'dataset' $>"><a href="/admin/dataset">Dataset Settings</a></li>
        <li role="presentation" class="<$ 'active' if currentView[0] == 'users' $>"><a href="/admin/users">Manage Users</a></li>
    </ul>
</nav>