/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
    width: 100%;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #D3D3D3;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: #f1f1f3;
    font-weight: normal;
    height: 100%;
    width: 100%;
}

#filters-container::-webkit-scrollbar { width: 0px; }
#filters-container::-webkit-scrollbar-thumb { background: #000; }
#filters-container::-webkit-scrollbar-thumb:hover { background: #666; }

div {
    display: block;
}

ul {
    float:left;
    margin:0;
    padding:0;
    list-style: none;
}

li {
    list-style: none;
}

a:link, a:visited, a:active { 
    text-decoration: none;
    color: #000;
}
a:hover {
    text-decoration: underline;
    text-decoration-color: #000;
    color: #000;
}

/* fonts */

@font-face{
font-family:"FoundryGridnik W01-Medium";
src:url("../fonts/1285556/1c876919-30c3-46d3-bd82-d98cf48cf2c3.eot?#iefix");
src:url("../fonts/1285556/1c876919-30c3-46d3-bd82-d98cf48cf2c3.eot?#iefix") format("eot"),url("../fonts/1285556/e166cc28-0998-4899-95b7-a7e10c43f5b4.woff") format("woff"),url("../fonts/1285556/e5fe4185-5567-4a59-92fb-932786fb141a.ttf") format("truetype"),url("../fonts/1285556/5ddb0f27-0297-4e63-b19c-1e2023265466.svg#5ddb0f27-0297-4e63-b19c-1e2023265466") format("svg");
}
@font-face{
font-family:"FoundryGridnik W01-Bold";
src:url("../fonts/1285576/3696ce95-c23b-4f6b-ae28-1d4e7631f4fc.eot?#iefix");
src:url("../fonts/1285576/3696ce95-c23b-4f6b-ae28-1d4e7631f4fc.eot?#iefix") format("eot"),url("../fonts/1285576/0d827898-51c9-48a0-bf34-c57fb408256d.woff") format("woff"),url("../fonts/1285576/4d313a6d-3220-4933-854e-1b622cd2f68e.ttf") format("truetype"),url("../fonts/1285576/2445bf5b-00ec-4d10-9846-9e1373a2cde6.svg#2445bf5b-00ec-4d10-9846-9e1373a2cde6") format("svg");
}

/* filters */

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

#filters-container {
    z-index:3;
    position:fixed;
    margin-left:-185px;
    width:185px;
    height:100%;
    background-color:#404041;
    float:left;
    overflow-y:scroll;
    overflow-x:hidden;
    font-size: 14px;
    font-family: "FoundryGridnik W01-Medium";
}

#category-container {
    z-index:0;
    margin-left:-1px;
    width:185px;
}

.filter {
    z-index:1;
    width: 155px;
    min-height:19px;
    padding-left: 20px;
    padding-top: 11px;
    padding-right: 15px;
    padding-bottom: 11px;
    margin-bottom: -1px;
    background-color: black;
    border-style: solid;
    border-width: 1px;
    border-color: #232323;
    color: #999;
    float:left;
    line-height: 110%;
}
.filter-category {
    z-index:1;
    width: 177px;
    height:30px;
    padding-left: 20px;
    padding-top: 11px;
    margin-bottom:-1px;
    border-style:solid;
    border-width:1px;
    border-color:#4b4b4c;
    font-size: 14px;
    font-family: "FoundryGridnik W01-Medium";
    color: #ffffff;
    float:left;
}

.filter.selected, .filter.selected:hover, .filter-category.selected {
    font-family: "FoundryGridnik W01-Bold";
    color:white;
}

.filter-category:hover {
    cursor:pointer;
}

#legend-monoclonal {
    background: url(../img/legend_monoclonal.png) no-repeat;
}

.filter:hover > #legend-monoclonal, .filter.selected #legend-monoclonal {
    background: url(../img/legend_monoclonal_active.png) no-repeat;
}

#legend-adc{
    background: url(../img/legend_adc.png) no-repeat;
}

.filter:hover > #legend-adc, .filter.selected #legend-adc {
    background: url(../img/legend_adc_active.png) no-repeat;
}

#legend-fusion{
    background: url(../img/legend_fusion.png) no-repeat;
}

.filter:hover > #legend-fusion, .filter.selected #legend-fusion {
    background: url(../img/legend_fusion_active.png) no-repeat;
}

#legend-bite{
    background: url(../img/legend_bite.png) no-repeat;
}

.filter:hover > #legend-bite, .filter.selected #legend-bite{
    background: url(../img/legend_bite_active.png) no-repeat;
}

#legend-bispecific{
    background: url(../img/legend_bispecific.png) no-repeat;
}

.filter:hover > #legend-bispecific, .filter.selected #legend-bispecific{
    background: url(../img/legend_bispecific_active.png) no-repeat;
}

#legend-monoclonal, .filter:hover #legend-monoclonal, .filter.selected #legend-monoclonal,  
#legend-adc, .filter:hover #legend-adc, .filter.selected #legend-adc,
#legend-fusion, .filter:hover #legend-fusion, .filter.selected #legend-fusion,
#legend-bispecific, .filter:hover #legend-bispecific, .filter.selected #legend-bispecific,
#legend-bite, .filter:hover #legend-bite, .filter.selected #legend-bite   {
    z-index:2;
    width: 32px;
    height: 24px;
    background-size: 100% 100%;
    float: left;
    margin-left: -5px;
    margin-right: 10px;
    margin-top: -2px;
}

.filter:hover, .filter.selected:hover {
    z-index:1;
    width: 155px;
    min-height:19px;
    padding-left: 20px;
    padding-top: 11px;
    padding-right: 15px;
    padding-bottom: 11px;
    margin-bottom:-1px;
    background-color:#7c7c7c;
    border-width:1px;
    border-color:#7c7d7f;
    font-size: 14px;
    color: white;
    float:left;
    cursor:pointer;
}
.filter:hover {
    font-family: "FoundryGridnik W01-Medium";
}


#igg1-circle {
    background-color:#af4799;
}

#igg2-circle {
    background-color:#49c3d5;
}

#igg4-circle {
    background-color:#7ec142;
}

#kappalc-circle {
    background-color:#744e9e;
}

#lambdalc-circle {
    background-color:#3894a2;
}

#cd3-circle {
    background-color:#e24552;
}

#cd3hsa-circle {
    background-color:#ef6a3d;
}

#cd3fc-circle {
    background-color:#ddce12;
}

.circle {
    width: 14px;
    height: 14px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px; 
    z-index:2;
    background-size: 100% 100%;
    float: left;
    margin-left: 3px;
    margin-right: 20px;
    margin-top: 0px;
}

/* header changes to alternate detail view nav during detail view */

#detailview_header {
    z-index: 6;
    width: 100%;
    height: 40px;
    float: center;
    position: fixed;
    background: white;
    display:none;
}

#nav-items {
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    height: 30px;
    padding-top: 8px;
    text-align: center;
}

.detailnav-item {
    z-index: 1;
    font-family: "FoundryGridnik W01-Medium";
    font-size: 14px;
    color: black;
    margin: 20px;
    display: inline;
    position: relative;
}

.detailnav-item:hover {
    z-index: 1;
    font-family: "FoundryGridnik W01-Medium";
    font-size: 14px;
    color: #7c7c7c;
    margin: 20px;
    display: inline;
    text-decoration: none;
    cursor: pointer;
}

#detailexit-button {
    z-index: 3;
    width: 14px;
    height: 14px;
    background: url(../img/exitbutton.png) no-repeat;
    background-size: 100% 100%;
    float: left;
    margin-left: 15px;
    margin-top: 13px;
    cursor: pointer;
    position: relative;
}

#detailexit-button:hover {
    z-index: 4;
    width: 14px;
    height: 14px;
    background: url(../img/exitbutton_hover.png) no-repeat;
    background-size: 100% 100%;
    float: left;
    margin-left: 15px;
    margin-top: 13px;
    cursor: pointer;
    position: relative;
}


/* fixed header nav bar on homepage (not in detail view) */


.header {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 40px;
    margin-left: 0px;
    margin-right: 0px;
    background: white;
    transition: margin-left 0.3s;
}

.header .container {
    height: 0;
    position: fixed;
    width: 100%;
    right: 0;
}

#navbar_title {
    z-index: -1;
    position: absolute;
    width: 100%;
    font-size: 15px;
    font-family: "FoundryGridnik W01-Bold";
    text-align: center;
    float: left;
    margin: 0 auto;
    padding-top: 10px;
    height: 0;
}

#navbar_title2 {
    z-index: -1;
    position: absolute;
    font-size: 15px;
    font-family: "FoundryGridnik W01-Medium";
    padding-top: 10px;
    color: #e24552;
    margin-left: 120px;
}


/* sort by menu */

#sortby-menu {
    width: 200px;
    height: 40px;
    font-size: 15px;
    font-family: "FoundryGridnik W01-Medium";
    text-align: left;
    padding-right: 6px;
    padding-top: 10px;
    float: right;
}

.sortby-item_selected, .sortby-label {
    position: relative;
    float:left;
    color:#231f20;
    padding-right:4px;
    height: 28px;
    cursor:pointer;
}

.sortby-item {
    display: none;
    position: relative;
    background-color: black;
    width: 160px;
    height: 32px;
    font-size: 15px;
    font-family: "FoundryGridnik W01-Medium";
    text-align: left;
    color: #999;
    padding-left: 17px;
    padding-top: 10px;
    float: left;
    cursor:pointer;
}
.sortby-item.selected, .sortby-item.selected:hover {
    font-family: "FoundryGridnik W01-Bold";
    color: white;
}

.sortby-item:hover {
    display: block;
    position: relative;
    background-color: #7c7c7c;
    width: 160px;
    height: 32px;
    font-size: 15px;
    font-family: "FoundryGridnik W01-Medium";
    text-align: left;
    color: white;
    padding-left: 17px;
    padding-top: 10px;
    float: left;
}

/* switch order, ascending/descending, button */

#switch-order-button {
    width: 16px;
    height: 15px;
    float: right;
    margin-right: 15px;
    margin-top: 13px;
    cursor: pointer;
}

.descending {
    background: url(../img/descending_active.png) no-repeat;
    background-size: 100% 100%;
}

.descending:active {
    background: url(../img/descending_hover.png) no-repeat;
    background-size: 100% 100%;
}

.ascending {
    background: url(../img/ascending_active.png) no-repeat;
    background-size: 100% 100%;
}

.ascending:active {
    background: url(../img/ascending_hover.png) no-repeat;
    background-size: 100% 100%;
}

/* search bar */

.ui-autocomplete {
    height: 267px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#infoButton {
    float: right;
    width: 20px;
    height: 20px;
    background: url(../img/infoButton.png) no-repeat;
    background-size: 100% 100%;
    margin-top: 10px;
    margin-right: 15px;
    cursor: pointer;
}

#infoButton:hover {
    float: right;
    width: 20px;
    height: 20px;
    background: url(../img/infoButtonHover.png) no-repeat;
    background-size: 100% 100%;
    margin-top: 10px;
    margin-right: 15px;
}

#search-container {
    -webkit-backface-visibility: hidden;
    float: right;
}

#search {
    border: none;
    outline: none;
    background-color:#f1f1f3;
    width: 185px;
    height: 23px;
    margin-right: 15px;
    padding-left: 30px;
    padding-top: 3px;
    margin-top: 6px;
    float: right;
    color: black;
}

#search, .ui-menu, #search-carrot {
    font-family: "FoundryGridnik W01-Medium";
    font-size: 15px;
}

#search-icon {
    position: absolute;
    width: 15px;
    height: 15px;
    background: url(../img/SearchIcon.png) no-repeat;
    background-size: 100% 100%;
    margin-left:8px;
    margin-top:13px;
}

#search-carrot {
    position: fixed;
    text-align: right;
    margin: 0;
    margin-right: 30px;
    height: 10px;
    width: 10px;
}

.ui-menu {
    background: none;
    list-style: none;
    padding: 0;
    margin: 0;
    position: fixed;
    margin-right: 15px;
    float:right;
    width:215px;
    background-color: black;
    border: none;
    color: #999;
}

.ui-menu .ui-menu {
    margin-top: 0px;
    background: none;
    color: #999;
    border: none;
    width:215px;
}

.ui-menu .ui-menu-item {
    margin:0;
    margin-right: 15px;
    padding: 10px;
    padding-left: 15px;
    width: 191px;
    background: none;
    border: none;
    color: #999;
}

.ui-menu .ui-menu-item:hover {
    background-color: #7c7c7c;
    color: white;
}

.ui-menu .ui-menu-item a {
    text-decoration:none;
    display:block;
    padding:0;
    line-height:1.5;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    margin: 0;
    background: none;
}


input[type="submit"].search-submit {
    display: none;
}

input:focus {
    outline: none;
}

#search-dropdown {
    z-index: 2;
    width: 205px;
    color: black;
}

#search-carrot {
    position: absolute;
    width: 15px;
    height: 15px;
    margin-right: 30px;
    margin-left: 192px;
    margin-top: 8px;
    text-align: right;
}

#search-carrot:hover{
    cursor: pointer;
}

.search-item {
    font-family: "FoundryGridnik W01-Medium";
    font-size: 15px;
    color: #999;
    width: 198px;
    float: left;
    background-color: black;
    padding-left: 17px;
    padding-top: 10px;
    height: 32px;
    display:none;
}

.search-item:hover {
    font-family: "FoundryGridnik W01-Medium";
    font-size: 15px;
    color: white;
    width: 198px;
    float: left;
    background-color: #7c7c7c;
    padding-left: 17px;
    padding-top: 10px;
    height: 32px;
    display:none;
    cursor: pointer;
}

.search-item.selected {
    font-family: "FoundryGridnik W01-Bold";
    color: white;
}

.ui-widget-content .ui-state-focus {
    background-color: #7c7c7c;
    color: white;
}

/* sitewrap holds contents of grid (tiles) and grid header */

.site-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    z-index: 1;
    background-color:#f1f1f3;
    /*overflow-x: hidden;*/
}

/* filters button */

.nav-trigger {
    position: absolute;
    top: 13px;
    left: 15px;
    z-index: 3;
    width: 17px;
    height: 17px;
    background: url(../img/FiltersButton.png) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    transition: left 0.3s;
}

.nav-trigger:hover {
    background: url(../img/FiltersButton_Hover.png) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

#gridIcon {
    position: absolute;
    top: 13px;
    left: 50px;
    z-index: 5;
    width: 20px;
    height: 20px;
    background-size: 80% 80%;
    cursor: pointer;
}

.gridOn {
    background: url(../img/gridIcon.png) no-repeat;
}

.gridOff {
    background: url(../img/gridIcon-hover.png) no-repeat;
}


#graphIcon {
    position: absolute;
    top: 13px;
    left: 85px;
    z-index: 5;
    width: 20px;
    height: 20px;
    background-size: 80% 80%;
    cursor: pointer;
}

.graphOn {
   background: url(../img/graphIcon.png) no-repeat;
}


.graphOff {
    background: url(../img/graphIcon-hover.png) no-repeat;
}


.nav-trigger:checked + label {
    left: 200px;
}

.nav-trigger:checked ~ .site-wrap {
    left: 185px;
}


.nav-trigger + label, .site-wrap {
    transition: left 0.3s;
}

/* grid header holds the display results i.e. "All molecules" */

#grid-header{
    z-index: 1;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    background-color:#f1f1f3;
}

.display_results {
    max-width: 100%;
    padding: 0px;
    padding-top: 25px;
    margin: 0px;
}

#breadcrumb-container {
    position: relative;
    width: 90%;
    padding-right: 100px;
    padding-bottom: 25px;
}

#breadcrumb {
    font-size: 28px;
    font-family: "FoundryGridnik W01-Medium";
    font-weight: normal;
    position: relative;
}

#breadcrumb-text {
    display: inline;
    color: #231f20;
}

#number_result  {
    font-size: 14px;
    font-family: "FoundryGridnik W01-Medium";
    font-weight: normal;
    text-align: right;
    color: #6d6e70;
    position: absolute;
    top:75px;
    right:50px;
    width: 100%;
}

#clear-filters {
    z-index: 5;
    width: 14px;
    height: 14px;
    background: url(../img/exitbutton.png) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    position: relative;
    display: inline-block;
    visibility: hidden;
    margin-left: 10px;
}

#clear-filters:hover {
    background: url(../img/exitbutton_hover.png) no-repeat;
}


/* grid holds the tiles */

.grid {
    z-index: 10;
    margin-left: 40px;
    margin-right: 40px;
    opacity: 1.0;
}


.tile {
    height: 180px;
    width: 180px;
    border-style: solid;
    border-width: 1px;
    border-color: #e6e7e8;
    margin: 0px;
    padding: 20px;
    background-color:#f1f1f3;
    position: absolute;
    cursor: pointer;
    -webkit-transition: background-color 0.15s ease-in-out;
    -moz-transition: background-color 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out;
}

.tileTransform { 
    background-color: transparent;
    border-color: transparent;
    height: 0px;
    width: 0px; 
    margin: 20px;
    padding: 0px;   
   /* -webkit-transition: left 1s, top 1s,  width 1s, height 1s, opacity .25s ease-in-out;
    -moz-transition: left 1s, top 1s, width 1s, height 1s, opacity .25s ease-in-out;
    transition: left 1s, top 1s, width 1s, height 1s, opacity .25s ease-in-out; */
    -webkit-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    transition:  opacity .25s ease-in-out; 
    z-index: 0;
}

.tile.tileTransform.smallHover {
    z-index: 10;
    opacity: 1.0;
}

.tile.hover, .tile.selected {
    border-style: solid;
    border-width: 1px;
    border-color: #A9A8A8;
    margin: 0px;
    padding: 20px;
    background-color: #fff;
    -webkit-transition: background-color 0.15s ease-in-out;
    -moz-transition: background-color 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out;
}
.tile.selected {
    border-bottom: none;
    height: 181px;
}


.tile_icon {
    display: block;
    margin: -3% auto 0;
   /* margin-left: 37px;
    margin-top: 30px;
    margin-bottom: 47px;*/
    width: 100%; /*
    -webkit-transition: width 1s, height 1s;
    -moz-transition: width 1s, height 1s;
    transition: width 1s, height 1s; */
}


.tile_icon.graphMargins {
    margin-left: 18px;
    margin-top: 15px;
    margin-bottom: 23px;
}

.iconScale {
    width: 34px;
}

.tile_name {
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 10px;
    left: 15px;
    font-size: 15px;
    font-family: "FoundryGridnik W01-Bold";
    color: #231f20;
}

/* detail view */

#fileLink {
    font-size: 15px;
    font-family: "FoundryGridnik W01-Medium";
    color: #999;
    text-decoration: underline;
    display: inline;
}

#fileLink:hover {
    font-size: 15px;
    font-family: "FoundryGridnik W01-Medium";
    color: #777;
    text-decoration: underline;
    display: inline;
}


#detail-container #leftColumn {
    float: left;
    padding: 30px 5%;
    position: absolute;
    width: 30%;
    z-index: 5;
}

#detail-container {
    display: none;
    z-index: 5;
    background-color:#f1f1f3;
    border-style: solid;
    border-width: 1px;
    border-color: #A9A8A8;
    height: auto;
    min-height: 900px;
    padding-top: 0;
    position: relative;
}

#detail-container::after {
    content: "";
    display: table;
    clear: both;
}

#detail-container #hover-notch {
    background: url(../img/hovernotch-gray.png) no-repeat;
    margin-top: 0;
    position: absolute;
    top: -15px;
}

#fields-container {
    background: #fff;
    border-left: 1px solid #A9A8A8;
    vertical-align: top;
    display: block;
    float: right;
    width: 65%;
    z-index: 6;
}

.detail-content {
    margin: 0 auto 50px;
    min-height: 900px;
    width: 90%;
}

.tab-content {
    display: none;
    margin: 0 auto;
    max-width: 660px;
}

.tab-content.current {
    display: inherit;
}
#sequence-01 {
    display: block;
}

.detail-tabs-menu {
    background: #e6e7e8;
    clear: both;
    height: 80px;
    margin-bottom: 60px;
    width: 100%;
}

.detail-tabs-menu li {
    display: table;
    float: left;
    height: 100%;
    text-align: center;
    width: 25%;
}

.detail-tabs-menu li.current {
   position: relative;
   z-index: 5;
}

.detail-tabs-menu li a {
    background: #fff;
    cursor: pointer;
    display: table-cell;
    font-family: "FoundryGridnik W01-Medium";
    font-size: 15px;
    height: 100%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    vertical-align: middle;
    transition: background 0.25s ease-in-out;
}

.detail-tabs-menu li a:hover {
    text-decoration: none;
}

.detail-tabs-menu li a.inactive:hover {
    background: #ddd;
    text-decoration: none;
    transition: background 0.25s ease-in-out;
}

.detail-tabs-menu li a.inactive {
    background: transparent;
}

.detail-subtitle {
    color: #000096;
    font-family: "FoundryGridnik W01-Medium";
    font-size: 22px;
    padding: 25px 0;
}

.detail-title {
    font-family: "FoundryGridnik W01-Medium";
    font-size: 24px;
    padding-bottom: 10px;
    color: #49c3d5;
}

.detail-field {
    font-family: "FoundryGridnik W01-Medium";
    font-size: 16px;
    color: #58595b;
    margin-bottom: 25px;
    max-width: 675px;
    line-height: 130%;
}

#summary-text {
    margin-bottom: 5px;
    line-height: 130%;
}

.shadow {
    opacity: .3;
}

#lightchainfield, #heavychainfield {
    font-family: "FoundryGridnik W01-Medium";
    color: #777777;
    font-size: 16px;
    border: none;
    width: 600px;
    padding: 5px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    cursor: pointer;
}


#lightchainfield:active, #heavychainfield:active {
    font-family: "FoundryGridnik W01-Medium";
    font-size: 16px;
    box-shadow: none;
}

.copysequence {
    font-family: "FoundryGridnik W01-Bold";
    font-size: 16px;
    color: #777777;
}

#sequence_image {
    overflow-x: scroll;
    padding-right: 20px;
    margin: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#sequence_legend {
    margin-bottom: 10px;
}

table, th, td {
    font-family: "FoundryGridnik W01-Medium";
    font-size: 16px;
    color: #58595b;
    border: 1px solid #6d6e71;
    text-align: left;
    height: 37px;
    padding-left: 20px;
    padding-right: 25px;
    width: 600px;
    overflow: none;
    line-height: 120%;
}

table {
    margin-bottom: 30px;
}

th {
    color: black;    
    font-family: "FoundryGridnik W01-Bold";
    font-weight: normal;
}

/* hover container shows hover information for tile */
#hover-container {
    display: none;
    z-index: 7;
    position: absolute;
    height: 373px;
    width: 595px;
    padding: 35px;
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #A9A8A8;
    pointer-events: none;
}

#hover-notch {
    z-index: 0;
    width: 33px;
    height: 22px;
    margin-top: -50px;
    margin-left: 225px;
    background: url(../img/hovernotch.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
    pointer-events: none;
}

#hover-notch-bottom {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    z-index: 0;
    width: 33px;
    height: 22px;
    margin-top: 260px;
    margin-left: 225px;
    background: url(../img/hovernotch.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
    pointer-events: none;
}

#hover-container #leftColumn {
    margin-top: 30px;
    position: absolute;
    width: 35%;
    z-index: 5;
    margin-left: 10px;
    margin-top: 28px;
    width: 60%;
}

#molecule-name, #detail-molecule-name {
    position: relative;
    width: 480px;
    height: 30px;
    padding-top: 0;
    font-family: "FoundryGridnik W01-Bold";
    font-size: 26px;
    color: black;
}

#molecule-name {
    height: auto;
    width: 100%;
}

#alternate-names, #detail-alternate-names {
    position: relative;
    width: 300px;
    padding-top: 5px;
    margin:0;
    font-family: "FoundryGridnik W01-Medium";
    font-size: 14px;
    color: #6d6e70;
}

#alternate-names {
    padding-bottom: 8px;
    padding-top: 0;
}

#molecule-illustration, #detail-molecule-illustration {
    position: relative;
    width: 296px;
    height: 273px;
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
    margin-right: 39px;
}

#detail-molecule-illustration {
    height: auto;
    margin: 30px 15px 0 0;
    width: 75%;
}

#molecule-illustration img, #detail-molecule-illustration img {
    height: 100%;
}

#detail-molecule-illustration img {
    max-width: 450px;
    width: 100%;
}

/* meta container shows the fields of meta information on hover state */

.hover-view, .detail-view { /* meta container*/
    width: 130px;
    display: inline-block;
    vertical-align: top;
}

.detail-view {
    margin-top: 30px;
}

.meta-label {
    font-family: "FoundryGridnik W01-Bold";
    font-size: 14px;
    color: black;
    margin: 0;
    width: 130px;
}

#meta-container {
    width: 100%;
    height: auto;
    z-index: 5;
}

#meta-container-hover {
    width: 110px;
    height: 145px;
    z-index: 5;
    margin-left: 408px;
    margin-top: 30px;
    padding-top: 23px;
}

.meta-field {
    font-family: "FoundryGridnik W01-Medium";
    font-size: 14px;
    color: #6d6e70;
    margin: 0;
    line-height: 125%;
}

.meta-pair-hover {
    padding-bottom: 15px;
}

.meta-pair {
    padding-bottom: 18px;
}

#pstformed-hover, .moleculeName-hover {
    padding-top: 10px;
}

#class1 {
    width: 30px;
    padding-right: 6px;
}

#class2 {
    max-width: 80px;
}

.na {
    color: #BEBEBF;
}

/* add padding below */

#footer {
    position: relative;
    width: 100%;
    height: 40px;
    float: left;
}


/* isotope */

.isotope {
    background: #DDD;
    max-width: 1200px;
  }

  /* clear fix */
.isotope:after {
    content: '';
    display: block;
    clear: both;
}


  /* colors */

.igg1-color {
    color: #af4799;
}

.igg2-color {
    color: #49c3d5;
}

.igg4-color {
    color: #7ec142;
}

.kappa-color {
    color: #744e9e;
}

.lambda-color {
    color: #3894a2;
}

.cd3-color {
    color: #e24552;
}

.cd3hsa-color {
    color: #ef6a3d;
}

.cd3fc-color {
    color: #ddce12;
}


#graph-wrapper {
    display: none;
    position: absolute;
    left: 30px;
    top: 70px;
    right: 30px;
    bottom: 0;
    z-index: -20;
}


#menuY {
    width: 171px;
    height: 32px;
    font-size: 15px;
    font-family: "FoundryGridnik W01-Bold";
    text-align: left;
    padding-right: 6px;
    padding-top: 10px;
    top: 40%; 
    margin-left: 10px;
    margin-right: 15px;
    position: absolute;
    background-color: black;
    cursor:pointer;
}

#graph-container {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#graph {
    position: relative;
    left: 200px;
    right: 30px;
    min-width: 850px;
}


.axis path, .axis line {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: "FoundryGridnik W01-Medium";
    font-size: 13px;
}

.tick {
    stroke-dasharray: 1, 0;
}

#menuX {
    width: 171px;
    height: 32px;
    font-size: 15px;
    font-family: "FoundryGridnik W01-Bold";
    text-align: left;
    padding-right: 6px;
    padding-top: 10px;
    margin-bottom: 20px;
    margin-top: -35px;
    background-color: black;
    position: relative;
    cursor:pointer;
    left: 50%;
    z-index: 500000;
}

.graphMenu-label {
    position: relative;
    float:left;
    color:white;
    padding-right:4px;
    height: 28px;
    padding-left: 17px;
}

.graphMenu-item {
    display: none;
    position: relative;
    background-color: black;
    width: 160px;
    height: 32px;
    font-size: 15px;
    font-family: "FoundryGridnik W01-Medium";
    text-align: left;
    color: #999;
    padding-left: 17px;
    padding-top: 10px;
    float: left;
    cursor:pointer;
    z-index: 3;
}

.graphMenu-item:hover {
    display: block;
    position: relative;
    background-color: #7c7c7c;
    width: 160px;
    height: 32px;
    font-size: 15px;
    font-family: "FoundryGridnik W01-Medium";
    text-align: left;
    color: white;
    padding-left: 17px;
    padding-top: 10px;
    float: left;
}

#menuX-carrot, #menuY-carrot {
    float: right;
}

.selected, .selected:hover {
    color: white;
    font-family: "FoundryGridnik W01-Bold";
}

.x.label, .y.label{
    font-family: "FoundryGridnik W01-Bold";
    color: black;
    font-size: 18px;
}

#tooltip {   
    position: absolute;
    padding: 5px;
    color: white;
    background: black;
    border: 0px;
    pointer-events: none;
    z-index: 10;
    visibility: hidden;
}

.tooltipXY {
    font-size: 19px;
    text-align: center;
    font-family: "FoundryGridnik W01-Medium";
}

.tooltipName {
    font-family: "FoundryGridnik W01-Bold";
    font-size: 13px;
    text-align: center;
    padding-left: 2px;
}

#menu-container-x {
    position: absolute;
    margin-top: -178px;
}

#overlay-text {
    font-family: "FoundryGridnik W01-Medium";
    padding: 20px 10px 0 10px;
    text-align: left;
    color: black;
    font-size: 16px;
}

.overlay-text-header {
    font-family: "FoundryGridnik W01-Bold";
}

.overlay-ul {
    float: none;
    line-height: 130%;
}

.overlay-li {
    padding-left: 16px;
}

.overlay-table {
    border: none;
    color: black;
    padding-left: 0;
}

#info-overlay {
    background-color: white;
    opacity: 0;
    position: fixed;
    z-index: -1000;
    width: 100%;
    height: 100%;
}

#expanded-table td, #expanded-table th {
    vertical-align: top;
    font-size: 14px;
}

a.methodLink {
    text-decoration: underline;
}

a.methodLink:hover {
    color: #888;
    text-decoration: underline;
}


/* -------- RESOURCES AND ABOUT --------- */

#resourceContent {
    font-family: "FoundryGridnik W01-Medium";
    font-size: 16px;
    color: #58595b;
    line-height: 100%;
    max-width: 675px;
}

#resourceContent a {
    font-family: "FoundryGridnik W01-Medium";
    font-size: 16px;
    color: black;
    text-decoration: underline;
    line-height: 100%;
}

#resourceContent a:hover {
    font-family: "FoundryGridnik W01-Medium";
    font-size: 16px;
    color: #999;
    text-decoration: underline;
    line-height: 100%;
}

#resourceContent em, .boldP {
    color: black;
    font-family: "FoundryGridnik W01-Bold";
}

#resourceContent ul, #resourceContent li {
    list-style: disc outside none;
    margin-left: 10px;
}

#resourceContent li {
    margin-bottom: 25px;
}

.email, .email:hover {
    margin-top: -10px;
}


/* -------- ABOUT -- JQUERY OVERLAY --------- */

.ui-widget {
    font-family: "FoundryGridnik W01-Medium";
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-shadow: none;
}

.ui-widget-content {
    border: none;
}
.ui-widget-overlay {
    background: #000;
    opacity: 0.5;
}
.ui-widget-header {
    font-weight: normal;    
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

.ui-corner-all {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

#dialog {
    display: none;
    min-width: 600px;
    position: relative;
    left: auto;
}
.ui-dialog {
    background: #fff;
    padding: 0;
    position: fixed;
    top: 300px;
}
.ui-dialog a {
    outline: 0;
}
.ui-dialog a:hover {
}
.ui-dialog .ui-dialog-titlebar {
    border: none;
    background: #fff;
    color: #000;
    padding: 20px;
    color: black;
    font-family: "FoundryGridnik W01-Bold";
    text-transform: uppercase;
}
.ui-dialog .ui-icon-closethick {
    background-image: url('../img/Close@2x.png') !important;
    background-position: left top !important;
    background-size: 42px 42px;
    margin: 0 !important;
}
.ui-dialog .ui-dialog-titlebar-close {
    background: none !important;
    border: none !important;
}
.ui-dialog p {
    -webkit-margin-before: 0;
}
.ui-dialog .ui-dialog-content {
    padding: 0 20px 20px 20px;
    color: #777;
}
.ui-dialog .ui-dialog-content h1, .ui-dialog .ui-dialog-content strong {
    color: #000;
}
.ui-dialog .ui-dialog-content a {
    color: black;
    text-decoration: underline;
}

.ui-dialog .ui-dialog-content a:hover {
    color: #999;
    text-decoration: underline;
}

.ui-dialog .ui-dialog-titlebar-close, .ui-icon-closethick {
    width: 42px !important;
    height: 42px !important;
}
.ui-dialog .ui-dialog-titlebar-close, .ui-dialog .ui-dialog-titlebar-close:hover {
    padding: 0 !important;
}
.ui-dialog .ui-icon-closethick:hover {
    background-image: url('../img/CloseHover@2x.png') !important;
    background-size: 42px 42px;
}
.ui-dialog .ui-dialog-titlebar-close {
    top: 10px;
    right: 10px;
    outline: 0;
}
.ui-dialog .ui-button-icon-only .ui-icon {
    top: 0;
    left: 0;
}
.ui-dialog ul, .ui-dialog li {
    list-style: disc outside none;
    margin-left: 10px;
}
.dialog-title {
    font-family: "FoundryGridnik W01-Medium";
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000;
}



/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


@media only screen and (max-width: 1399px) {
    
   .detail-view {
        position: absolute;
        margin-top: 30px;
        width: 370px;
        display: block;
        vertical-align: baseline;
    }

    #fields-container {
        margin-left: 365px;
    }

    .meta-pair {
        clear: both;
        width: 150px;
        float: left;
        padding-bottom: 20px;
    }

    #detail-container {
        min-width: 1087px;
    }
}

@media only screen and (max-width: 1220px) {
    body {
        min-width: 1220px;
    }

    .site-wrap {
       min-width: 1220px;
    }

    .header .container {
     width: 1220px; 
     position: relative;
    }

    .header {
        width: 1220px;
        position: absolute;
    }

}


@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
